.kinetic-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
    border-radius: 1rem;
    background: #111827;
}

.kinetic-loader {
    position: relative;
    height: 80px;
    width: 80px;
}

.kinetic-loader::after,
.kinetic-loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #fff;
    animation: loader-rotate-a 2s linear infinite 0.5s;
}

.kinetic-loader::before {
    transform: rotate(90deg);
    animation: loader-rotate-b 2s linear infinite;
}

@keyframes loader-rotate-a {
    0%,
    25% {
        transform: rotate(0deg);
    }

    50%,
    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate-b {
    0%,
    25% {
        transform: rotate(90deg);
    }

    50%,
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(450deg);
    }
}