<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <section class="restaurants_section">
      <header>
        <h1>All restaurants (6)</h1>
      </header>
      <ul class="restaurants_list">
        <li class="restaurant_item">
          <div class="restaurant_item_img_wrapper">
            <img src="https://placehold.co/400" alt="">
          </div>
          <div class="restaurant_item_details">
            <h2 class="restaurant_item_name">Clärchens Ballhaus</h2>
            <div class="restaurant_item_location">
              <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
                stroke-width="0.00024000000000000003">
                <path
                  d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
                </path>
              </svg>
              <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
            </div>
            <div class="restaurant_item_opening">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
                <path
                  d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p><strong>Open now</strong> - Closes at 2:00 am</p>
            </div>
            <div class="restaurant_item_rating">
              <button class="star_btn">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#8e9fec">
                  <path fill="#8e9fec"
                    d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                  </path>
                </svg>
              </button>
              <p>4.5</p>
            </div>
          </div>
        </li>
        <li class="restaurant_item">
          <div class="restaurant_item_img_wrapper">
            <img src="https://placehold.co/400" alt="">
          </div>
          <div class="restaurant_item_details">
            <h2 class="restaurant_item_name">Clärchens Ballhaus</h2>
            <div class="restaurant_item_location">
              <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
                stroke-width="0.00024000000000000003">
                <path
                  d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
                </path>
              </svg>
              <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
            </div>
            <div class="restaurant_item_opening">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
                <path
                  d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p><strong>Open now</strong> - Closes at 2:00 am</p>
            </div>
            <div class="restaurant_item_rating">
              <button class="star_btn">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#8e9fec">
                  <path fill="#8e9fec"
                    d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                  </path>
                </svg>
              </button>
              <p>4.5</p>
            </div>
          </div>
        </li>
        <li class="restaurant_item">
          <div class="restaurant_item_img_wrapper">
            <img src="https://placehold.co/400" alt="">
          </div>
          <div class="restaurant_item_details">
            <h2 class="restaurant_item_name">Clärchens Ballhaus</h2>
            <div class="restaurant_item_location">
              <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
                stroke-width="0.00024000000000000003">
                <path
                  d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
                </path>
              </svg>
              <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
            </div>
            <div class="restaurant_item_opening">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
                <path
                  d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p><strong>Open now</strong> - Closes at 2:00 am</p>
            </div>
            <div class="restaurant_item_rating">
              <button class="star_btn">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#8e9fec">
                  <path fill="#8e9fec"
                    d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                  </path>
                </svg>
              </button>
              <p>4.5</p>
            </div>
          </div>
        </li>
        <li class="restaurant_item">
          <div class="restaurant_item_img_wrapper">
            <img src="https://placehold.co/400" alt="">
          </div>
          <div class="restaurant_item_details">
            <h2 class="restaurant_item_name">Clärchens Ballhaus</h2>
            <div class="restaurant_item_location">
              <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
                stroke-width="0.00024000000000000003">
                <path
                  d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
                </path>
              </svg>
              <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
            </div>
            <div class="restaurant_item_opening">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
                <path
                  d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p><strong>Open now</strong> - Closes at 2:00 am</p>
            </div>
            <div class="restaurant_item_rating">
              <button class="star_btn">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#8e9fec">
                  <path fill="#8e9fec"
                    d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                  </path>
                </svg>
              </button>
              <p>4.5</p>
            </div>
          </div>
        </li>
        <li class="restaurant_item">
          <div class="restaurant_item_img_wrapper">
            <img src="https://placehold.co/400" alt="">
          </div>
          <div class="restaurant_item_details">
            <h2 class="restaurant_item_name">Clärchens Ballhaus</h2>
            <div class="restaurant_item_location">
              <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
                stroke-width="0.00024000000000000003">
                <path
                  d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
                </path>
              </svg>
              <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
            </div>
            <div class="restaurant_item_opening">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
                <path
                  d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p><strong>Open now</strong> - Closes at 2:00 am</p>
            </div>
            <div class="restaurant_item_rating">
              <button class="star_btn">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#8e9fec">
                  <path fill="#8e9fec"
                    d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                  </path>
                </svg>
              </button>
              <p>4.5</p>
            </div>
          </div>
        </li>
        <li class="restaurant_item">
          <div class="restaurant_item_img_wrapper">
            <img src="https://placehold.co/400" alt="">
          </div>
          <div class="restaurant_item_details">
            <h2 class="restaurant_item_name">Clärchens Ballhaus</h2>
            <div class="restaurant_item_location">
              <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
                stroke-width="0.00024000000000000003">
                <path
                  d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
                </path>
              </svg>
              <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
            </div>
            <div class="restaurant_item_opening">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
                <path
                  d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p><strong>Open now</strong> - Closes at 2:00 am</p>
            </div>
            <div class="restaurant_item_rating">
              <button class="star_btn">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#8e9fec">
                  <path fill="#8e9fec"
                    d="M63.893,24.277c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15 C33.479,0.448,32.773,0,31.998,0s-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343 c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957 c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719c0.302,0.166,0.636,0.25,0.968,0.25 c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704l14.294-14.657 C63.951,25.771,64.131,24.987,63.893,24.277z">
                  </path>
                </svg>
              </button>
              <p>4.5</p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="restaurant_details_section">
      <header>
        <h2>Clärchens Ballhaus</h2>
        <button class="close_btn">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff"
            stroke-width="0.00024000000000000003">
            <path
              d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z"
              fill="#fff"></path>
          </svg>
        </button>
      </header>
      <ul class="restaurant_details_imgs">
        <li>
          <img src="https://placehold.co/300x150" alt="">
        </li>
        <li>
          <img src="https://placehold.co/160x150" alt="">
        </li>
        <li>
          <img src="https://placehold.co/220x150" alt="">
        </li>
        <li>
          <img src="https://placehold.co/220x150" alt="">
        </li>
      </ul>
      <div class="restaurant_item_location">
        <svg fill="#feb206" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
          y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#feb206"
          stroke-width="0.00024000000000000003">
          <path
            d="M12,1c-4.97,0-9,4.03-9,9c0,6.75,9,13,9,13s9-6.25,9-13C21,5.03,16.97,1,12,1z M12,13c-1.66,0-3-1.34-3-3s1.34-3,3-3 s3,1.34,3,3S13.66,13,12,13z">
          </path>
        </svg>
        <p>Clärchens Ballhaus Auguststraße 24.10117 Berlin</p>
      </div>
      <div class="restaurant_item_opening">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#feb206">
          <path
            d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
            stroke="#feb206" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <p><strong>Open now</strong> - Closes at 2:00 am</p>
      </div>
      <div class="reservation_area">
        <h3>Make a reservation</h3>
        <form class="reservation_form" action="javascript:void(0)">
          <fieldset>
            <legend>
              <svg fill="#fff" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                <path
                  d="M1807.059 1270.091c-68.668 48.452-188.725 116.556-343.906 158.57-18.861-102.55-92.725-187.37-196.066-219.106-91.708-28.235-185.11-48.339-279.53-61.666 71.944-60.762 121.638-145.807 135.982-243.162 21.91-.791 44.837-1.243 71.04-1.243 166.023.904 331.143 26.316 490.955 75.445 72.621 22.362 121.525 87.755 121.525 162.861v128.301Zm-451.765 338.824c-114.183 80.753-330.24 198.099-621.176 198.099-129.43 0-379.144-26.203-621.177-198.1v-128.752c0-74.993 49.017-140.499 121.75-162.861 162.41-49.694 330.354-74.88 499.427-74.88h8.47c166.588.79 331.821 26.09 491.407 75.106 72.509 22.249 121.3 87.642 121.3 162.635v128.753Zm-903.53-761.901V734.072c0-155.632 126.608-282.352 282.354-282.352 155.746 0 282.353 126.72 282.353 282.352v112.942c0 155.746-126.607 282.353-282.353 282.353S451.765 1002.76 451.765 847.014Zm734.118-734.118c75.22 0 146.146 29.478 199.567 82.899 53.309 53.421 82.786 124.235 82.786 199.454V508.19c0 155.746-126.607 282.353-282.353 282.353-19.651 0-38.4-2.598-56.47-6.438v-50.033c0-156.423-92.047-290.71-224.188-354.748 8.357-148.066 130.447-266.428 280.658-266.428Zm532.857 758.061c-91.37-28.01-184.546-48.226-279.755-61.666 86.174-72.508 142.192-179.802 142.192-301.1V395.248c0-105.374-41.11-204.65-115.877-279.304-74.767-74.767-173.93-115.99-279.417-115.99-200.696 0-365.138 151.002-390.211 345.148-20.217-3.275-40.433-6.325-61.553-6.325-217.977 0-395.294 177.43-395.294 395.294v112.942c0 121.298 56.018 228.593 142.305 301.214-94.305 13.214-188.16 33.092-279.529 61.1C81.092 1246.375 0 1355.249 0 1480.163v185.675l22.588 16.941c275.238 206.344 563.803 237.177 711.53 237.177 344.244 0 593.618-148.63 711.53-237.177l22.587-16.94v-120.51c205.214-50.597 355.652-146.032 429.177-201.373l22.588-16.941V1141.79c0-125.026-80.979-233.901-201.261-270.833Z"
                  fill-rule="evenodd"></path>
              </svg>
              <span>4 people</span>
            </legend>
            <ul class="inputs_list people">
              <li>
                <input type="radio" name="people" id="people2" value="2">
                <label for="people2">2</label>
              </li>
              <li>
                <input type="radio" name="people" id="people3" value="3">
                <label for="people3">3</label>
              </li>
              <li>
                <input type="radio" name="people" id="people4" value="4">
                <label for="people4">4</label>
              </li>
              <li>
                <input type="radio" name="people" id="people5" value="5">
                <label for="people5">5</label>
              </li>
              <li>
                <input type="radio" name="people" id="people6" value="6">
                <label for="people6">6</label>
              </li>
              <li>
                <input type="radio" name="people" id="people7" value="7">
                <label for="people7">7</label>
              </li>
              <li>
                <input type="radio" name="people" id="people8" value="8">
                <label for="people8">8</label>
              </li>
              <li>
                <input type="radio" name="people" id="people9" value="9">
                <label for="people9">9</label>
              </li>
              <li>
                <input type="radio" name="people" id="people10" value="10">
                <label for="people10">10</label>
              </li>
              <li>
                <input type="radio" name="people" id="people11" value="11">
                <label for="people11">11</label>
              </li>
              <li>
                <input type="radio" name="people" id="people12" value="12">
                <label for="people12">12</label>
              </li>
              <li>
                <input type="radio" name="people" id="people13" value="13">
                <label for="people13">13</label>
              </li>
              <li>
                <input type="radio" name="people" id="people14" value="14">
                <label for="people14">14</label>
              </li>
              <li>
                <input type="radio" name="people" id="people15" value="15">
                <label for="people15">15</label>
              </li>
              <li>
                <input type="radio" name="people" id="people16" value="16">
                <label for="people16">16</label>
              </li>
              <li>
                <input type="radio" name="people" id="people17" value="17">
                <label for="people17">17</label>
              </li>
              <li>
                <input type="radio" name="people" id="people18" value="18">
                <label for="people18">18</label>
              </li>
              <li>
                <input type="radio" name="people" id="people19" value="19">
                <label for="people19">19</label>
              </li>
              <li>
                <input type="radio" name="people" id="people20" value="20">
                <label for="people20">20</label>
              </li>
            </ul>
            <button class="more_people_btn">More than 20 people?</button>
          </fieldset>
          <fieldset>
            <legend>
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                <path
                  d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                  stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 6V12" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M16.24 16.24L12 12" stroke="#fff" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round">
                </path>
              </svg>
              <span>Choose a time:</span>
            </legend>
            <ul class="inputs_list time">
              <li>
                <input type="radio" name="time" id="time1" value="8:00 pm">
                <label for="time1">8:00 pm</label>
              </li>
              <li>
                <input type="radio" name="time" id="time2" value="8:30 pm">
                <label for="time2">8:30 pm</label>
              </li>
              <li>
                <input type="radio" name="time" id="time3" value="9:00 pm">
                <label for="time3">9:00 pm</label>
              </li>
              <li>
                <input type="radio" name="time" id="time4" value="9:30 pm">
                <label for="time4">9:30 pm</label>
              </li>
            </ul>
          </fieldset>
          <button class="reserve_btn">Reserve a table</button>
        </form>
      </div>
    </section>
  </main>

  <style>
    :root {
      --bg-body: rgba(235, 144, 102, 1);
      --bg-sections: rgba(32, 33, 37, 1);
      --clr-font-1: rgba(255, 255, 255, 1);
      --clr-font-2: rgba(32, 33, 37, 1);
      --font: "Poppins", sans-serif;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      font-family: var(--font);
      -webkit-tap-highlight-color: transparent;
    }

    body {
      min-height: 100dvh;
      margin: 0;
      background: var(--bg-body);
      display: grid;
      place-items: center;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul::-webkit-scrollbar {
      width: 8px;
      height: 10px;
    }

    ul::-webkit-scrollbar-track {
      background: var(--bg-sections);
    }

    ul::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 30px;
    }

    button {
      padding: 0;
      border: none;
      cursor: pointer;
    }

    h1,
    h2,
    p {
      margin: 0;
    }

    main {
      padding: 20px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
    }

    section {
      width: 430px;
      padding: 30px;
      background: var(--bg-sections);
      color: var(--clr-font-1);
      border-radius: 10px;
    }

    .restaurants_section h1 {
      font-size: 20px;
    }

    .restaurants_list {
      height: 400px;
      padding-right: 5px;
      overflow-y: auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .restaurant_item {
      padding: 14px;
      background: rgba(255, 255, 255, 1);
      color: var(--clr-font-2);
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .restaurant_item_img_wrapper {
      max-width: 95px;
      aspect-ratio: 1;
      border-radius: 5px;
      overflow: hidden;
    }

    .restaurant_item_img_wrapper img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .restaurant_item_name {
      font-size: 15px;
    }

    :is(.restaurant_item_location, .restaurant_item_opening) {
      display: flex;
      align-items: flex-start;
      gap: 5px;
    }

    :is(.restaurant_item_location, .restaurant_item_opening) svg {
      min-width: 18px;
      max-width: 18px;
    }

    :is(.restaurant_item_location, .restaurant_item_opening) p {
      font-size: 12px;
    }

    .restaurant_item_location {
      margin: 8px 0;
    }

    .restaurant_item_rating {
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 2px;
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .star_btn {
      width: 25px;
      aspect-ratio: 1;
      background: transparent;
      display: grid;
      place-content: center;
    }

    .star_btn svg {
      width: 20px;
    }

    .restaurant_details_section header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .close_btn {
      width: 30px;
      aspect-ratio: 1;
      background: none;
      display: grid;
      place-content: center;
    }

    .close_btn svg {
      width: 25px;
    }

    .restaurant_details_section h2 {
      font-size: 18px;
    }

    .restaurant_details_imgs {
      margin: 15px 0;
      padding-bottom: 5px;
      height: 120px;
      display: flex;
      gap: 15px;
      overflow-x: auto;
    }

    .restaurant_details_imgs li img {
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .reservation_area {
      margin-top: 40px;
    }

    .reservation_area h3 {
      font-size: 16px;
    }

    .reservation_form fieldset {
      padding: 0;
      border: none;
    }

    .reservation_form legend {
      width: 100%;
      padding: 15px 0;
      font-size: 14px;
      border-bottom: 2px solid rgba(255, 255, 255, .5);
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .reservation_form legend svg {
      width: 24px;
    }

    .inputs_list {
      margin: 15px 0 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 4px;
    }

    .inputs_list.time {
      gap: 25px 15px;
    }

    .inputs_list li {
      position: relative;
    }

    .inputs_list li input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 0;
      aspect-ratio: 1;
      position: absolute;
      left: 0;
      top: 0;
    }

    .inputs_list li label {
      padding: 5px 10px;
      font-size: 15px;
      border-radius: 30px;
      cursor: pointer;
    }

    .inputs_list.people li label {
      min-width: 35px;
      aspect-ratio: 1;
      padding: 0;
      border-radius: 50%;
      display: grid;
      place-content: center;
    }

    .inputs_list li input:checked+label {
      background: rgba(254, 178, 6, 1);
    }

    .inputs_list li input:focus-visible+label {
      outline: 2px dashed rgba(255, 255, 255, 1);
      outline-offset: 2px;
    }

    .more_people_btn {
      background: transparent;
      color: rgba(254, 178, 6, 255);
      font-size: 13px;
    }

    .reserve_btn {
      display: inline-block;
      width: clamp(0px, 100%, 230px);
      margin-top: 15px;
      padding: 12px 0;
      background: rgba(254, 178, 6, 255);
      color: rgba(255, 255, 255, 1);
      font-size: 15px;
      font-weight: 700;
      border-radius: 30px;
    }

    @media(max-width: 475px) {
      section {
        width: 300px;
      }

      .restaurant_item {
        flex-direction: column;
      }

      .restaurant_item_name {
        text-align: center;
      }
    }
  </style>
  <script type="module">
    // Add JavaScript code here
  </script>
</body>

</html>