<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
</head>

<!-- Change code below this line -->

<body>
  <div class="millhouse-overlay">
    <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe
        src="https://giphy.com/embed/VfyC5j7sR4cso" width="100%" height="100%" style="position:absolute" frameborder="0"
        class="giphy-embed" allowfullscreen=""></iframe>
    </div>
  </div>
  <main class="">
    <div class="main-left">
      <div class="card restaurants">
        <ul class="restaurants-list" style="transform: translateY(0%);">
          <h2>Restaurants</h2>
          <li class="restaurant-item">
            <a href="#">
              <div class="restaurant-image">
                <img
                  src="https://images.unsplash.com/photo-1568625365131-079e026a927d?w=500&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njd8fHNhbGFkc3xlbnwwfHwwfHx8MA%3D%3D"
                  alt="Clärchens Ballhaus">
              </div>
              <div class="restaurant-info">
                <div class="title">
                  <h3>Clärchens Ballhaus</h3>
                  <div class="rating">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star"
                      viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                      stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                      </path>
                    </svg>
                    <p>4.5</p>
                  </div>
                </div>
                <div class="address">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                  </svg>
                  <p>Clärchens Ballhaus Auguststraße, 24 10117 Berlin</p>
                </div>
                <div class="schedule">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="
                                                                    none" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                    <path d="M12 7v5l3 3"></path>
                  </svg>
                  <p><strong>Open Now</strong> - Closes at 2:00 am</p>
                </div>
              </div>
            </a>
          </li>
        </ul>

      </div>
      <button class="reserve-btn">
        <p style="transform: translateX(0%);">Reserve a Table</p>
      </button>
    </div>
    <div class="main-right">
      <div class="card people-wrapper">
        <div class="people people--active" style="transform: translateX(0%);">
          <div class="schedule">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
              <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
              <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
            </svg>
            <p>2 people</p>
            <button class="toggle-people-btn people--active">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
              </svg>
            </button>
          </div>
          <fieldset>
            <legend hidden="">People selection</legend>
            <div class="input-group-people">
              <input type="radio" id="onepeople" value="1" name="people-radio">
              <label for="onepeople">1</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="twopeople" value="2" name="people-radio">
              <label for="twopeople">2</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="threepeople" value="3" name="people-radio">
              <label for="threepeople">3</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="fourpeople" value="4" name="people-radio" checked="">
              <label for="fourpeople">4</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="fivepeople" value="5" name="people-radio">
              <label for="fivepeople">5</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="sixpeople" value="6" name="people-radio">
              <label for="sixpeople">6</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="sevenpeople" value="7" name="people-radio">
              <label for="sevenpeople">7</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="eightpeople" value="8" name="people-radio">
              <label for="eightpeople">8</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="ninepeople" value="9" name="people-radio">
              <label for="ninepeople">9</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="tenpeople" value="10" name="people-radio">
              <label for="tenpeople">10</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="elevenpeople" value="11" name="people-radio">
              <label for="elevenpeople">11</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="twelvepeople" value="12" name="people-radio">
              <label for="twelvepeople">12</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="thirteenpeople" value="13" name="people-radio">
              <label for="thirteenpeople">13</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="fourteenpeople" value="14" name="people-radio">
              <label for="fourteenpeople">14</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="fifteenpeople" value="15" name="people-radio">
              <label for="fifteenpeople">15</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="sixteenpeople" value="16" name="people-radio">
              <label for="sixteenpeople">16</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="seventeenpeople" value="17" name="people-radio">
              <label for="seventeenpeople">17</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="eightteenpeople" value="18" name="people-radio">
              <label for="eightteenpeople">18</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="nineteenpeople" value="19" name="people-radio">
              <label for="nineteenpeople">19</label>
            </div>
            <div class="input-group-people">
              <input type="radio" id="twentypeople" value="20" name="people-radio">
              <label for="twentypeople">20</label>
            </div>
          </fieldset>
          <div class="tables">
            <div class="inner-tables">
              <div class="table-item">
                <div class="table-member table-1 table-member--active" data-id="1"></div>
                <div class="table-member table-2 table-member--active" data-id="2"></div>
                <div class="table-member table-3" data-id="3"></div>
                <div class="table-member table-4" data-id="4"></div>
              </div>
              <div class="table-item">
                <div class="table-member table-1" data-id="5"></div>
                <div class="table-member table-2" data-id="6"></div>
                <div class="table-member table-3" data-id="7"></div>
                <div class="table-member table-4" data-id="8"></div>
              </div>
              <div class="table-item">
                <div class="table-member table-1" data-id="9"></div>
                <div class="table-member table-2" data-id="10"></div>
                <div class="table-member table-3" data-id="11"></div>
                <div class="table-member table-4" data-id="12"></div>
              </div>
              <div class="table-item">
                <div class="table-member table-1" data-id="13"></div>
                <div class="table-member table-2" data-id="14"></div>
                <div class="table-member table-3" data-id="15"></div>
                <div class="table-member table-4" data-id="16"></div>
              </div>
              <div class="table-item">
                <div class="table-member table-1" data-id="17"></div>
                <div class="table-member table-2" data-id="18"></div>
                <div class="table-member table-3" data-id="19"></div>
                <div class="table-member table-4" data-id="20"></div>
              </div>
            </div>
          </div>
          <a href="#">More than 20 people?</a>
        </div>

      </div>
      <div class="card time-wrapper">

        <div class="time" style="transform: translateY(0%);">
          <div class="schedule">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="
                                                                                                    none" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M12 7v5l3 3"></path>
            </svg>
            <p>Choose a time</p>
          </div>
          <fieldset>
            <legend hidden="">Time selection</legend>
            <div class="input-group-time">
              <input type="radio" id="eightpm" name="time-radio">
              <label for="eightpm">8:00 pm</label>
            </div>
            <div class="input-group-time">
              <input type="radio" id="eightthirtypm" name="time-radio">
              <label for="eightthirtypm">8:30 pm</label>
            </div>
            <div class="input-group-time">
              <input type="radio" id="ninepm" name="time-radio">
              <label for="ninepm">9:00 pm</label>
            </div>
            <div class="input-group-time">
              <input type="radio" id="ninethirtypm" name="time-radio">
              <label for="ninethirtypm">9:30 pm</label>
            </div>
          </fieldset>
        </div>

      </div>
    </div>

  </main>


  <style>
    /* Add CSS here */

    :root {
      --clr-primario: white;
      --clr-secundario: hsl(214, 86%, 14%);
      --clr-ternario: hsla(234, 37%, 26%, .6);
      --clr-accent-light: hsl(56, 45%, 58%, .4);
      --clr-accent: hsl(56, 45%, 58%);
      --clr-accent-dark: hsl(56, 45%, 38%);
      --clr-bg: hsl(213, 86%, 50%);
      --clr-bg-card: hsl(214, 86%, 14%);
      --clr-bg-header: hsl(12, 67%, 60%);
      --clr-bg-restaurant: hsl(11, 87%, 68%);
      --clr-bg-extra-buttons: hsl(11, 67%, 80%);
      --clr-bg-phone: hsl(124, 64%, 59%);
      --clr-bg-bookmark: hsl(207, 89%, 68%);
      --clr-bg-star-active: hsl(54, 100%, 73%);
      --clr-bg-star-inactive: hsl(12, 67%, 60%);
      --clr-bg-header-icon-hover: hsla(12, 67%, 20%);
      --clr-box-shadow: hsl(0, 0%, 0%, .4);
      --ff-primaria: 'Poppins', sans-serif;
      --fs-primaria: 1rem;
      transition: all .250s ease-in-out;
    }

    /* Estilos Reset */
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      font-family: var(--ff-primaria);
      box-sizing: border-box;
      scroll-behavior: smooth;
      -webkit-tap-highlight-color: transparent;
    }

    img,
    svg {
      display: block;
      max-width: 100%;
    }

    body {
      line-height: 1.5;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
    }


    button,
    input {
      position: relative;
      appearance: none;
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
      z-index: 1;
    }

    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      cursor: pointer;
    }

    ::-webkit-scrollbar-track {
      background: transparent !important;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--clr-accent);
    }

    ::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    [hidden] {
      display: none;
    }

    /* utility classes */

    .opacity-0 {
      opacity: 0;
    }

    .visibility-0 {
      visibility: hidden;
    }

    .pointer-events-none {
      pointer-events: none;
    }

    .translate-x-100 {
      transform: translateX(100%);
    }

    .-translate-x-100 {
      transform: translateX(-100%);
    }

    .translate-x-100vw {
      transform: translateX(100vw);
    }

    .-translate-x-100vw {
      transform: translateX(-100vw);
    }

    .translate-y-100vh {
      transform: translateY(100vh);
    }

    .-translate-y-100vh {
      transform: translateY(-100vh);
    }

    .translate-y-100 {
      transform: translateY(100%);
    }

    .-translate-y-100 {
      transform: translateY(-100%);
    }

    .scale-0 {
      scale: 0;
    }

    .scale-y-0 {
      transform: scaleY(0);
    }

    .-rotate-180 {
      transform: rotate(-180deg);
    }

    .rotate-180 {
      transform: rotate(180deg);
    }

    .invert-x {
      transform: scaleX(-1);
    }

    .invert-y {
      transform: scaleY(-1);
    }

    .translate-x-vw {
      transform: translateX(100vw);
    }

    .-translate-x-vw {
      transform: translateX(-100vw);
    }

    /* Estilos principales */
    body {
      display: grid;
      place-content: center center;
      min-height: 100dvh;
      background-color: var(--clr-bg);
      color: var(--clr-primario);
      font-size: var(--fs-primaria);
      font-weight: 400;
      user-select: none;
    }

    /* 
body:after {
    position: fixed;
    content: '';
    inset: 0rem;
    background-image: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .3;
    z-index: -1;
} */



    main {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2rem;
      width: clamp(20rem, 100vw, 60rem);
      padding: 1rem;
      transition: all .400s ease-in-out;
    }

    .main-left {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 2rem;
      width: 50%;
    }

    .card {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: var(--clr-bg-card);
      border-radius: .3rem;
      box-shadow: 0px 10px 20px var(--clr-box-shadow);
      transition: all .800s ease-in-out;
    }

    .restaurants {
      overflow: hidden;
    }

    .restaurants-list {
      width: 23rem;
      list-style: none;
      transform: translateY(110%);
      transition: all .400s ease-in-out;
    }

    h2 {
      font-size: 1rem;
      font-weight: 700;
      margin-block-end: 1rem;
    }

    .restaurant-item {
      background-color: var(--clr-primario);
      border-radius: .3rem;
    }

    .restaurant-item>a {
      display: flex;
      gap: .6rem;
      padding: .6rem;
      overflow: hidden;
    }

    .restaurant-image {
      flex-shrink: 0;
      align-self: start;
      width: 5rem;
      aspect-ratio: 1;
      border-radius: .3rem;
      overflow: hidden;
    }

    .restaurant-info {
      display: flex;
      flex-direction: column;
      gap: .25rem;
      flex: 1;
      color: var(--clr-secundario);
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      font-size: .8rem;
      font-weight: 700;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: .25rem;
      font-size: .8rem;
    }

    .rating>svg {
      flex-shrink: 0;
      width: .9rem;
      stroke: var(--clr-bg) !important;
      fill: var(--clr-bg) !important;
    }

    .address,
    .schedule {
      display: flex;
      align-items: start;
      gap: .25rem;
      font-size: .65rem;
    }

    .address svg,
    .schedule svg {
      flex-shrink: 0;
      width: 1rem;
      stroke: var(--clr-accent);
    }

    .address p {
      max-width: 80%;
      ;
    }

    .reserve-btn {
      position: relative;
      width: 15rem;
      padding-block: .8rem;
      background-color: var(--clr-accent);
      font-size: .8rem;
      font-weight: 600;
      border-radius: 4rem;
      box-shadow: 0px 10px 20px var(--clr-box-shadow);
      transition: all .800s ease-in-out;
      z-index: 1;
      overflow: hidden;
    }

    .reserve-btn:after {
      position: absolute;
      content: '';
      inset: 0;
      width: 0%;
      height: 100%;
      background-color: var(--clr-accent-dark);
      border-radius: 4rem;
      transition: all .400s ease-in-out;
      z-index: -1;
    }

    .reserve-btn:hover:after {
      width: 100%;
    }

    .reserve-btn p {
      transform: translateX(110%);
      transition: all .400s ease-in-out;
    }

    .main-right {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .people-wrapper {
      margin-inline-start: 1rem;
      width: 20rem;
      overflow: hidden;
    }

    .people {
      position: relative;
      display: grid;
      grid-template-rows: 2rem 0rem 0rem 0rem;
      transform: translateX(-110%);
      transition: all .400s ease-in-out;
    }

    .time-wrapper {
      width: 20rem;
      overflow: hidden;
    }

    .time {
      transform: translateY(-110%);
      transition: all .400s ease-in-out;
    }

    .time .schedule,
    .people .schedule {
      gap: 1rem;
      padding-block-start: .4rem;
      padding-block-end: 1.2rem;
      border-bottom: 1px solid var(--clr-primario);
      font-size: .8rem;
    }

    fieldset {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: .5rem;
      padding-block: 1rem;
      border: none;
    }

    .people fieldset {
      justify-content: start;
      gap: .2rem;
    }

    .input-group-time,
    .input-group-people {
      position: relative;
      display: flex;
      font-size: .8rem;
      border-radius: 4rem;
    }

    .input-group-time input[tyoe="radio"],
    .input-group-people input[tyoe="radio"] {
      position: absolute;
      inset: 0;
    }

    .input-group-time label,
    .input-group-people label {
      padding-block: .4rem;
      padding-inline: 1rem;
      background-color: transparent;
      border-radius: 4rem;
      cursor: pointer;
      transition: all .250s ease-in-out;
    }

    .input-group-people label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
    }

    .input-group-time input[type="radio"]:checked+label,
    .input-group-people input[type="radio"]:checked+label {
      background-color: var(--clr-accent);
    }

    label:hover {
      background-color: var(--clr-accent-light)
    }

    .toggle-people-btn {
      position: absolute;
      right: 1rem;
    }

    .toggle-people-btn svg {
      width: 1.2rem;
      transition: all .250s ease-in-out;
    }

    .toggle-people-btn.people--active svg {
      width: 1.2rem;
      transform: rotate(180deg);
      transition: all .250s ease-in-out;
    }

    .people a {
      color: var(--clr-accent);
      font-size: .8rem;
      transition: all .800s ease-in-out, color .400s ease-in-out, opacity .200s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    .people a:hover {
      color: var(--clr-accent-dark);
    }

    .people.people--active {
      grid-template-rows: 3rem 8.6rem 5rem 1rem;
    }

    .people .schedule {
      border-bottom: 1px solid transparent;
      transition: all .200s ease-in-out, opacity .400s ease-in-out;
    }

    .people fieldset {
      transition: all .400s ease-in-out, opacity .200s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    .people.people--active fieldset {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .200s .200s ease-in-out;
    }

    .people.people--active a {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .200s .200s ease-in-out;
    }

    .people.people--active .schedule {
      border-bottom: 1px solid var(--clr-primario);
    }

    .tables {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .400s ease-in-out, opacity .200s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    .people.people--active .tables {
      opacity: 1;
      pointer-events: visible;
      transition: opacity .200s .200s ease-in-out;
    }

    .inner-tables {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-block-start: -1rem;
    }

    .table-item {
      position: relative;
      width: 1.4rem;
      aspect-ratio: 1;
      border: 1px solid var(--clr-accent);
      border-radius: .3rem;
      transform: rotate(45deg);
      opacity: .3;
      transition: all .250s ease-in-out;
    }


    .table-item:has(.table-member.table-member--active) {
      opacity: 1;
    }


    .table-member {
      position: absolute;
      width: .5rem;
      aspect-ratio: 1;
      background-color: transparent;
      border: 1px solid var(--clr-accent-light);
      border-radius: 50%;
      transition: all .250s ease-in-out;
    }

    .table-member.table-member--active {
      background-color: var(--clr-accent);
    }

    .table-1 {
      top: -.8rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .table-2 {
      bottom: -.8rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .table-3 {
      left: -.8rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .table-4 {
      right: -.8rem;
      top: 50%;
      transform: translateY(-50%);
    }


    .millhouse-overlay {
      position: absolute;
      top: 0rem;
      left: 50%;
      transform: translate(-50%, -101%);
      width: 20rem;
      aspect-ratio: 16/13;
      padding: 1rem;
      border-radius: .5rem;
      opacity: 0;
      pointer-events: none;
      background-color: var(--clr-bg-card);
      overflow: hidden;
      transition: all .400s ease-in-out;
      z-index: 9;

    }

    body:has(.input-group-people:nth-child(2):hover) .millhouse-overlay {
      transform: translate(-50%, 0%);
      opacity: 1;
    }

    @media (max-width: 40rem) {

      main {
        flex-direction: column;
        align-items: center;
      }

      .main-left {
        width: 20rem;
      }

      .reserve-btn {
        width: 20rem;
      }

      .restaurants {
        width: 20rem;
      }

      .restaurants-list {
        width: 100%;
      }

      .people-wrapper {
        margin-inline-start: 0rem;
      }
    }
  </style>
  <script type="module">
    // Add JavaScript code here

    const links = document.querySelectorAll('a');
    const inputPeople = document.querySelectorAll('.input-group-people input');
    const togglePeopleBtn = document.querySelector('.toggle-people-btn');
    const cardRestaurants = document.querySelector('.restaurants');
    const restaurantsList = document.querySelector('.restaurants-list');
    const cardButton = document.querySelector('.reserve-btn');
    const reserveText = document.querySelector('.reserve-btn p');
    const cardPeople = document.querySelector('.people-wrapper');
    const innerPeople = document.querySelector('.people');
    const cardTime = document.querySelector('.time-wrapper');
    const innerTime = document.querySelector('.time');
    const moreBtn = document.querySelector('.people a');
    const tablesContainer = document.querySelector('.inner-tables');
    const numTables = 5;

    // Prevent links default behaviour
    const overrideLinks = () => {
      links.forEach((link) => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
        });
      });
    }


    const drawTables = (numTables) => {
      let tableMemberNum = 1;
      tablesContainer.innerHTML = '';
      for (let i = 0; i < numTables; i++) {

        tablesContainer.innerHTML += `<div class="table-item">
                                <div class="table-member table-1" data-id="${tableMemberNum}"></div>
                                <div class="table-member table-2" data-id="${tableMemberNum + 1}"></div>
                                <div class="table-member table-3" data-id="${tableMemberNum + 2}"></div>
                                <div class="table-member table-4" data-id="${tableMemberNum + 3}"></div>
                            </div>                       
                            `;
        tableMemberNum += 4;
      }
    };


    // Reset all seats
    const resetSeatsReserved = () => {
      const tableMembers = document.querySelectorAll('.table-member');
      tableMembers.forEach(tableMember => {
        tableMember.classList.remove('table-member--active');
      });
    }

    // Draw seats reserved
    const drawSeatsReserved = (numPeople) => {
      const tableMembers = document.querySelectorAll('.table-member');
      resetSeatsReserved();
      tableMembers.forEach(tableMember => {
        if (+(tableMember.dataset.id) <= numPeople) {
          tableMember.classList.add('table-member--active');
        }
      });
    }


    // More people, are you crazy?
    const morePeople = () => {
      moreBtn.addEventListener('click', (e) => {
        alert("Let's talk");
      });
    };

    // Toggle People
    const togglePeople = () => {
      togglePeopleBtn.addEventListener('click', (e) => {
        e.currentTarget.classList.toggle('people--active');
        if (e.currentTarget.classList.contains('people--active')) {
          innerPeople.classList.add('people--active');
        }
        else {
          innerPeople.classList.remove('people--active');
        }
      })
    };

    // Update number of people
    const updateNumberPeople = () => {
      inputPeople.forEach((input) => {
        input.addEventListener('change', (e) => {
          document.querySelector('.people .schedule p').textContent = input.value + ' people';
          drawSeatsReserved(+input.value);
        });
      })
    }


    //The Marcin Malecki's way for thumbnail perfection
    if (navigator.userAgent.includes("Headless")) {
      cardRestaurants.style.transitionDuration = '0s';
      cardRestaurants.classList.remove('-translate-y-100vh');
      cardRestaurants.classList.remove('scale-0');
      cardRestaurants.classList.remove('opacity-0');
      cardRestaurants.classList.remove('pointer-events-none');

      cardButton.style.transitionDuration = '0s';
      cardButton.classList.remove('-translate-x-100vw');
      cardButton.classList.remove('scale-0');
      cardButton.classList.remove('opacity-0');
      cardButton.classList.remove('pointer-events-none');

      cardTime.style.transitionDuration = '0s';
      cardTime.classList.remove('translate-y-100vh');
      cardTime.classList.remove('scale-0');
      cardTime.classList.remove('opacity-0');
      cardTime.classList.remove('pointer-events-none');

      cardPeople.style.transitionDuration = '0s';
      cardPeople.classList.remove('translate-x-100vw');
      cardPeople.classList.remove('scale-0');
      cardPeople.classList.remove('opacity-0');
      cardPeople.classList.remove('pointer-events-none');
    }

    window.addEventListener('DOMContentLoaded', () => {
      overrideLinks();
      togglePeople();
      updateNumberPeople();
      morePeople();
      drawTables(numTables);
      drawSeatsReserved(4);
      setTimeout(() => {
        cardRestaurants.classList.remove('-translate-y-100vh');
        cardRestaurants.classList.remove('scale-0');
        cardRestaurants.classList.remove('opacity-0');
        cardRestaurants.classList.remove('pointer-events-none');
        cardButton.classList.remove('-translate-x-100vw');
        cardButton.classList.remove('scale-0');
        cardButton.classList.remove('opacity-0');
        cardButton.classList.remove('pointer-events-none');
        cardTime.classList.remove('translate-y-100vh');
        cardTime.classList.remove('scale-0');
        cardTime.classList.remove('opacity-0');
        cardTime.classList.remove('pointer-events-none');
        cardPeople.classList.remove('translate-x-100vw');
        cardPeople.classList.remove('scale-0');
        cardPeople.classList.remove('opacity-0');
        cardPeople.classList.remove('pointer-events-none');

      }, 1000);

      setTimeout(() => {
        restaurantsList.style.transform = 'translateY(0%)';
        reserveText.style.transform = 'translateX(0%)';
        innerPeople.style.transform = 'translateX(0%)';
        innerTime.style.transform = 'translateY(0%)';
      }, 1800);


    });
  </script>
</body>

</html>