<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- OPEN SANS LINK -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">

</head>

<!-- Change code below this line -->

<body>
  <div class="card">
    <div class="header">
      <h2>Restaurants</h2>
      <div class="item grid gap-1">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPEv_BooX4AAiLDiNYyh9Gcz8oxhQ8HWyLn9h4=s1360-w1360-h1020"
          class="img" alt="">
        <div>
          <div class="row ai-cen jc-sb gap-half">
            <p class="bold lg">Prototype Coffee</p>
            <span class="row ai-cen gap-quarter">
              <i class="fa-sharp fa-solid fa-star"></i>
              <p class="desat lg">5</p>
            </span>
          </div>
          <ul class="grid gap-half item-info">
            <li class="row ai-cen gap-1">
              <i class="fa-sharp fa-solid fa-location-dot"></i>
              <p>883 E Hastings St, Vancouver, BC V6A 1R8, Canada</p>
            </li>
            <li class="row ai-cen gap-1">
              <i class="fa-sharp fa-solid fa-clock"></i>
              <p><span class="bold">Open Now</span> - Closes at 4:00pm</p>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="calendar">
      <details open="">
        <summary class="row ai-cen jc-sb gap-1">
          <div class="row ai-cen gap-half">
            <i class="fa-thin fa-users"></i>
            <p>4 people</p>
          </div>
          <button class="details-btn">
            <i class="fa-regular fa-chevron-up"></i>
          </button>
        </summary>
        <div class="cal grid">
          <button>01</button>
          <button>02</button>
          <button>03</button>
          <button class="today">04</button>
          <button>05</button>
          <button>06</button>
          <button>07</button>
          <button>08</button>





          <button>09</button>
          <button>10</button>
          <button>11</button>
          <button>12</button>
          <button>13</button>
          <button>14</button>
          <button>15</button>
          <button>16</button>

          <button>17</button>
          <button>18</button>
          <button>19</button>
          <button>21</button>
          <button>22</button>
          <button>23</button>
          <button>24</button>


          <button>25</button>
          <button>26</button>
          <button>27</button>
          <button>28</button>
          <button>29</button>
          <button>30</button>
          <button>31</button>

        </div>
        <a href="#">More than 20 people?</a>
      </details>

    </div>

    <div class="time">
      <div class="row ai-cen gap-half time-header">
        <i class="fa-thin fa-clock"></i>
        <p>Choose a time:</p>
      </div>
      <div class="row ai-cen fw-wrap gap-1 jc-sb">
        <button>8:00pm</button>
        <button class="today">8:30pm</button>
        <button>9:00pm</button>
        <button>9:30pm</button>
      </div>
    </div>

    <button class="btn">Reserve a Table</button>
  </div>



  <style>
    /* SETUP and RESET */

    :root {
      font-size: 62.5%;

      --fs-h1-clamp: clamp(2.25rem, 1.0184rem + 2.683vw, 3rem);
      --fs-h2-clamp: clamp(1.75rem, 0.8818rem + 2.0723vw, 2.25rem);
      --fs-h3-clamp: clamp(1.5rem, 0.7607rem + 1.75vw, 2rem);
      --fs-body-clamp: clamp(1.5rem, 0.6548rem + 1.2259vw, 1.8rem);
      --fs-small-clamp: clamp(1rem, 0.4821rem + 0.7143vw, 1.125rem);


      --ff-primary: 'Open Sans';
      --ff-secondary: 'Font Awesome 6 Pro';

      --fs-h1: var(--fs-h1-clamp);
      --fs-h2: var(--fs-h2-clamp);
      --fs-h3: var(--fs-h3-clamp);
      --fs-body: var(--fs-body-clamp);
      --fs-small: var(--fs-small-clamp);

      --clr-primary: #fff;
      --clr-accent: oklch(37% 0.1 360);
      --clr-neutral-100: #FFF;
      --clr-neutral-900: #000;

      --clr-bg-body: linear-gradient(130deg,
          oklch(33% 0.1 360) 0%, oklch(40% 0.08 360) 100%);
      ;
      --clr-bg-card: #1a1a1a;

      --min-width: 30rem;
      --width-min: min(100%, var(--min-width));
    }

    /* @media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: #;
        --clr-neutral-100: #FFF;
        --clr-neutral-900: #000;
    
        --clr-bg-body: #;
        --clr-bg-card: #;
    }
} */

    @media (prefers-reduced-motion: no-preference) {

      *,
      *:before,
      *:after {
        scroll-behavior: smooth;
      }

      ;
    }

    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
    }


    img,
    svg {
      display: block;
      max-width: 100%;
    }

    a {
      color: inherit;
      font: inherit;
      text-decoration: none;
      display: inline-block;
    }

    li {
      list-style: none;
    }

    input,
    textarea {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      background-color: transparent;
      border: 1px solid rgba(0 0 0 / .7);
      width: 100%;
    }

    /* REMOVE DEFAULT SPINNERS FROM NUMBER INPUTS */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    button {
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
    }

    ::-webkit-scrollbar {
      height: 4px;
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--clr-accent);
    }

    ::placeholder {
      color: inherit;
      opacity: .7;
    }

    ::selection {
      background-color: var(--clr-primary);
    }

    .visuallyhidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    /* CLIP PROPERTIES  */
    /* background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */


    /* **********UTILITY CLASSES********** */

    .asp-rat-1 {
      aspect-ratio: 1;
    }

    .transition-250 {
      transition: all 250ms ease-in-out;
    }

    .transition-300 {
      transition: all 300ms ease-in-out;
    }

    /* GRID AND FLEX UTILITY CLASSES */
    .row {
      display: flex;

    }

    .col {
      display: flex;
      flex-direction: column;
    }

    .grid {
      display: grid;
    }

    .pc-cen {
      place-content: center;
    }

    .pi-cen {
      place-items: center;
    }

    .ac-st {
      align-content: start;
    }

    .ac-cen {
      align-content: center;
    }

    .ac-end {
      align-content: end;
    }

    .ac-sb {
      align-content: space-between;
    }

    .ac-sa {
      align-content: space-around;
    }

    .ai-st {
      align-items: start;
    }

    .ai-cen {
      align-items: center;
    }

    .ai-end {
      align-items: end;
    }

    .jc-st {
      justify-content: start;
    }

    .jc-cen {
      justify-content: center;
    }

    .jc-end {
      justify-content: end;
    }

    .jc-sb {
      justify-content: space-between;
    }

    .jc-sa {
      justify-content: space-around;
    }

    .jc-se {
      justify-content: space-evenly;
    }

    .as-st {
      align-self: start;
    }

    .as-cen {
      align-self: center;
    }

    .as-end {
      align-self: end;
    }

    .js-st {
      justify-self: start;
    }

    .js-cen {
      justify-self: center;
    }

    .js-end {
      justify-self: end;
    }

    .fg-1 {
      flex-grow: 1;
    }

    .fs-0 {
      flex-shrink: 0;
    }

    .fw-wrap {
      flex-wrap: wrap;
    }

    .fb-100 {
      flex-basis: 100%;
    }

    .gap-2 {
      gap: 2em;
    }

    .gap-1half {
      gap: 1.5em;
    }

    .gap-1 {
      gap: 1em;
    }

    .gap-half {
      gap: .5em;
    }

    .gap-quarter {
      gap: .25em;
    }

    /* ELEMENT SELECTORS */

    body {
      font-family: var(--ff-primary);
      font-size: var(--fs-body);
      font-weight: 400;
      line-height: 1.4;
      color: var(--clr-primary);
      text-wrap: pretty;
      margin: 0;
      background: var(--clr-bg-body);
      display: flex;
      justify-content: center;
      align-items: start;
      min-height: 100vh;
      padding-block-start: 3em;
    }

    h1 {
      font-size: var(--fs-h1);
      text-wrap: balance;
      line-height: 1;
      font-weight: 600;
    }

    h2 {
      font-size: var(--fs-h2);
      line-height: 1;
      font-weight: 600;
    }

    h3 {
      font-size: var(--fs-h3);
      line-height: 1;
      font-weight: 600;
    }

    .small {
      font-size: var(--fs-small);
    }

    .lg {
      font-size: 1.125em;
    }

    .desat {
      opacity: 0.8;
    }

    .bold {
      font-weight: 600;
    }

    /* LAYOUT */

    .card {
      background-color: var(--clr-bg-card);
      max-width: 30em;
      padding: 2em;
      border-radius: 2em;
    }

    /* PROJECT SPECIFIC STYLES */

    .item {
      grid-auto-flow: column;
      align-items: center;
      margin-block: 1em;
      padding: 0.5em;
      background-color: var(--clr-neutral-100);
      color: var(--clr-bg-card);
      border-radius: 0.25em;
    }

    .item-info {
      margin-block: 0.5em 0;
    }

    .img {
      width: 6em;
    }

    .header i {
      color: var(--clr-accent);
    }

    .calendar {
      margin-block: 1.5em;
    }

    .calendar a {
      color: goldenrod;
      margin-block-start: 0.5em;
      transition: letter-spacing 300ms;

      &:is(:hover, :focus-visible) {
        letter-spacing: 1px;
      }
    }

    .cal {
      font-variant-numeric: tabular-nums;
      margin-inline-start: 1em;
      margin-block-start: 0.5em;
      padding-block: 1em 0.5em;
      grid-template-columns: repeat(auto-fit, minmax(4ch, 1fr));
      gap: 0.5em;
      align-items: center;
      justify-items: center;
      border-top: 1px solid rgb(255, 255, 255, 0.1)
    }

    .cal button {
      padding: 0.25em;
      line-height: 1;
    }

    button.today {
      background-color: var(--clr-neutral-100);
      color: var(--clr-neutral-900);
      border-radius: 0.25em;
    }

    details {
      color-scheme: dark;
    }

    /* details > summary {
    color: white;
    list-style-type: url('data: image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M233.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200l192-192c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L256%20338.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l192%20192z%22%2F%3E%3C%2Fsvg%3E');
} */

    .time-header {
      margin-block-end: 1em;
      padding-block-end: 0.5em;
      border-block-end: 1px solid rgb(255, 255, 255, 0.1)
    }

    .time button {
      padding: 0.25em;
    }

    .btn {
      background-color: goldenrod;
      padding: 0.5em 1.25em;
      border-radius: 0.25em;
      margin-block-start: 1.5em;
      margin-inline: auto;
      display: block;
      width: 100%;
      transition: background-color 300ms;

      &:is(:hover, :focus-visible) {
        background-color: var(--clr-accent);
      }
    }
  </style>
  <script type="module">
    const detailsEl = document.querySelector('details');
    const detailsBtn = document.querySelector('.details-btn');
    const buttons = document.querySelectorAll('button:not(.details-btn, .btn)');
    const reserveBtn = document.querySelector('.btn');

    detailsEl.addEventListener('click', (e) => {
      const icon = detailsBtn.querySelector('.fa-regular');
      console.log(icon)

      if (detailsEl.hasAttribute('open')) {
        icon.classList.remove('fa-chevron-up');
        icon.classList.add('fa-chevron-down');
      }

      if (!detailsEl.hasAttribute('open')) {
        icon.classList.add('fa-chevron-up');
        icon.classList.remove('fa-chevron-down');
      }

      if (e.target.closest('.details-btn')) {
        detailsEl.toggleAttribute('open');
      }

    })

    buttons.forEach((btn) => {
      btn.addEventListener('click', () => {
        const parent = btn.parentElement;
        const current = parent.querySelector('.today');
        current.classList.remove('today');

        btn.classList.add('today');
      })
    })

    reserveBtn.addEventListener('click', () => {
      const calendar = document.querySelector('.calendar');
      const time = document.querySelector('.time');

      const currentDay = calendar.querySelector('.today').textContent;
      const currentTime = time.querySelector('.today').textContent;

      calendar.style.display = 'none';
      reserveBtn.textContent = 'Reserved at Prototype';

      time.innerHTML = `Your reservation for <strong>4 people</strong> has been confirmed for January <strong> ${currentDay}</strong> at <strong> ${currentTime}</strong>. See you then!`;
    })
  </script>
</body><!-- Change code above this line -->

</html>