@use 'sass:meta';
@use 'sass:map';

@use '../foundations/index.scss' as foundations;
@use '../functions/index.scss' as functions;

/* ------------------------------------ *\
  #BREAKPOINT
\* ------------------------------------ */

/// Generate a media query for a given breakpoint
/// @param {String | Number} $name
/// @param {Map} $breakpoints [$breakpoints] - A map of breakpoints where the key is the name
/// @content
/// @access public
@mixin breakpoint($name, $breakpoints: foundations.$breakpoints) {
    @include breakpoint-up($name, $breakpoints) {
        @content;
    }
}

/* ------------------------------------ *\
  #LARGEST-BREAKPOINT
\* ------------------------------------ */

/// Generate media query for the largest breakpoint
/// @param {Map} $breakpoints [$breakpoints] - A map of breakpoints where the key is the name
/// @content
/// @access public
@mixin largest-breakpoint($breakpoints: foundations.$breakpoints) {
    @include breakpoint(functions.largest-breakpoint-name()) {
        @content;
    }
}

/* ------------------------------------ *\
  #BREAKPOINT-UP
\* ------------------------------------ */

/// Generate a media query from the width of the given breakpoint to infinity
/// @param {String | Number} $name
/// @param {Map} $breakpoints [$breakpoints] - A map of breakpoints where the key is the name
/// @content
/// @access public
@mixin breakpoint-up($name, $breakpoints: foundations.$breakpoints) {
    @if meta.type-of($name) == 'number' {
        @media only screen and (min-width: $name) {
            @content;
        }
    } @else if map.has-key($breakpoints, $name) {
        $breakpoint: map.get($breakpoints, $name);
        $width: map.get($breakpoint, width);

        @if functions.is-smallest-breakpoint($name, $breakpoints) {
            @content;
        } @else {
            @media only screen and (min-width: $width) {
                @content;
            }
        }
    } @else {
        @error "Unable to find a breakpoint with name `#{$name}`. Expected one of: (#{map.keys($breakpoints)})";
    }
}

/* ------------------------------------ *\
  #BREAKPOINT-DOWN
\* ------------------------------------ */

/// Generate a media query for the maximum width of the given styles
/// @param {String | Number} $name
/// @param {Map} $breakpoints [$breakpoints] - A map of breakpoints where the key is the name
/// @content
/// @access public

@mixin breakpoint-down($name, $breakpoints: foundations.$breakpoints) {
    @if meta.type-of($name) == 'number' {
        @media (max-width: $name) {
            @content;
        }
    } @else if map.has-key($breakpoints, $name) {
        // We borrow this logic from bootstrap for specifying the value of the
        // max-width. The maximum width is calculated by finding the breakpoint and
        // subtracting .02 from its value. This value is used instead of .01 to
        // avoid rounding issues in Safari
        // https://github.com/twbs/bootstrap/blob/c5b1919deaf5393fcca9e9b9d7ce9c338160d99d/scss/mixins/_breakpoints.scss#L34-L46
        $breakpoint: map.get($breakpoints, $name);
        $width: map.get($breakpoint, width) - 0.02;
        @media (max-width: $width) {
            @content;
        }
    } @else {
        @error "Unable to find a breakpoint with name `#{$name}`. Expected one of: (#{map.keys($breakpoints)})";
    }
}

/* ------------------------------------ *\
  #BREAKPOINT-BETWEEN
\* ------------------------------------ */

/// Generate a media query for the range between the lower and upper breakpoints
/// @param {String | Number} $lower
/// @param {String | Number} $upper
/// @param {Map} $breakpoints [$breakpoints] - A map of breakpoints where the key is the name
/// @content
/// @access public

@mixin breakpoint-between($lower, $upper, $breakpoints: foundations.$breakpoints) {
    $is-number-lower: meta.type-of($lower) == 'number';
    $is-number-upper: meta.type-of($upper) == 'number';
    $min: if(sass($is-number-lower): $lower; else: map.get($breakpoints, $lower));
    $max: if(sass($is-number-upper): $upper; else: map.get($breakpoints, $upper));

    @if $min and $max {
        $min-width: if(sass(not $is-number-lower and $min): map.get($min, width); else: $min);
        $max-width: if(sass(not $is-number-upper and $max): map.get($max, width); else: $max);
        @media (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    } @else if $min != null and $max == null {
        @include breakpoint-up($lower) {
            @content;
        }
    } @else if $min == null and $max != null {
        @include breakpoint-down($upper) {
            @content;
        }
    } @else {
        @error "Unable to find a breakpoint to satisfy: (#{$lower},#{$upper}). Expected both to be one of (#{map.keys($breakpoints)}).";
    }
}

/* Examples
.example__breakpoint-between {
    @include breakpoint-between(desktop, ultra-wide) {
    color: red;
    }
}
*/