
{{#> templates/base/markup/partials/_base-demo-container title="Score Keeper App"}}
    {{{feLibs 'commons' 'vendors' 'bulma' 'bulma' 'css'}}}
    {{{feLibs 'library' 'modules' 'counter' 'score-keeper-app' 'all'}}}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <h1 class="card-header-title">
              Score Keeper
            </h1>
          </header>
          <div class="card-content">
            <div class="content">
              <h2 class="is-size-1"><span id="playerOne">0</span> to <span id="playerTwo">0</span></h2>
              <p class="subtitle">Use the buttons bellow to keep score</p>
              <label for="playTo" class="label is-large is-inline">Playing to score of: </label>
              <div class="select is-rounded">
                <select name="" id="playTo">
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <button class="is-primary button card-footer-item is-large" id="playerOne__button">+1 Player One</button>
            <button class="is-info button card-footer-item is-large" id="playerTwo__button">+1 Player Two</button>
            <button class="is-danger button card-footer-item is-large" id="reset-button">Reset</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ templates/base/markup/partials/_base-demo-container}}