/* ------------------------------------ *\
  * DIGITAL CLOCK
\* ------------------------------------ */

@import "../../../_01_abstracts/abstracts.scss";

@import "../../_01_components/typography/heading/heading.scss";
@import "../../_01_components/typography/time/time.scss";

@import "./digital-clock.scss";
