{{#> ../../../pages/basepage/markup/basepage.page}}
  <h1 class='heading__base heading__base--heading-100'>Level 1 Heading</h1>
  <h2 class='heading__base heading__base--heading-200'>Level 2 Heading</h2>
  <h3 class='heading__base heading__base--heading-300'>Level 3 Heading</h3>
  <h4 class='heading__base heading__base--heading-400'>Level 4 Heading</h4>

  <h1 class='heading__base heading__base--heading-100'>
    <span class="heading__main">Level 1 Heading</span>
    <span class='heading__subheading'>With Subheading</span>
  </h1>

  <h2 class='heading__base heading__base--heading-200'>
    <span class="heading__main">Level 2 Heading</span>
    <span class='heading__subheading'>With Subheading</span>
  </h2>

  <h3 class='heading__base heading__base--heading-300'>
    <span class="heading__main">Level 3 Heading</span>
    <span class='heading__subheading'>With Subheading</span>
  </h3>
  {{/ ../../../pages/basepage/markup/basepage.page}}