/* ------------------------------------ *\
 * ROTATING NAVIGATION
\* ------------------------------------ */

$block: "pat-navigation-rotating";

.#{$block} {
    @include e("base") {
        @include flex();
        @include relative();
        overflow: hidden;
    }

    @include e("container") {
        @include relative();
        overflow: hidden;
        background-color: #fafafa;
        transform-origin: top left;
        transition: transform 0.5s linear;
        width: 100vw;
        padding: 50px;

        &.navigationVisible {
            transform: rotate(-20deg);
        }
    }

    @include e("circle-container") {
        @include absolute($top: -100px, $left: -100px);
    }

    @include e("circle") {
        background-color: #ff7979;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.5s linear;

        .navigationVisible & {
            transform: rotate(-70deg);
        }
    }

    @include e("close-button", "open-button") {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100px;
        width: 50px;
        background: transparent;
        border: 0;
        font-size: 26px;
        color: #fff;

        &:focus {
            outline: none;
        }
    }

    @include e("open-button") {
        left: 60%;
    }

    @include e("close-button") {
        top: 70%;
        left: 60%;
        transform: rotate(90deg);
        transform-origin: top left;
    }

    @include e("navigation") {
        position: absolute;
        bottom: 50%;
        left: 0;
        z-index: -1;

        .navigationVisible + & {
            z-index: 100;
        }
    }
    @include e("navigation-item") {
        color: #fff;
        margin: 40px 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
        transition-delay: 0.4s;

        + .#{$block}__navigation-item {
            margin-left: 15px;
            transform: translateX(-150%);

            + .#{$block}__navigation-item {
                margin-left: 30px;
                transform: translateX(-200%);
            }
        }

        .navigationVisible + .#{$block}__navigation & {
            transform: translateX(0);
        }

        .fas {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}
