<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <section>
    <header>
      <h2>Add to collection</h2>
      <button class="close_btn" aria-label="Close 'Add to collection' section">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#212035"
          stroke-width="0.8879999999999999">
          <path
            d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z"
            fill="#212035"></path>
        </svg>
      </button>
    </header>
    <ul class="collections">
      <li class="collection">
        <input type="radio" name="collection" id="collection1">
        <label for="collection1"></label>
        <div class="collection_img_wrapper">
          <img src="https://i.ibb.co/5M45ch1/dashboards.webp" alt="">
        </div>
        <div>
          <a class="collection_title" href="javascript:void(0)">Dashboards</a>
          <div class="collection_details">
            <span>24 items</span> | Updated yesterday
          </div>
        </div>
      </li>
      <li class="collection">
        <input type="radio" name="collection" id="collection2" checked="">
        <label for="collection2"></label>
        <div class="collection_img_wrapper">
          <img src="https://i.ibb.co/5M45ch1/dashboards.webp" alt="">
        </div>
        <div>
          <a class="collection_title" href="javascript:void(0)">Authentication</a>
          <div class="collection_details">
            <span>7 items</span> | Updated <time datetime="2021-06-09">May 9, 2021</time>
          </div>
        </div>
      </li>
      <li class="collection">
        <input type="radio" name="collection" id="collection3">
        <label for="collection3"></label>
        <div class="collection_img_wrapper">
          <img src="https://i.ibb.co/5M45ch1/dashboards.webp" alt="">
        </div>
        <div>
          <a class="collection_title" href="javascript:void(0)">UI Kit</a>
          <div class="collection_details">
            <span>9 items</span> | Updated <time datetime="2021-06-03">May 3, 2021</time>
          </div>
        </div>
      </li>
    </ul>
    <div class="action_btns">
      <button class="create_btn">
        <svg viewBox="-5.52 -5.52 35.04 35.04" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="-5.52" y="-5.52" width="35.04" height="35.04" rx="17.52" fill="#fff7f9" stroke-width="0"></rect>
          <path d="M4 12H20M12 4V20" stroke="#b84b6d" stroke-width="1.848" stroke-linecap="round"
            stroke-linejoin="round">
          </path>
        </svg>
        Create new
      </button>
      <button class="save_btn">Save</button>
    </div>
  </section>

  <style>
    :root {
      --bg-body: rgba(252, 252, 254, 1);
      --bg-section: rgba(255, 255, 255, 1);
      --clr-font-1: rgba(32, 32, 66, 1);
      --font: "Poppins", sans-serif;
      --transition-duration: .4s;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      font-family: var(--font);
      -webkit-tap-highlight-color: transparent;
    }

    body {
      min-height: 100dvh;
      margin: 0;
      background: var(--bg-body);
      display: grid;
      place-items: center;
    }

    button {
      padding: 0;
      border: none;
      cursor: pointer;
    }

    section {
      width: clamp(0px, 100%, 720px);
      padding: 30px 60px;
      background: var(--bg-section);
      color: var(--clr-font-1);
    }

    header {
      padding-left: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    header h2 {
      max-width: 10ch;
      margin: 25px 0 0;
      font-size: 38px;
    }

    .close_btn {
      min-width: 65px;
      aspect-ratio: 1;
      background: rgba(252, 251, 255, 1);
      border: 1px solid rgba(238, 238, 238, 1);
      border-radius: 50%;
      display: grid;
      place-content: center;
      transform: translateX(30%);
    }

    .close_btn svg {
      width: 25px;
    }

    .collections {
      margin: 35px 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .collection {
      padding: 12px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 25px;
      position: relative;
      z-index: 1;
    }

    .collection>div:nth-of-type(2) {
      pointer-events: none;
    }

    input[name="collection"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 35px;
      aspect-ratio: 1;
      border-radius: 50%;
      margin: 0;
      position: absolute;
      right: 30px;
      scale: 0;
      transition: scale var(--transition-duration);
    }

    .collection label {
      outline: 1px solid transparent;
      border-radius: 12px;
      cursor: pointer;
      position: absolute;
      inset: 0;
      z-index: -1;
      transition: background var(--transition-duration), outline-color var(--transition-duration);
    }

    input[name="collection"]:is(:checked, :focus-visible) {
      background: rgba(35, 36, 63, 255);
      scale: 1;
    }

    input[name="collection"]:is(:checked, :focus-visible)::before {
      content: url('data:image/svg+xml,<svg width="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="%23fff"><path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
      position: absolute;
      left: 5px;
      top: 5px;
    }

    input[name="collection"]:is(:checked, :focus-visible)+label {
      background: rgba(252, 252, 254, 1);
      outline-color: rgba(238, 238, 238, 1);
    }

    .collection_img_wrapper {
      width: 155px;
      height: 100px;
      border-radius: 10px;
      overflow: hidden;
      pointer-events: none;
    }

    .collection_img_wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .collection_title {
      color: inherit;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      pointer-events: auto;
    }

    .collection_title:hover {
      text-decoration: underline;
    }

    .collection_details {
      margin-top: 5px;
    }

    .action_btns {
      margin: 40px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .create_btn {
      padding: 5px;
      background: transparent;
      color: rgba(184, 75, 109, 1);
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .create_btn svg {
      width: 40px;
    }

    .save_btn {
      width: 200px;
      padding: 15px 0;
      background: linear-gradient(to right, rgba(198, 132, 242, 1), rgba(246, 109, 161, 1));
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      font-weight: 700;
      border-radius: 8px;
    }

    @media(max-width: 620px) {
      .collection {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media(max-width: 500px) {
      section {
        padding: 20px;
      }

      header h2 {
        font-size: 25px;
      }

      .close_btn {
        min-width: 40px;
        transform: translateX(0);
      }

      .close_btn svg {
        width: 20px;
      }

      input[name="collection"] {
        right: 10px;
        top: 10px;
      }

      .action_btns {
        flex-direction: column;
        gap: 20px;
      }

      .action_btns button {
        width: 100%;
        justify-content: center;
      }
    }
  </style>
  <script type="module">
    // Add JavaScript code here
  </script>
</body>

</html>