<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;family=Lisu+Bosa:wght@400;500&amp;display=swap"
    rel="stylesheet">
</head>

<!-- Change code below this line -->

<body>
  <main class="">
    <button class="close-btn" title="Close" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
      </svg>
    </button>
    <fieldset class="collection-list">
      <legend>
        <h2>Add to collection</h2>
      </legend>
      <div class="collection-item">
        <label for="pricing-input">
          <div class="collection-upper">
            <div class="collection-image">
              <img
                src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/6230c0f2-015a-4e3d-82c1-e4603afc9503.png"
                alt="Pricing Tables">
            </div>
            <div class="collection-info">
              <h3>Pricing Tables</h3>
              <p>7 items - updated Jan 20, 2024</p>
            </div>
            <input type="radio" id="pricing-input" name="collection">
          </div>
          <ul class="items" inert="">
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/64486">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/6230c0f2-015a-4e3d-82c1-e4603afc9503.png"
                  alt="Simple Pricing 2">
              </a>
            </li>
            <li class="item" style="opacity: 1; visibility: visible; transform: scale(1);">
              <a href="https://icodethis.com/submissions/52624">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/819737b7-89c3-4869-aea5-8d3362146086.png"
                  alt="Pricing Saas">
              </a>
            </li>
            <li class="item" style="opacity: 1; visibility: visible; transform: scale(1);">
              <a href="https://icodethis.com/submissions/48800">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/cca42d39-4ff6-4702-800b-0b0eba18bbc7.png"
                  alt="Pricing Table 4">
              </a>
            </li>
            <li class="item" style="opacity: 1; visibility: visible; transform: scale(1);">
              <a href="https://icodethis.com/submissions/42197">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/c55084b4-046f-4ab9-988d-603bd5e005a5.png"
                  alt="Pricing Cards 5">
              </a>
            </li>
            <li class="item" style="opacity: 1; visibility: visible; transform: scale(1);">
              <a href="https://icodethis.com/submissions/37833">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/4802a3ba-0d3c-47b7-aa36-95ef067c0fd6.png"
                  alt="Pricing 3">
              </a>
            </li>
            <li class="item" style="opacity: 1; visibility: visible; transform: scale(1);">
              <a href="https://icodethis.com/submissions/64486">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/db36d4a5-7bcb-41a4-b1b6-b6bc45570912.png"
                  alt="Pricing Cards">
              </a>
            </li>
            <li class="item" style="opacity: 1; visibility: visible; transform: scale(1);">
              <a href="https://icodethis.com/submissions/18313">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/547f35c2-5eba-44a8-89e0-288af6b9cc3c.png"
                  alt="Sponsorship Pricing">
              </a>
            </li>
          </ul>
        </label>
      </div>
      <div class="collection-item">
        <label for="testimonials-input">
          <div class="collection-upper">
            <div class="collection-image">
              <img
                src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/650f035d-ef82-4890-b120-8f370b5b5853.png"
                alt="Testimonials">
            </div>
            <div class="collection-info">
              <h3>Testimonials</h3>
              <p>5 items - updated Jan 04, 2024</p>
            </div>
            <input type="radio" id="testimonials-input" name="collection">
          </div>
          <ul class="items" inert="">
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/60889">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/650f035d-ef82-4890-b120-8f370b5b5853.png"
                  alt="Testimonials 4">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/38581">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/b7ab1556-3abc-4370-a2c0-e07af4a53f96.png"
                  alt="Testimonial Grid">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/34969">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/cca42d39-4ff6-4702-800b-0b0eba18bbc7.png"
                  alt="Testimonials 3">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/36172">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/5f0a6753-f6a0-48e0-ae6e-33f7c0c2f613.png"
                  alt="Fullpage Slider">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/18179">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/7e0faf28-4d8b-4600-a785-ad4109ad3cba.png"
                  alt="Simple Testimonial">
              </a>
            </li>
          </ul>
        </label>
      </div>
      <div class="collection-item">
        <label for="favorites-input">
          <div class="collection-upper">
            <div class="collection-image">
              <img
                src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/cf860fb9-f9e1-4d92-8ffc-2ddb2bc01d2a.png"
                alt="Testimonials">
            </div>
            <div class="collection-info">
              <h3>Personal Favorites</h3>
              <p>8 items - updated Jan 04, 2024</p>
            </div>
            <input type="radio" id="favorites-input" name="collection">
          </div>
          <ul class="items" inert="">
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/40843">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/cf860fb9-f9e1-4d92-8ffc-2ddb2bc01d2a.png"
                  alt="Retro Messages">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/45373">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/fdb61d11-aed7-4ff1-ab8d-6f37f5450ebc.png"
                  alt="Onboarding 3">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/44410">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/9864095d-7b15-4214-8215-629ebf8e266b.png"
                  alt="Price Details">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/46253">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/483496d5-6b48-49ef-b97a-08fff5662656.png"
                  alt="Trees Community">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/48800">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/cca42d39-4ff6-4702-800b-0b0eba18bbc7.png"
                  alt="Pricing Table 4">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/17709">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/8732e937-2888-4400-a1f0-07d99a754ca7.png"
                  alt="Order Summary">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/44633">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/1acaaebb-8b69-4cbf-85f1-a16c58f97253.png"
                  alt="Promo Section">
              </a>
            </li>
            <li class="item" style="opacity: 0; visibility: hidden; transform: scale(0);">
              <a href="https://icodethis.com/submissions/46462">
                <img
                  src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/e94b7c8f-c924-4cd3-b88c-7b7db6d09122.png"
                  alt="Creative Dropdown">
              </a>
            </li>
          </ul>
        </label>
      </div>
    </fieldset>

    <div class="card-footer">
      <a href="#" class="create-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>Create new</span>
      </a>
      <button class="save-btn">
        <p>Save</p>
      </button>
    </div>


  </main>
  <dialog class="modal-submission">
    <h2>Trees Community</h2>
    <img
      src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/483496d5-6b48-49ef-b97a-08fff5662656.png"
      width="320" height="160" alt=""><button class="close-modal-btn" title="Close" aria-label="close"
      formmethod="dialog">
      <span class="sr-only">close</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </dialog>


  <style>
    /* Add CSS here */

    :root {
      --clr-primario: hsl(238, 35%, 19%);
      --clr-secundario: white;
      --clr-ternario: hsla(234, 37%, 26%, .6);
      --clr-bg: hsl(23, 97%, 50%);
      --clr-bg-light: hsla(23, 97%, 50%, .5);
      --clr-bg-card: hsl(46, 99%, 64%);
      --clr-bg-item-hover: hsl(58, 97%, 85%);
      --clr-bg-button-left: hsl(272, 88%, 75%);
      --clr-bg-button-right: hsl(339, 93%, 70%);
      --clr-box-shadow: hsla(238, 35%, 19%, .4);
      --clr-box-shadow-input: hsl(240, 43%, 93%);
      --ff-primaria: 'Poppins', sans-serif;
      --ff-secundaria: 'Lisu Bosa', serif;
      --fs-primaria: 1rem;
      transition: all .250s ease-in-out;
    }

    /* Estilos Reset */
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      font-family: var(--ff-primaria);
      box-sizing: border-box;
      scroll-behavior: smooth;
      -webkit-tap-highlight-color: transparent;
    }

    img,
    svg {
      display: block;
      max-width: 100%;
    }

    body {
      line-height: 1.5;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
    }


    button,
    input {
      position: relative;
      appearance: none;
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
      z-index: 1;
    }

    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      cursor: pointer;
    }

    ::-webkit-scrollbar-track {
      background: transparent !important;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--clr-accent);
    }

    ::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    [hidden] {
      display: none;
    }

    /* utility classes */

    .opacity-0 {
      opacity: 0;
    }

    .visibility-0 {
      visibility: hidden;
    }

    .pointer-events-none {
      pointer-events: none;
    }

    .translate-x-100 {
      transform: translateX(100%);
    }

    .-translate-x-100 {
      transform: translateX(-100%);
    }

    .translate-x-100vw {
      transform: translateX(100vw);
    }

    .-translate-x-100vw {
      transform: translateX(-100vw);
    }

    .translate-y-100vh {
      transform: translateY(100vh);
    }

    .-translate-y-100vh {
      transform: translateY(-100vh);
    }

    .translate-y-100 {
      transform: translateY(100%);
    }

    .-translate-y-100 {
      transform: translateY(-100%);
    }

    .scale-0 {
      scale: 0;
    }

    .scale-y-0 {
      transform: scaleY(0);
    }

    .-rotate-180 {
      transform: rotate(-180deg);
    }

    .rotate-180 {
      transform: rotate(180deg);
    }

    .invert-x {
      transform: scaleX(-1);
    }

    .invert-y {
      transform: scaleY(-1);
    }

    .translate-x-vw {
      transform: translateX(100vw);
    }

    .-translate-x-vw {
      transform: translateX(-100vw);
    }

    /* Estilos principales */
    body {
      display: grid;
      place-content: center center;
      min-height: 100dvh;
      background-color: var(--clr-bg);
      color: var(--clr-primario);
      font-size: var(--fs-primaria);
      font-weight: 400;
      user-select: none;
    }

    /* 
body:after {
    position: fixed;
    content: '';
    inset: 0rem;
    background-image: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .3;
    z-index: -1;
} */

    main {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: clamp(20rem, 100vw, 26rem);
      padding: 2rem;
      background-color: var(--clr-bg-card);
      transition: all .400s ease-in-out;
      border-radius: 1.2rem;
      box-shadow: 0px 10px 20px var(--clr-box-shadow);
      overflow: hidden;
    }

    h2 {
      max-width: 10ch;
      margin-block-end: 2rem;
      font-size: 1.25rem;
      font-weight: 800;
      line-height: 1.4;
    }

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .close-btn svg {
      width: 1.2rem;
      stroke-width: 2;
      stroke: var(--clr-ternario);
    }

    .close-btn:hover svg {
      stroke: var(--clr-bg-button-left);
    }

    .collection-list {
      display: flex;
      flex-direction: column;
      gap: .4rem;
      width: 100%;
      border: none;
    }

    .collection-item {
      position: relative;
      display: flex;
    }

    label {
      position: relative;
      display: grid;
      grid-template-rows: 3.3rem 0rem;
      gap: 1rem;
      width: 120%;
      padding: .5rem;
      margin-inline-start: -.5rem;
      border-radius: .5rem;
      transition: all .150s .300s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }

    label>.items {
      opacity: 0;
    }

    label:hover {
      display: grid;
      grid-template-rows: 3.8rem 6.6rem;
      background-color: var(--clr-bg-light);
    }

    label:hover>.items {
      opacity: 1;
    }


    .collection-upper {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .collection-image {
      flex-shrink: 0;
      width: 5.8rem;
      height: 4rem;
      box-shadow: 0px 5px 10px var(--clr-box-shadow);
      border-radius: .3rem;
      overflow: hidden;
    }

    .collection-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .collection-info {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
    }

    h3 {
      font-size: .75rem;
    }

    .collection-info p {
      font-size: .7rem;
    }

    /* Absolute positioning */
    input[type="radio"] {
      flex-shrink: 0;
      position: absolute;
      right: 1rem;
      appearance: none;
      width: 1.4rem;
      aspect-ratio: 1;
      margin-inline-start: 1rem;
      border: 1px solid var(--clr-primario);
      border-radius: 50%;
      box-shadow: 0 0 0 0px var(--clr-box-shadow-input);
      transition: all .150s ease-in-out;
      cursor: pointer;
      overflow: hidden;
    }

    input[type="radio"]:checked {
      background-color: var(--clr-primario);
      box-shadow: 0 0 0 4px var(--clr-box-shadow-input);
    }

    input[type="radio"]::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: white" viewBox="0 0 24 24"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>');
      position: absolute;
      inset: 0;
      left: .05rem;
      transform: translateX(-100%);
      transition: all .150s .150s ease-in-out;
    }

    input[type="radio"]:checked::before {
      transform: translateX(7%);
    }

    label:has(input[type="radio"]:checked) {
      background-color: var(--clr-bg-item-hover);
      color: var(--clr-ternario) !important;
    }

    .items {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;
      gap: .5rem;
      row-gap: .5rem;
      padding: .5rem;
      background-color: var(--clr-bg);
      border-radius: .5rem;
      list-style: none;
      transition: all .150s .300s ease-in-out;
    }

    .item {
      display: flex;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      will-change: opacity, transform;
      transition: all .100s .500s ease-in-out;
    }

    .item a img {
      position: relative;
      width: 3rem;
      aspect-ratio: 5/4;
      object-fit: cover;
      object-position: center;
      border-radius: .2rem;
      box-shadow: 0px 5px 10px var(--clr-box-shadow);
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 100%;
    }

    .create-btn {
      display: flex;
      align-items: center;
      gap: .2rem;
      color: var(--clr-bg-button-left) !important;
      font-size: .8rem !important;
      transition: all .150s ease-in-out;
    }

    .create-btn:hover {
      color: var(--clr-bg-button-right) !important;
    }

    .create-btn svg {
      width: 1rem;
    }

    .save-btn {
      justify-self: end !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      padding-block: .5rem;
      background: var(--clr-bg-button-left);
      background: linear-gradient(90deg, var(--clr-bg-button-left), var(--clr-bg-button-right));
      color: var(--clr-secundario);
      font-size: .8rem;
      font-weight: 500;
      border-radius: .3rem;
    }

    dialog {
      opacity: 0;
      will-change: opacity;
      -webkit-transition: all .400s ease-in-out;
    }

    dialog[open] {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20rem;
      height: 22rem;
      padding: 2rem;
      background-color: var(--clr-bg-card);
      border: none;
      border-radius: .8rem;
      box-shadow: 0px 10px 20px var(--clr-box-shadow);
      overflow: auto;
    }

    ::backdrop {
      --color-backdrop: hsla(23, 97%, 50%, .9);
      opacity: 0;
    }

    dialog::backdrop {
      background-color: var(--color-backdrop);
      color: white;
      will-change: opacity;
      -webkit-transition: all .400s ease-in-out;
      opacity: 0;
    }

    dialog.dialog--animation {
      opacity: 1;
    }

    dialog.dialog--animation::backdrop {
      opacity: .9;
    }

    dialog>* {
      transform: translateY(3rem);
      will-change: transform;
      -webkit-transition: transform .400s ease-in-out;
    }

    dialog.dialog--animation>* {
      transform: translateY(0rem);
    }

    .modal-submission img {
      width: 20rem;
      height: 10rem;
      border-radius: .3rem;
    }

    .close-modal-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: grid;
      place-content: center;
    }

    .close-modal-btn svg {
      width: 1.2rem;
      stroke-width: 4;
      stroke: var(--clr-primario);
    }

    @media (max-width: 40rem) {
      main {
        width: 20rem;
      }

      .collection-image {
        width: 4rem;
      }

      .collection-info {
        max-width: 7rem;
      }
    }
  </style>
  <script type="module">
    // Add JavaScript code here

    const links = document.querySelectorAll('a');
    const mainContainer = document.querySelector('main');
    const closeBtn = document.querySelector('.close-btn');
    const closeModalBtn = document.querySelector('.close-modal-btn');
    const modalSubmission = document.querySelector('.modal-submission');
    const saveBtn = document.querySelector('.save-btn');
    const createBtn = document.querySelector('.create-btn');
    const collectionList = document.querySelector('.collection-list');


    // Prevent links default behaviour
    const overrideLinks = () => {
      links.forEach((link) => {
        link.addEventListener('click', (e) => {
          if (link.href != '#') {
            e.preventDefault();
            // Open Modal
            modalSubmission.querySelector('h2').textContent = link.querySelector('img').getAttribute('alt');
            modalSubmission.querySelector('img').src = link.querySelector('img').src;
            modalSubmission.showModal();
            modalSubmission.classList.add('dialog--animation');

          } else {
            e.preventDefault();
          }
        });
      });
    }

    // Prevent links default behaviour
    const closeWindow = () => {
      closeBtn.addEventListener('click', (e) => {
        mainContainer.classList.add('translate-y-100vh');
        mainContainer.classList.add('scale-0');
        setTimeout(() => {
          mainContainer.classList.remove('translate-y-100vh');
          mainContainer.classList.remove('scale-0');
        }, 1000);
      });
    }

    // Handles Add new category modal
    const closeModal = () => {

      // Handles close modal with Close Button
      closeModalBtn.addEventListener('click', (e) => {
        e.preventDefault();
        modalSubmission.classList.remove('dialog--animation');
        setTimeout(() => {
          modalSubmission.close();
        }, 400);

      });
    }

    // Handles Add new category modal
    const saveButton = () => {

      // Handles close modal with Close Button
      saveBtn.addEventListener('click', (e) => {
        e.preventDefault();
        alert("I'll do it a bit later");

      });
    }

    // Collection items animation on toggle
    const addAnimation = () => {

      const collectionItemLabels = document.querySelectorAll('label');
      collectionItemLabels.forEach((label) => {
        label.addEventListener('mouseenter', (e) => {
          label.querySelector('.items').inert = false;
          label.querySelectorAll('.item').forEach((item, i) => {
            setTimeout(() => {
              item.style.opacity = '1';
              item.style.visibility = 'visible';
              item.style.transform = 'scale(1)';
            }, 100 * i)
          });
        });
        label.addEventListener('mouseleave', (e) => {
          label.querySelector('.items').inert = true;
          label.querySelectorAll('.item').forEach((item, i) => {
            item.style.opacity = '0';
            item.style.visibility = 'hidden';
            item.style.transform = 'scale(0)';
          });
        });
      });
    }

    const addNewCollection = () => {
      createBtn.addEventListener('click', (e) => {
        const newCollectionHTML = `<div class="collection-item">
                <label for="cookies-input">
                    <div class="collection-upper">
                        <div class="collection-image">
                            <img src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/1efe00fa-0362-4ee0-98b4-cacacfa46a5f.png" alt="Cookies Alert">
                        </div>
                        <div class="collection-info">
                            <h3>Cookies Alert</h3>
                            <p>1 item - updated Jan 27, 2024</p>
                        </div>
                        <input type="radio" id="cookies-input" name="collection">
                    </div>
                    <ul class="items">
                        <li class="item">
                            <a href="https://icodethis.com/submissions/61752">
                                <img src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/1efe00fa-0362-4ee0-98b4-cacacfa46a5f.png" alt="Cookies Notification">
                            </a>
                        </li>
                    </ul>
                </label>
            </div>`;
        collectionList.insertAdjacentHTML('beforeend', newCollectionHTML);

        createBtn.style.opacity = '0';
        createBtn.style.pointerEvents = 'none';
        createBtn.style.visibility = 'hidden';
        document.querySelector('#cookies-input').checked = true;
        addAnimation();
        overrideLinks();
      });
    }


    /* // TODO Move the cookies sub to proper collection on input change
    const updateCookiesCollection = () => {
        document.querySelectorAll('input').forEach((inputRadio) => {
            inputRadio.addEventListener('change', (e) => {
                const newItemHTML = `<li class="item">
                                <a href="https://icodethis.com/submissions/61752">
                                    <img src="https://shismqklzntzxworibfn.supabase.co/storage/v1/object/public/previews/1efe00fa-0362-4ee0-98b4-cacacfa46a5f.png" alt="Cookies Notification">
                                </a>
                            </li>`;
                const destinationList = e.currentTarget.parentNode.parentNode.querySelector('.items');
                destinationList.insertAdjacentHTML('beforeend', newItemHTML);
            })
        })
    }
     */

    //The Marcin Malecki's way for thumbnail perfection
    if (navigator.userAgent.includes("Headless")) {
    }

    window.addEventListener('DOMContentLoaded', () => {
      overrideLinks();
      closeWindow();
      addAnimation();
      closeModal();
      saveButton();
      addNewCollection();
    /* updateCookiesCollection();
     */setTimeout(() => {
        mainContainer.classList.remove('translate-y-100vh');
        mainContainer.classList.remove('scale-0');
        mainContainer.classList.remove('opacity-0');

      }, 1000);

    });
  </script>
</body>

</html>