<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- POPPINS LINK -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

</head>

<!-- Change code below this line -->

<body>
  <div class="card">
    <header class="header row jc-sb ai-cen gap-1">
      <p class="logo row ai-cen">DEV
        <span class="logo-icon row ai-cen"><i class="fa-light fa-heart"></i></span>
      </p>
      <button>
        <i class="fa-regular fa-bars lg"></i>
      </button>
    </header>
    <main class="main">
      <div class="profile">
        <img src="https://source.unsplash.com/60x60/?woman" alt="">
        <div class="profile-border">
          <p class="lg bold">Jenn Elodie</p>
          <p>UX Consultant</p>
        </div>
      </div>

      <div class="profile">
        <img src="https://source.unsplash.com/60x60/?gentleman" alt="">
        <div class="profile-border">
          <p class="lg bold">Bobby Kelly</p>
          <p>Senior Designer</p>
        </div>
      </div>

      <div class="profile">
        <img src="https://source.unsplash.com/60x60/?female" alt="">
        <div class="profile-border">
          <p class="lg bold">Chloe LaBranche</p>
          <p>UX Research</p>
        </div>
      </div>

      <div class="profile">
        <img src="https://source.unsplash.com/60x60/?male" alt="">
        <div class="profile-border">
          <p class="lg bold">Chris Rainey</p>
          <p>Full-Stack Dev</p>
        </div>
      </div>

      <div class="profile">
        <img src="https://source.unsplash.com/60x60/?man" alt="">
        <div class="profile-border">
          <p class="lg bold">Mike Cannon</p>
          <p>Programmer</p>
        </div>
      </div>

      <div class="profile">
        <img src="https://source.unsplash.com/60x60/?trans" alt="">
        <div class="profile-border">
          <p class="lg bold">Fleur Richards</p>
          <p>Design</p>
        </div>
      </div>
    </main>

    <nav class="nav">
      <ul>
        <li class="icon">
          <button>
            <i class="fa-light fa-user"></i>
          </button>
        </li>
        <li class="icon">
          <button>
            <i class="fa-light fa-desktop"></i>
          </button>
        </li>

        <li class="icon">
          <button>
            <i class="fa-light fa-bell"></i>
          </button>
        </li>

        <li class="icon">
          <button>
            <i class="fa-light fa-gear"></i>
          </button>
        </li>
      </ul>
    </nav>

    <dialog class="modal">
      <button btn-close="">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <h3 class="row ai-cen gap-half">
        <i class="fa-regular fa-lock-keyhole"></i>
        App permissions
      </h3>

      <p class="tag">
        <span class="bold">33 apps</span> have access to your data
      </p>
      <p>Manage which apps have access to your data. You can revoke permission any time.</p>

      <button class="btn">Change app permissions</button>

    </dialog>

  </div>



  <style>
    /* SETUP and RESET */

    :root {
      font-size: 62.5%;

      --fs-h1-clamp: clamp(2.25rem, 1.0184rem + 2.683vw, 3rem);
      --fs-h2-clamp: clamp(1.75rem, 0.8818rem + 2.0723vw, 2.25rem);
      --fs-h3-clamp: clamp(1.5rem, 0.7607rem + 1.75vw, 2rem);
      --fs-body-clamp: clamp(1.5rem, 0.6548rem + 1.2259vw, 1.8rem);
      --fs-small-clamp: clamp(1rem, 0.4821rem + 0.7143vw, 1.125rem);


      --ff-primary: 'Poppins';
      --ff-secondary: 'Font Awesome 6 Pro';

      --fs-h1: var(--fs-h1-clamp);
      --fs-h2: var(--fs-h2-clamp);
      --fs-h3: var(--fs-h3-clamp);
      --fs-body: var(--fs-body-clamp);
      --fs-small: var(--fs-small-clamp);

      --clr-primary: #000;
      --clr-neutral-100: #FFF;
      --clr-neutral-900: #000;

      --clr-bg-body: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 800' opacity='0.27' width='800' height='800'%3E%3Cg stroke-width='2.25' stroke='hsla(313, 100%25, 49%25, 1.00)' fill='none'%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='0' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='0' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='66.66666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='66.66666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='133.33333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='133.33333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='200' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='200' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='266.6666666666667' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='266.6666666666667' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='333.33333333333337' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='333.33333333333337' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='400.00000000000006' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='400.00000000000006' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='466.66666666666674' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='466.66666666666674' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='533.3333333333334' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='533.3333333333334' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='600' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='600' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='666.6666666666666' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='666.6666666666666' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='733.3333333333333' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='733.3333333333333' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='0' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='0' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='61.53846153846154' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='61.53846153846154' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='123.07692307692308' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='123.07692307692308' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='184.6153846153846' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='184.6153846153846' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='246.15384615384616' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='246.15384615384616' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='307.6923076923077' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='307.6923076923077' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='369.2307692307692' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='369.2307692307692' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='430.7692307692308' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='430.7692307692308' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='492.3076923076923' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='492.3076923076923' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='553.8461538461538' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='553.8461538461538' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='615.3846153846154' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='615.3846153846154' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='676.9230769230769' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='676.9230769230769' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='738.4615384615385' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='738.4615384615385' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3Crect width='61.53846153846154' height='66.66666666666667' x='800' y='799.9999999999999' opacity='0.15'%3E%3C/rect%3E%3Ccircle r='7.894736842105264' cx='800' cy='799.9999999999999' fill='hsla(313, 100%25, 49%25, 1.00)' stroke='none'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat no-repeat;
      background-position: center center;
      background-size: cover;
      ;
      --clr-bg-card: #fff;
      --clr-accent: hsl(313, 100%, 49%);
      --clr-accent-alpha: hsl(313, 100%, 49%, 0.5);

      --min-width: 30rem;
      --width-min: min(100%, var(--min-width));
    }

    /* @media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: #;
        --clr-neutral-100: #FFF;
        --clr-neutral-900: #000;
    
        --clr-bg-body: #;
        --clr-bg-card: #;
    }
} */

    @media (prefers-reduced-motion: no-preference) {

      *,
      *:before,
      *:after {
        scroll-behavior: smooth;
      }

      ;
    }

    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
    }


    img,
    svg {
      display: block;
      max-width: 100%;
    }

    a {
      color: inherit;
      font: inherit;
      text-decoration: none;
      display: inline-block;
    }

    li {
      list-style: none;
    }

    input,
    textarea {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      background-color: transparent;
      border: 1px solid rgba(0 0 0 / .7);
      width: 100%;
    }

    /* REMOVE DEFAULT SPINNERS FROM NUMBER INPUTS */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    button {
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
    }

    ::-webkit-scrollbar {
      height: 4px;
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--clr-accent);
    }

    ::placeholder {
      color: inherit;
      opacity: .7;
    }

    ::selection {
      background-color: var(--clr-primary);
    }

    .visuallyhidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    /* CLIP PROPERTIES  */
    /* background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */


    /* **********UTILITY CLASSES********** */

    .asp-rat-1 {
      aspect-ratio: 1;
    }

    .transition-250 {
      transition: all 250ms ease-in-out;
    }

    .transition-300 {
      transition: all 300ms ease-in-out;
    }

    /* GRID AND FLEX UTILITY CLASSES */
    .row {
      display: flex;

    }

    .col {
      display: flex;
      flex-direction: column;
    }

    .grid {
      display: grid;
    }

    .pc-cen {
      place-content: center;
    }

    .pi-cen {
      place-items: center;
    }

    .ac-st {
      align-content: start;
    }

    .ac-cen {
      align-content: center;
    }

    .ac-end {
      align-content: end;
    }

    .ac-sb {
      align-content: space-between;
    }

    .ac-sa {
      align-content: space-around;
    }

    .ai-st {
      align-items: start;
    }

    .ai-cen {
      align-items: center;
    }

    .ai-end {
      align-items: end;
    }

    .jc-st {
      justify-content: start;
    }

    .jc-cen {
      justify-content: center;
    }

    .jc-end {
      justify-content: end;
    }

    .jc-sb {
      justify-content: space-between;
    }

    .jc-sa {
      justify-content: space-around;
    }

    .jc-se {
      justify-content: space-evenly;
    }

    .as-st {
      align-self: start;
    }

    .as-cen {
      align-self: center;
    }

    .as-end {
      align-self: end;
    }

    .js-st {
      justify-self: start;
    }

    .js-cen {
      justify-self: center;
    }

    .js-end {
      justify-self: end;
    }

    .fg-1 {
      flex-grow: 1;
    }

    .fs-0 {
      flex-shrink: 0;
    }

    .fw-wrap {
      flex-wrap: wrap;
    }

    .fb-100 {
      flex-basis: 100%;
    }

    .gap-2 {
      gap: 2em;
    }

    .gap-1 {
      gap: 1em;
    }

    .gap-half {
      gap: .5em;
    }

    .gap-quarter {
      gap: .25em;
    }

    /* ELEMENT SELECTORS */

    body {
      font-family: var(--ff-primary);
      font-size: var(--fs-body);
      font-weight: 400;
      line-height: 1.4;
      color: var(--clr-primary);
      text-wrap: pretty;
      margin: 0;
      background-color: #000;
      background-image: var(--clr-bg-body);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    h1 {
      font-size: var(--fs-h1);
      text-wrap: balance;
      line-height: 1;
      font-weight: 600;
    }

    h2 {
      font-size: var(--fs-h2);
      line-height: 1;
      font-weight: 600;
    }

    h3 {
      font-size: var(--fs-h3);
      line-height: 1;
      font-weight: 600;
    }

    .small {
      font-size: var(--fs-small);
    }

    .lg {
      font-size: 1.1em;
    }

    .desat {
      opacity: 0.8;
    }

    .bold {
      font-weight: 600;
    }

    /* LAYOUT */

    .card {
      background-color: var(--clr-bg-card);
      padding: 1em 1em 4em;
      border-radius: 1em;
      width: min(100%, 30em);
    }

    /* PROJECT SPECIFIC STYLES */

    .header button {
      transition: color 300ms;
    }

    .header button:is(:hover, :focus-visible) {
      color: var(--clr-accent);
    }

    .logo {
      font-family: 'Anton';
      font-size: 1.5em;
    }

    .logo-icon>* {
      color: var(--clr-accent);
      font-size: var(--fs-body);
      margin-left: 0.125em;
    }


    .nav {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.3em;
      /* background-color: rgba(0, 0, 0, 0.5); */
      border-radius: 100vw;
      font-size: 1.3em;
      background-color: var(--clr-accent-alpha);
    }

    .nav ul {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }

    .icon button {
      display: grid;
      place-content: center;
      background-color: rgb(255, 255, 255);
      color: var(--clr-accent);
      padding: 0.5em;
      border-radius: 50%;
      aspect-ratio: 1;
      transition: background-color 300ms, color 300ms;
      position: relative;

      &:is(:hover, :focus-visible) {
        background-color: black;
        color: white;
        box-shadow: 0 0.25em 0.5em rgb(0 0 0 / 0.2);
      }
    }

    .icon button:has(.fa-bell)::before {
      content: '2';
      position: absolute;
      font-size: var(--fs-small);
      background: var(--clr-accent);
      color: white;
      aspect-ratio: 1;
      padding: 0.25em 0.75em;
      border-radius: 50%;
      top: 0;
      right: 0;
      transform: translateY(-50%) translateX(25%);
      transition: background-color 300ms;
    }

    .icon button:has(.fa-bell):is(:hover, :focus-visible)::before {
      background-color: var(--clr-neutral-900);
    }

    .main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 8em), 1fr));
      column-gap: 1em;
    }

    .profile {
      text-align: center;
      padding: 3em 0 0;
      position: relative;
      margin-block: 1em;
      display: grid;
      grid-template-columns: subgrid;
    }

    .profile-border {
      border: 2px solid var(--clr-accent);
      border-radius: 1em;
      padding: 1em 0.5em 0.5em;
    }

    .profile .lg {
      margin-block-end: 0.325rem;
    }

    .profile img {
      border-radius: 50%;
      margin-inline: auto;
      border: 2px solid var(--clr-accent);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      object-fit: cover;
    }

    .modal[open] {
      width: min(100%, 25em);
      border: none;
      padding: 1.5em;
      border-radius: 1em;
      display: grid;
      gap: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:is(focus) {
        outline: none;
      }
    }

    .modal[open] [btn-close] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5em 1em;
      border: none;

      &:is(:focus) {
        outline: none;
        scale: 1.2;
        color: var(--clr-accent);
      }

    }

    .modal::backdrop {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .tag {
      /* background-color: var(--clr-accent-alpha); */
      /* color: var(--clr-neutral-100); */
      padding: 0.25em;
      border-radius: 0.25em;
      /* border: 1px solid var(--clr-accent); */
    }

    .btn {
      background-color: var(--clr-accent);
      color: var(--clr-neutral-100);
      padding: 0.5em;
      font-weight: 600;
      border-radius: 0.5em;
      transition: background-color 300ms;

      &:is(:hover, :focus-visible) {
        background-color: var(--clr-accent-alpha);
        outline: none;
      }
    }
  </style>
  <script type="module">
    const modal = document.querySelector('.modal');
    const modalBtns = modal.querySelectorAll('button');

    setTimeout(() => {
      modal.showModal();
      modalBtns.forEach((btn) => {
        btn.blur();
      })
    }, 3000);

    modalBtns.forEach((btn) => {
      btn.addEventListener('click', () => {
        modal.close();
      })
    })

  </script>
</body><!-- Change code above this line -->

</html>