{{#> ../../../pages/basepage/markup/basepage.page }}


  <link rel="stylesheet" href="../typography/style.css">
  <link rel="stylesheet" href="../image/style.css">

  <ul class="card-list-fancy-hover__list row">

    <li class="card-list-fancy-hover__listItem col">
      {{> ../../../atoms/image/markup/image.atom imgName="explore-the-world" altText="explore-the-world"}}
      <p class="paragraph__base">CSS Fancy</p>
    </li>

    <li class="card-list-fancy-hover__listItem col">
      {{> ../../../atoms/image/markup/image.atom imgName="wild-forest" altText="wild-forest"}}
      <p class="paragraph__base">:hover</p>
    </li>

    <li class="card-list-fancy-hover__listItem col">
      {{> ../../../atoms/image/markup/image.atom imgName="sunny-beach" altText="sunny-beach"}}
      <p class="paragraph__base">effect</p>
    </li>

  </ul>

  {{/ ../../../pages/basepage/markup/basepage.page}}