/* ------------------------------------ *\
 * #HEADER
\* ------------------------------------ */

$type: "mod";
$block: "#{$type}-header";

.#{$block} {
    @include e("base") {
        @include flex($main: space-between);

        margin-bottom: 32px;

        body > & {
            padding-top: 32px;
            padding-bottom: 32px;
            margin-bottom: 64px;
             @include border($bottom: 1px solid get-color($c-gray, sonic-silver));
        }
    }
}

// should be changed to the logo atom
svg {
    display: inline-block;
    vertical-align: top;
}

// buttons group - to be moved to button-group molecule
button + button {
    margin-left: 10px;
}

// should use the paragraph atom
.welcome {
    color: #333;
    font-size: 14px;
    margin-right: 10px;
}
