{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Drag N Drop' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}

  {{{feLibs 'library' 'components' 'drag-n-drop' 'drag-n-drop' 'all'}}}

    <div class="empty">
      <div class="fill" draggable="true"></div>
    </div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}