{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Side Nav Buttons' 
      attributionFromHref='https://www.w3schools.com/howto/default.asp' 
      attributionFromLabel='W3 Schools - How To ...'}}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  {{{feLibs 'library' 'patterns' 'navigation' 'side-nav-buttons' 'css'}}}

  <div id="mySidenav" class="sidenav">
    <a href="#" id="about">About</a>
    <a href="#" id="blog">Blog</a>
    <a href="#" id="projects">Projects</a>
    <a href="#" id="contact">Contact</a>
  </div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}