:root {
    --color-text-1: oklch(
        calc(var(--color-accent-1-l) - 0.2) calc(var(--color-accent-1-c) - 0.1) calc(var(--color-accent-1-h) + 222)
    );
    --color-text-2: oklch(
        calc(var(--color-accent-1-l) - 0.2) calc(var(--color-accent-1-c) - 0.1) calc(var(--color-accent-1-h) + 222) /
            0.075
    );
    --color-text-3: oklch(
        calc(var(--color-accent-1-l) - 0.2) calc(var(--color-accent-1-c) - 0.1) calc(var(--color-accent-1-h) + 222) /
            0.35
    );
    --color-background-1: #fff;
    --color-background-2: oklch(
        calc(var(--color-accent-1-l) + 0.27) calc(var(--color-accent-1-c) - 0.01) calc(var(--color-accent-1-h) + 12.5)
    );
    --color-background-3: oklch(
        calc(var(--color-accent-1-l) + 0.27) calc(var(--color-accent-1-c) - 0.01) calc(var(--color-accent-1-h) - 12.5)
    );
    --color-background-modal: var(--color-background-1);
    --color-accent-1-l: 0.52;
    --color-accent-1-c: 0.17;
    --color-accent-1-h: 33.5;
    --color-accent-1: oklch(var(--color-accent-1-l) var(--color-accent-1-c) var(--color-accent-1-h));
    --color-accent-2: oklch(
        calc(var(--color-accent-1-l) + 0.17) calc(var(--color-accent-1-c) + 0.08) calc(var(--color-accent-1-h) + 32)
    );
    --color-link-1: oklch(calc(var(--color-accent-1-l) + 0.15) var(--color-accent-1-c) var(--color-accent-1-h));
    --color-link-1-hover: oklch(
        calc(var(--color-accent-1-l) + 0.15) calc(var(--color-accent-1-c) - 0) calc(var(--color-accent-1-h) + 235)
    );
    --color-link-2: oklch(0.91 calc(var(--color-accent-1-c) - 0.13) calc(var(--color-accent-1-h) - 180));
    --color-link-2-hover: oklch(0.83 calc(var(--color-accent-1-c) - 0.1) calc(var(--color-accent-1-h) - 180));
    --color-button-text: #fff;
    --font-1-family: Montserrat, sans-serif;
    --font-1-weight-lighter: 300;
    --font-1-weight-light: 400;
    --font-1-weight-normal: 500;
    --font-1-weight-bold: 700;
    --font-2-family: 'Noto Sans', sans-serif;
    --font-2-weight-normal: 400;
    --font-2-weight-bold: 700;
    --line-height-small: 1.1;
    --line-height-medium: 1.25;
    --line-height-large: 1.5;
    --shadow-1: 0 1rem 1rem -0.5rem oklch(calc(var(--color-accent-1-l) + 0) calc(var(--color-accent-1-c) + 0)
                var(--color-accent-1-h) / 0.5);
    --shadow-2: 0 0 1rem var(--color-background-1);
    --shadow-modal: var(--shadow-1);
    --gradient-1: linear-gradient(
        180deg,
        var(--color-background-1) 50%,
        var(--color-background-2) 50%,
        var(--color-background-3) 100%
    );
    --border-width: 0.1rem;
    --outline-offset: calc(0.5 * var(--border-width));
    --stroke-width-icon: calc(0.8 * var(--border-width));
    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 1rem;
    --size-liquid-small: clamp(0.5rem, 3vw, 1rem);
    --size-liquid-medium: clamp(0.5rem, 5vw, 1.5rem);
    --size-liquid-large: clamp(0.5rem, 8vw, 4rem);
    --transition-speed-fast: 300ms;
    --transition-speed-medium: 500ms;
    --transition-speed-slow: 1500ms;
    --transition-timing-function-default: ease-in-out;
    --image-filter: none;
    --noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' /%3E%3C/svg%3E%0A");
    color: var(--color-text-1);
    color-scheme: only light;
}

button {
    appearance: none;
    background: none;
    background-color: var(--color-link-1);
    border-radius: var(--border-radius-small);
    border: none;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    transition: all var(--transition-speed-fast) var(--transition-timing-function-default);
    color: var(--color-button-text);
    min-block-size: 3rem;
    padding-block: 0.25rem;
    padding-inline: 1rem;
    gap: 0.5rem;
    font-weight: 600;

    margin-block-start: auto;
    inline-size: 9rem;
    margin-inline: auto;
    border: var(--border-width) solid var(--color-text-2);
    background-color: transparent;
    color: var(--color-text-3);

    color: var(--color-background-1);
    border-color: var(--color-background-1);
    inline-size: fit-content;
    margin-inline-start: auto;
    animation: var(--transition-speed-medium) var(--transition-timing-function-default)
        calc(2.5 * var(--transition-speed-medium)) backwards scale-up;
    padding: 0;

    &:focus,
    &:hover {
        background-color: var(--color-link-1-hover);
        color: var(--color-background-1);
        border-color: var(--color-background-1);
    }

    &.outline {
        background-color: transparent;
        color: var(--color-link-1);
        border: var(--border-width) solid currentColor;

        &.outline:focus,
        &.outline:hover {
            color: var(--color-link-1-hover);
            background-color: oklch(var(--color-accent-1-l) var(--color-accent-1-c) var(--color-accent-1-h) / 0.2);
        }
    }

    &.secondary {
        background-color: var(--color-link-2);
        color: var(--color-text-2);

        &.secondary:focus,
        &.secondary:hover {
            background-color: var(--color-link-2-hover);
        }
    }

    &.link {
        font-weight: var(--font-1-weight-normal);
        padding: 0;
        display: inline;
        inline-size: auto;
        min-block-size: 0;
        color: var(--color-link-1);
        border-radius: 0;
        border: none;
        background-color: transparent;
        text-align: inherit;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    &[disabled] {
        background-color: transparent;
        color: currentColor;
        cursor: not-allowed;
    }
}
