@use '@wbk-frontend-forge/_shared__styles/src/abstracts/index' as *;

// ----- Variation 1: Custom Range Slider -----

.range-container {
    position: relative;

    input[type='range'] {
        width: 300px;
        margin: 18px 0;
        -webkit-appearance: none;

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            background: purple;
            border-radius: 4px;
            width: 100%;
            height: 10px;
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid purple;
            margin-top: -7px;
            cursor: pointer;
        }

        &::-moz-range-track {
            background: purple;
            border-radius: 4px;
            width: 100%;
            height: 13px;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            appearance: none;
            height: 24px;
            width: 24px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid purple;
            cursor: pointer;
        }

        & + label {
            background-color: #fff;
            position: absolute;
            top: -25px;
            left: 110px;
            width: 80px;
            padding: 5px 0;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        }
    }
}

// ----- Variation 2: Search Hidden -----

$sh-block: 'search-hidden';

.#{$sh-block} {
    @include e('base') {
        @include font($body);
        @include flex();

        margin-inline: auto;
        padding: 16px;
    }

    @include e('container') {
        position: relative;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    @include e('input', 'btn') {
        outline: none;
    }

    @include e('input') {
        @include font($body);

        background-color: get-color($c-light, cultured);
        border: 0;
        padding: 15px;
        height: 50px;
        width: 50px;
        transition: width 0.3s ease;

        .active & {
            width: 200px;
        }
    }

    @include e('btn') {
        @include absolute($top: 0, $left: 0);
        @include flex();

        background-color: get-color($c-light, cultured);
        border: 0;
        cursor: pointer;
        height: 50px;
        width: 50px;
        transition: transform 0.3s ease;

        .active & {
            transform: translateX(198px);
        }
    }

    @include e('magnifying-icon') {
        width: 50%;
    }
}

// ----- Variation 3: Text Input -----

$input-block: 'input';

.#{$input-block} {
    @include e('input') {
        padding: 16px;
        border-radius: 3px;
        margin-bottom: 16px;
        width: 100%;
        border: 1px solid get-color($c-gray, sonic-silver);

        &:focus {
            border-color: get-color($c-blue, rhythm);
            outline: 0;
            box-shadow: 0 convert-rem(2px) convert-rem(10px) get-color($c-dark, dark-30);
        }

        &.success {
            border-color: get-color($c-traffic-lights, success);
        }

        &.error {
            border-color: get-color($c-traffic-lights, danger);
        }
    }

    @include e('label') {
        @include font($label);

        margin-bottom: 8px;
        display: inline-block;
    }
}
