{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Dad Jokes' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'modules' 'text-generator' 'dad-jokes' 'all'}}}

  <div class="container">
    <h3>Don't Laugh Challenge</h3>
    <div id="joke" class="joke">// Joke goes here</div>
    <button id="jokeBtn" class="btn">Get Another Joke</button>
  </div>

{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}