{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true hasJS=true}}

  {{{feLibs 'library' 'components' 'typography' 'paragraph' 'css'}}}
  {{{feLibs 'library' 'modules' 'movie-seat-booking' 'movie-seat-booking' 'all'}}}

  <div class="movie-seat-booking__base" data-js-widget="MovieSeatBooking">
    <div class="movie-seat-booking__movie-picker">
      <label class="movie-seat-booking__select-label" for="movie">Pick a movie:</label>
      <select id="movie" class="movie-seat-booking__select">
        <option value="10">Avengers: Endgame ($10)</option>
        <option value="12">Joker ($12)</option>
        <option value="8">Toy Story 4 ($8)</option>
        <option value="9">The Lion King ($9)</option>
      </select>
    </div>

    <ul class="movie-seat-booking__showcase-list">
      <li class="movie-seat-booking__showcase-item">
        <div class="movie-seat-booking__seat"></div>
        <p class="movie-seat-booking__caption">N/A</p>
      </li>
      <li class="movie-seat-booking__showcase-item">
        <div class="movie-seat-booking__seat movie-seat-booking__seat--selected"></div>
        <p class="movie-seat-booking__caption">Selected</p>
      </li>
      <li class="movie-seat-booking__showcase-item">
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <p class="movie-seat-booking__caption">Occupied</p>
      </li>
    </ul>

    <div class="movie-seat-booking__container">
      <div class="movie-seat-booking__screen"></div>
      <div class="movie-seat-booking__row">
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
      </div>
      <div class="movie-seat-booking__row">
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
      </div>
      <div class="movie-seat-booking__row">
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
      </div>
      <div class="movie-seat-booking__row">
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
      </div>
      <div class="movie-seat-booking__row">
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
      </div>
      <div class="movie-seat-booking__row">
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat movie-seat-booking__seat--occupied"></div>
        <div class="movie-seat-booking__seat"></div>
      </div>
    </div>
    <p class="paragraph">
      You have selected <span id="count" class="movie-seat-booking__count">0</span> seats for a price of $<span
        class="movie-seat-booking__total" id="total">0</span>
    </p>
  </div>
  {{/ templates/base/markup/partials/_base-demo-container}}