@import "~ScssAbstracts";

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-dark-blue: hsl(218, 44%, 22%);

    --container-background-color: var(--color-white);
    --text-description-color: var(--color-grayish-blue);
    --title-color: var(--color-dark-blue);
    --container-shadow-color: var(--color-light-gray);

    --container-border-radius: 20px;
    --container-box-shadow: 0px 20px 35px 0px hsl(212deg 26% 82%);
}

body {
    @include flex($direction: column);

    font-family: "Outfit", sans-serif;
    background-color: var(--color-light-gray);
    min-height: 100vh;
    font-size: convert-rem(16px);
}

.qr-code-card {
    &__base {
        background-color: var(--container-background-color);
        border-radius: var(--container-border-radius);
        padding-inline: convert-rem(16px);
        padding-block: convert-rem(16px) convert-rem(40px);
        max-width: convert-rem(320px);
        box-shadow: var(--container-box-shadow);

        * + * {
            margin-top: convert-rem(20px);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: convert-rem(10px);
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    &__content {
        padding-inline: convert-rem(10px);

        * + * {
            margin-top: convert-rem(16px);
        }
    }

    &__title {
        font-size: convert-rem(22px);
        text-align: center;
        font-weight: 700;
        color: var(--title-color);
    }

    &__description {
        font-size: convert-rem(15px);
        color: var(--text-description-color);
        text-align: center;
        font-weight: 400;
    }
}
