@use 'sass:color';
@use '@wbk--frontend-forge/_shared__styles/src/abstracts/index' as abstracts;

// Source: library/patterns/accordion/scss/accordion-css.entry.scss
// ~ScssAbstracts resolved via local ./_abstracts.scss

$block: 'accordion-css';

.#{$block} {
    &__base {
        @include abstracts.flex($direction: column, $cross: stretch);

        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    }

    &__item {
        color: abstracts.get-color(abstracts.$c-light, cultured);
        width: 100%;
        overflow: hidden;
        max-inline-size: 100%;
    }

    &__input-toggle {
        @include abstracts.absolute();

        opacity: 0;
        z-index: -1;
        max-inline-size: none;

        &:checked {
            +.#{$block}__item-label {
                background: color.adjust(abstracts.get-color(abstracts.$c-blue, charcoal), $lightness: -10%);

                &::after {
                    transform: rotate(90deg);
                }
            }

            ~.#{$block}__content {
                max-height: 100vh;
                padding: 1em;
            }
        }
    }

    &__item-label {
        @include abstracts.flex($main: space-between);
        @include abstracts.font(abstracts.$label);

        width: 100%;
        padding: abstracts.$baseline abstracts.$gutter;
        background: abstracts.get-color(abstracts.$c-blue, charcoal);
        max-inline-size: none;

        cursor: pointer;

        &::after {
            content: '\276F';
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
        }

        &:hover {
            background: color.adjust(abstracts.get-color(abstracts.$c-blue, charcoal), $lightness: -10%);
        }
    }

    &__content {
        max-height: 0;
        width: 100%;
        padding: 0 1em;
        color: abstracts.get-color(abstracts.$c-blue, charcoal);
        background: abstracts.get-color(abstracts.$c-light, cultured);
        transition: all 0.35s ease-in-out;
    }
}