{{#> ../../../pages/basepage/markup/basepage}}
<section data-js-mod="Alert" class="alert alert--blue js-alert">
  <div class="alert__base">
    <h3 class="alert__title">
      Alert Title
    </h3>
    <p class="alert__text">
      Alert text : lorem ipsum dolor sit amet, consectet
    </p>
    <span class="alert__closeIcon">&times;</span>
    <div class="alert__linkWrapper">
      <a class="alert__link" href="#link-url">
        Link text
      </a>
      <a class="alert__button" href="#button-link-url">
        button label
      </a>
    </div>
  </div>
</section>
{{/ ../../../pages/basepage/markup/basepage}}