{{#> ../../../pages/basepage/markup/basepage.page}}

    <div class="row">
      <section class="alert__base alert__base--blue js-alert col">
        <h3 class="alert__title">
          Alert Title
        </h3>
        <p class="alert__text">
          Alert text : lorem ipsum dolor sit amet, consectet
        </p>
        <span class="alert__closeIcon">&times;</span>
        <div class="alert__linkWrapper">
          <a class="alert__link" href="#link-url">
            Link text
          </a>
          <a class="alert__button" href="#button-link-url">
            button label
          </a>
        </div>
      </section>
    </div>

  {{/ ../../../pages/basepage/markup/basepage.page}}