/* ------------------------------------ *\
  #THEMES
\* ------------------------------------ */


@mixin modular-harminc-spaceing-generator($base: 16px, $ratio: 1.5, $minStep: -5, $maxStep: 5, $propertyName: "static-") {
  $current: $base;
  @for $i from $minStep through $maxStep {
      @if $i == 0 {
          --#{$propertyName}#{$i}: #{convert-rem($current)};
      }
      @if $i < 0 {
          --#{$propertyName}#{$i}: calc(var(--#{$propertyName}#{$i + 1}) / #{$ratio});
      }
      
      @if $i > 0 {
          --#{$propertyName}#{$i}: calc(var(--#{$propertyName}#{$i - 1}) * #{$ratio});
      }
  }
}

:root {
  --text-color: #{get-color($c-dark, eerie-black)};
  --brand-color: #{get-color($c-gray, davys-grey)};
  --text-link-color: #{get-color($c-dark, eerie-black)};
  --text-link-color-hover: #{get-color($c-gray, ebony)};
  --background-color-generic: #{get-color($c-light, ivory)};
  --text-font-family-code: #{$font-family-ubuntu};
  --secondary-color: #{get-color($c-gray, timberwolf)};
}

:root {
  // Spacing ratio (1.5) and property name (responsive-spacing) can be changed here
  @include modular-harminc-spaceing-generator($propertyName: "responsive-spacing-");
  @include modular-harminc-spaceing-generator($propertyName: "static-spacing-");

  --lateral-padding: 20px;
  --header-height: 80px;
  --footer-height: 80px;

  // Breakpoints (mobile first)
  @include breakpoint($mobile) {
    @include modular-harminc-spaceing-generator($propertyName: "responsive-spacing-", $ratio: 1.65);
  }

  @include breakpoint($tablet) {
    --lateral-padding: 25px;
    @include modular-harminc-spaceing-generator($propertyName: "responsive-spacing-", $ratio: 1.75);
  }
}

:root {
  // Spacing ratio (1.5) and property name (static) can be changed here
  --ratio: 1.5;
  $property-name: "static";

  // Spacing
  --#{$property-name}-5: calc(var(--#{$property-name}-4) / var(--ratio));
  --#{$property-name}-4: calc(var(--#{$property-name}-3) / var(--ratio));
  --#{$property-name}-3: calc(var(--#{$property-name}-2) / var(--ratio));
  --#{$property-name}-2: calc(var(--#{$property-name}-1) / var(--ratio));
  --#{$property-name}-1: calc(var(--#{$property-name}0) / var(--ratio));
  
  --#{$property-name}0: #{convert-rem(16px)};
  
  --#{$property-name}1: calc(var(--#{$property-name}0) * var(--ratio));
  --#{$property-name}2: calc(var(--#{$property-name}1) * var(--ratio));
  --#{$property-name}3: calc(var(--#{$property-name}2) * var(--ratio));
  --#{$property-name}4: calc(var(--#{$property-name}3) * var(--ratio));
  --#{$property-name}5: calc(var(--#{$property-name}4) * var(--ratio));
}