<body class='grid'>
  <link rel="stylesheet" href="../basepage/style.css">
  <link rel="stylesheet" href="style.css">

  {{#if hasJS}}
    <script async defer src="script.js"></script>
  {{/if}}

  <div class="col">
    {{> @partial-block}}
  </div>
  
</body>