@import "../../../abstracts/abstracts.scss";
@import "../../../generics/generics.scss";
@import "../themes/main.theme.scss";
@import "../templates/generic.template.scss";

img {
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}
