@use '@wbk--frontend-forge/_shared__styles/src/abstracts/index' as *;

.blurry-loader {
    &__base {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        min-height: 320px;
    }

    &__background-image {
        display: block;
        width: 100%;
        min-height: 320px;
        object-fit: cover;
        filter: blur(30px);
    }

    &__loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        color: #fff;
        font-size: clamp(2rem, 5vw, 3rem);
        transform: translate(-50%, -50%);
    }
}
