$type: "cmp";
$block: "#{$type}-range";

.#{$block} {
    @include e("input") {
        border-radius: 3px;
        margin-right: 16px;
        display: block;
    }

    @include e("label") {
        @include font($label);

        margin-bottom: 8px;
        display: block;
    }
}
