{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
     title='Email Extractor' 
     attributionFromHref='https://www.udemy.com/course/javascript-course-projects/' 
     attributionFromLabel='Complete JavaScript Projects Course Games 55 Modern JS DOM'}}
  
  {{{feLibs 'library' 'modules' 'form-modules' 'email-extractor' 'all'}}}

  Paste Text :
  <br>
  <textarea name="txtarea" rows="12"
    cols="50">heloo email world real@email.com asddsa jldkjjlkj jkljl sdajlkdasjdsa kljadsj dklja real1@email.com real.test@email.com helllo hkjdshsdkjh jkh real-time@email.com </textarea>
  <br>
  <button type="button">Get Emails</button>
  <br> <span class="counter"> </span> Emails in text:
  <br>
  <textarea name="output" rows="12" cols="50"></textarea>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}