@import "~ScssAbstracts";
/* ------------------------------------ *\
 * WEATHER-APP STYLES
\* ------------------------------------ */

$block: "weather-app";

.#{$block} {
    @include e("base") {
        @include flex($direction: column);
        @extend %margin-bottom-16;
        @extend %padding-16;
        background-color: get-color($c-red, fuzzy-wuzzy);
    }

    @include e("weather", "details-container") {
        @include flex($direction: column);
        @extend %margin-bottom-16;
        @extend %padding-16;
        background: get-color($c-light, cultured);
        width: 75%;
    }

    @include e("details") {
        @include flex();
        @extend %margin-bottom-8;
        @include font($body);
        color: var(--text-color);
        column-gap: $gutter;
    }

    @include e("buttons") {
        @extend %margin-bottom-16;
        @extend %padding-16;
        width: 75%;
    }

    @include e("temp-info") {
        @extend %margin-bottom-8;
        @include font($page-title);
        color: get-color($c-red, fuzzy-wuzzy);
    }

    @include e("buttons-group") {
        @include flex();

        &,
        * {
            width: 75%;
        }
    }
}
