$type: "o";
$block: "#{$type}-form";

.#{$block} {
  @include e("base") {
    min-width: convert-rem(400px);
    max-width: $max-width / 2;
    background-color: var(--color-background-main);
    border-radius: convert-rem(5px);
    box-shadow: var(--container-shadow);
  }

  @include e("container") {
    padding: ($baseline * 4) ($gutter * 3);
  }
}
