BASE_URL='https://paulalexserban.github.io/prj--js-component-lib'
BASE_PATH='/prj--js-component-lib'

INTERNAL_COMPONENT_LIBRARY_URL = "$BASE_URL/generic-component-library"
USER_COMPONENT_LIBRARY_URL = "$BASE_URL/generic-component-library"

INTERNAL_FRONTEND_MENTOR_LIBRARY_URL = "$BASE_URL/frontend-mentor-library"
USER_FRONTEND_MENTOR_LIBRARY_URL = "$BASE_URL/frontend-mentor-library"