{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}
  <link rel="stylesheet" href="../typography/style.css">
  <link rel="stylesheet" href="../button/style.css">
    <link rel="stylesheet" href="../form-atoms/style.css">
    <link rel="stylesheet" href="../form-molecules/style.css">

  <form class="simple-subscribe-form__base js-signup-form" data-js-pat="SimpleSubscribeForm">

    <link rel="stylesheet" href="../form-atoms/style.css">
    {{#> ../../../molecules/form-molecules/templates/text-field.molecule errorMessage="Error message" }}
      {{> ../../../atoms/form-atoms/templates/text-input.atom label="Username" 
            id="username" type="text" placeholder="Enter username" classNames="js-validation-email"}}
      {{/ ../../../molecules/form-molecules/templates/text-field.molecule}}

    <input class="button__base" type="submit" value="submit">
    <div class="js-signup-feedback"></span>
  </form>
  {{/ ../../../pages/basepage/markup/basepage.page}}