{{#> templates/base/markup/partials/_base title='Base Page Template'}}

  {{{feLibs 'system' 'products' 'design-system' 'harmonic-sizes' 'css'}}}

  <body>
    <h1>Harmonic Sizes</h1>
    <div>
      <h2>Static Sizes</h2>
      <div class='container'>
        <div class='box ss-5'></div>
        <div class='box ss-4'></div>
        <div class='box ss-3'></div>
        <div class='box ss-2'></div>
        <div class='box ss-1'></div>
        <div class='box ss0'></div>
        <div class='box ss1'></div>
        <div class='box ss2'></div>
        <div class='box ss3'></div>
        <div class='box ss4'></div>
        <div class='box ss5'></div>
      </div>

    </div>
    <div>
      <h2>Responsive Sizes</h2>
      <div class='container'>
        <div class='box rs-5'></div>
        <div class='box rs-4'></div>
        <div class='box rs-3'></div>
        <div class='box rs-2'></div>
        <div class='box rs-1'></div>
        <div class='box rs0'></div>
        <div class='box rs1'></div>
        <div class='box rs2'></div>
        <div class='box rs3'></div>
        <div class='box rs4'></div>
        <div class='box rs5'></div>
      </div>
    </div>
  </body>

  {{/ templates/base/markup/partials/_base}}