{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Animated Countdown' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}

  {{{feLibs 'library' 'components' 'timer' 'animated-countdown' 'all'}}}

  <div class="counter">
    <div class="nums">
      <span class="in">3</span>
      <span>2</span>
      <span>1</span>
      <span>0</span>
    </div>
    <h4>Get Ready</h4>
  </div>

  <div class="final">
    <h1>GO</h1>
    <button id="replay">
      <span>Replay</span>
    </button>
  </div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}