{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}

<div class="math-game__base" data-js-widget="MathGame">
  <div class="math-game__container" id="container">
      <div class="math-game__score" id="score">
          Score: <span id="scorevalue">0</span>
      </div>
      <div class="math-game__correct" id="correct">
          Correct
      </div>
      <div class="math-game__wrong" id="wrong">
          Try again
      </div>
      <div class="math-game__question" id="question">
      </div>
      <div class="math-game__instruction" id="instruction">
          Click on the correct answer
      </div>
      <div class="math-game__choices" id="choices">
          <div id="box1" class="math-game__box"></div>
          <div id="box2" class="math-game__box"></div>
          <div id="box3" class="math-game__box"></div>
          <div id="box4" class="math-game__box"></div>
      </div>
      <div  class="math-game__start-reset" id="startreset">
          Start Game
      </div>
      <div class="math-game__time-remaining" id="timeremaining">
          Time remaining: <span id="timeremainingvalue">60</span> sec
      </div>
      <div class="math-game__game-over" id="gameOver">
      </div>
  </div>

</div>

{{/ ../../../pages/basepage/markup/basepage.page}}