{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base title='Custom Audio Player' attributionFromHref='https://www.udemy.com/course/web-projects-with-vanilla-javascript/' attributionFromLabel='20 Web Projects With Vanilla JavaScript'}}
  {{{feLibs 'library' 'modules' 'pagination' 'infinite-scroll-posts' 'all'}}}

  <h1>My Blog</h1>

  <div class="filter-container">
    <input type="text" id="filter" class="filter" placeholder="Filter posts..." />
  </div>

  <div id="posts-container"></div>

  <div class="loader">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}