@import "~ScssAbstracts";

/* ------------------------------------ *\
  * 12 COLUMN GRID
\* ------------------------------------ */

@import "./partials/grid-functions.scss";
@import "./partials/grid-mixins.scss";

// SCSS variable to set the number of columns used for media-queries (12 OR 16)
$breakpoints: $column-grid-12;

// Grid mixin
@include generate-grid();
@include make-grid-columns($breakpoints, $grid-gutter);
@include no-gutter();
@include hang($grid-gutter);
@include grid-aspect-ratio();

