/* ------------------------------------ *\
 * IFRAME
\* ------------------------------------ */

$type: "cmp";
$block: "#{$type}-iframe";

.#{$block} {
    @include e("base") {
        @include aspect-ratio(16, 9, "cmp-iframe__iframe");
    }

    @include e("iframe") {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}
