{{#> templates/base/markup/partials/_base use12ColGrid=true title='Icon'}}
  {{{feLibs 'library' 'components' 'icon' 'icon' 'css'}}}

  <div>
    {{> ./partials/_icon-fa style='solid' name='info'}} <span>Info</span>
  </div>


  {{/ templates/base/markup/partials/_base }}