{{#> templates/base/markup/partials/_base title='Icon - Component'}}
  {{{feLibs 'library' 'components' 'icon' 'icon' 'css'}}}

  <div>
    {{> ./partials/_icon-fa style='solid' name='info'}} <span>Info</span>
  </div>

{{/ templates/base/markup/partials/_base }}