/* ------------------------------------ *\
 * BLURRY-LOADER
\* ------------------------------------ */

$type: "cmp";
$block: "#{$type}-blurry-loader";

.#{$block} {
  @include e("base") {
    @include relative();
    color: #ff1;
  }

  @include e("background-image") {
    filter: blur(0);
  }

  @include e("loading-text") {
    @include absolute($top: 50%, $left: 50%);
    color: get-color($c-light, light);
  }
}
