{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}
  <link rel="stylesheet" href="../button/style.css">
  <link rel="stylesheet" href="../typography/style.css">
  <link rel="stylesheet" href="../typography/style.css">

  <div class="popup__base" data-js-pat="Popup">
        {{> ../../../molecules/button/templates/button.atom
          style="primary" type="button" label="Open Popup" classNames="js-btn-open-popup"}}

    <div class="popup__wrapper js-popup-wrapper">
      <div class="popup__modal">
        <div class="popup__close js-popup-close">x</div>
        <div class="popup__content">
          <h2 class="heading__base heading__base--heading-200">NINJA SALE!!</h2>
          <p class="paragraph__base">50% off all ninja clothing. don't miss out!</p>
          {{> ../../../molecules/button/templates/button.atom
            style="primary" type="button" label="View Clothing" classNames="js-popup-action"}}
        </div>
      </div>
    </div>
  </div>
  {{/ ../../../pages/basepage/markup/basepage.page}}