/* ---------------------------------------------------------------------------------------------------------------- *\
  * 1 - Box-sizing
  * 
  * Make all elements from DOM inherit from parent box-sizing
  * Since `*` has a specificity of 0, it does not override the `html` value making all elements inheriting
  * from the root box-sizing value
  * Change the box model so border and paddings are not added to the total width of the box container
  * Setup the box model on the root level
  *
  * More sensible default box-sizing:
  * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice

  * ----------------------------------------------------------------------------
  * 2. Remove browser margin and padding

  * ----------------------------------------------------------------------------
  * 3. Images
  * Remove the border on images inside links in IE 10.
  * Make images fluid
\* ---------------------------------------------------------------------------------------------------------------- */

html {
    /* 1 */
    box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
      /* 1 */
      box-sizing: inherit;
      /* 2 */
      margin: 0;
      padding: 0;
  }
}

fieldset {
    /* 2 */
    padding: 0;
    border: none;
}

img {
  /* 3 */
    height: auto;
    border: none;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    object-fit: cover;
}

/* ---------------------------------------------------------------------------------------------------------------- *\
  * Render the `main` element consistently in IE.
\* ---------------------------------------------------------------------------------------------------------------- */

main {
    display: block;
    box-sizing: border-box;
}

::selection {
    background-color: var(--text-selection-background-color);
    color: var(--text-selection-color);
}

/* ---------------------------------------------------------------------------------------------------------------- *\
  * Remove default table spacing.
\* ---------------------------------------------------------------------------------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    white-space: revert;
}

ul,
ol {
    margin: 0;
    list-style: none;
}
