{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Hoverboard' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}

  {{{feLibs 'library' 'components' 'animations' 'hoverboard' 'all'}}}

  <div class="container" id="container"></div>

{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}