@use './abstracts' as *;

.box {
    --box-color-light: #f8fafc;
    --box-color-dark: #0f172a;
    --box-padding: 1rem;
    --box-border: 2px solid var(--box-color-dark);

    padding: var(--box-padding);
    border: var(--box-border);
    color: var(--box-color-dark);
    background-color: var(--box-color-light);
    outline: 0.125rem solid transparent;
    outline-offset: -0.125rem;

    * {
        color: inherit;
    }

    &.invert {
        --box-border: 2px solid var(--box-color-light);
        color: var(--box-color-light);
        background-color: var(--box-color-dark);
    }
}

[class^='stack'] > * {
    margin-block: 0;
}

.stack {
    --stack-mt: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &--successive > * + * {
        margin-block-start: var(--stack-mt);
    }

    &--recursive * + * {
        margin-block-start: var(--stack-mt);
    }

    &:only-child {
        block-size: 100%;
    }
}

.with-sidebar {
    --sidebar-space: 1rem;
    --sidebar-width: 18rem;
    --sidebar-content-min: 50%;

    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-space);

    & > * {
        flex-grow: 1;
        flex-basis: var(--sidebar-width);
    }

    &--left > :last-child,
    &--right > :first-child {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: var(--sidebar-content-min);
    }
}

.grid {
    --grid-col-min-width: 20ch;

    display: grid;
    gap: 1rem;
}

@supports (width: min(var(--grid-col-min-width), 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-col-min-width), 100%), 1fr));
    }
}

.layout-sample {
    color: #334155;
}

.layout-links {
    margin: 0;
    padding-left: 20px;
}
