{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Toast Notification' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}

  {{{feLibs 'library' 'components' 'toast' 'toast-notification' 'all'}}}

    <div id="toasts"></div>

    <button class="btn" id="button">Show Notification</button>

{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}