{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Event Key Codes' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'components' 'keyboard-keys' 'event-key-codes' 'all'}}}
    <div id="insert">
      <div class="key">
        Press any key to get the keyCode
      </div>
    </div>
{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}