{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true title='Stack Layout - Pattern'}}

  {{{feLibs 'library' 'patterns' 'layouts' 'stack' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
    {{{feLibs 'library' 'components' 'typography' 'paragraph' 'css' }}}
  <div class='container stack stack--adjacent-sibling'>
    <div class='row stack--adjacent-sibling'>

      <article class='col-smartphone-4 col-tablet-6 offset-tablet-3'>
        <h2>Stack - Adjacent Sibling</h2>
        {{#> patterns/layouts/markup/partials/_stack 
             classNames='withDebugs' 
             type='adjacent-sibling'}}

          {{#> components/typography/markup/partials/_paragraph}}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident officiis
            reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem quisquam
            optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}
            {{#> components/typography/markup/partials/_paragraph}}
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident officiis
              reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem
              quisquam
              optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}
            {{#> components/typography/markup/partials/_paragraph}}
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident
                officiis
                reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem
                quisquam
                optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}
          {{/ patterns/layouts/markup/partials/_stack}}
      </article>

      <article class='col-smartphone-4 col-tablet-6 offset-tablet-3'>
        <h2>Stack - Recursive</h2>
        {{#> patterns/layouts/markup/partials/_stack 
             classNames='withDebugs' 
             type='recursive'}}
          {{#> components/typography/markup/partials/_paragraph}}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident officiis
            reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem quisquam
            optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}

          <div>
          {{#> components/typography/markup/partials/_paragraph classNames='debug4'}}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident officiis
            reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem quisquam
            optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}
          {{#> components/typography/markup/partials/_paragraph classNames='debug4'}}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident officiis
            reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem quisquam
            optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}

          </div>

          {{#> components/typography/markup/partials/_paragraph}}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, quis illo! Ullam nisi provident officiis
            reprehenderit vel similique aspernatur expedita, quidem dolore sint consequuntur facere voluptatem quisquam
            optio animi possimus?
            {{/ components/typography/markup/partials/_paragraph}}

          {{/ patterns/layouts/markup/partials/_stack}}

      </article>
    </div>

    <div class="row">
      <article class='col-smartphone-4 col-tablet-6 offset-tablet-3 stack'>
        <section>
          <h2>The Problem
          </h2>
          <p>We style elements or classes of elements directly, this way we make style declarations belong to elements -
            the
            issue comes with <code>margin</code> which is a property relationship between 2 proximate elements.</p>
        </section>
        <section>
          <h2>The Solution</h2>
          <p>Style the context, not the individual elements.</p>
          <p><b>Stack</b> as a layout primitive injects margin between elements via their common parent.</p>
        </section>

      </article>
    </div>
  </div>




  {{/ templates/base/markup/partials/_base-demo-container}}