@import '~ScssAbstracts';

/* ------------------------------------ *\
 * DIGITAL-CLOCK-V2
\* ------------------------------------ */

.digital-clock-v2 {
    @include e('base') {
        @include flex();

        background: #333;
        font-size: 4em;
        text-align: center;
        margin: 200px auto;
        color: #ff0;

        span {
            padding: 20px;
            background: #444;
        }
    }
}
