/* ---------------------------------------------------------------------------------------------------------------- *\
  * Remove browser margin and padding
\* ---------------------------------------------------------------------------------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

fieldset {
    padding: 0;
    border: none;
}

/* ---------------------------------------------------------------------------------------------------------------- *\
  * IMAGES
  * 1. Remove the border on images inside links in IE 10.
  * 2. Make images fluid
\* ---------------------------------------------------------------------------------------------------------------- */

img {
    border: none;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    @include height();
    object-fit: cover;
}

/* ---------------------------------------------------------------------------------------------------------------- *\
  * Render the `main` element consistently in IE.
\* ---------------------------------------------------------------------------------------------------------------- */

main {
    display: block;
    box-sizing: border-box;
}

::selection {
    background-color: get-color($c-dark, eerie-black);
    color: get-color($c-light, cultured);
}

/* ---------------------------------------------------------------------------------------------------------------- *\
  * Remove default table spacing.
\* ---------------------------------------------------------------------------------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    white-space: revert;
}

ul,
ol {
    margin: 0;
    list-style: none;
}
