{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Pokedex'
      attributionFromHref='https://www.udemy.com/course/javascript-web-projects-to-build-your-portfolio-resume/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'modules' 'gallery' 'pokedex' 'all'}}}

  <h1>Pokedex</h1>
  <div class="poke-container" id="poke-container"></div>

  <!-- Design inspired by this Dribbble shot: https://dribbble.com/shots/5611109--Pokemon -->

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base }}