<div class="blurry-loader__base" data-js-cmp="BlurryLoader">
  <img
  class="image__base blurry-loader__background-image js-blurry-loader-background"
  loading="lazy"
  src="/images/worker.jpeg"
  alt="worker"/>
  <p class="paragraph__base blurry-loader__loading-text js-blurry-loader-loading-text">0%</p>
</div>