{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}


  <link rel="stylesheet" href="../paragraph/style.css">
  <link rel="stylesheet" href="../image/style.css">

  <div class="blurry-loader__base row" data-js-cmp="BlurryLoader">
    {{> ../../../atoms/image/markup/image.atom imgName="worker" altText="worker" classNames="blurry-loader__background-image js-blurry-loader-background"}}
    <p class="paragraph__base blurry-loader__loading-text js-blurry-loader-loading-text">0%</p>
  </div>

{{/ ../../../pages/basepage/markup/basepage.page}}