@import 'variables.scss';

.grid {
    &__base {
        min-width: 350px;
    }

    &__container {
        display: grid;
        margin: 0 auto;
        height: 80vw;
        width: 80vw;
        max-width: 650px;
        max-height: 650px;
    }

    &__square {
        border: 1px solid $c-darkgrey;
        display: flex;
        justify-content: center;
        animation-name: unrollGrid;
        animation-duration: 350ms;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;

        @for $i from 1 through 100 {
            &--#{$i} {
                animation-delay: 10ms * $i;
            }
        }
    }
}

@keyframes unrollGrid {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px) translateX(-8px);
    }

    100% {
        opacity: 1;
    }
}