@import 'variables';

.switch {
    &__base {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__label {
        width: 150px;
        height: 34px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin: auto $baseline * 3;
        width: 300px;
    }

    &__input {
        width: 0;
        height: 0;
        opacity: 0;

        &:checked + .switch__slider {
            background-color: $c-bkg-slider-attack;
        }

        &:focus + .switch__slider {
            box-shadow: 0 0 1px $c-bkg-slider-attack;
        }

        &:checked + .switch__slider:before {
            transform: translateX(65px);
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: 0;
        background-color: $c-bkg-slider-defed;
        transition: 0.4s;
        border-radius: 34px;
        width: 100px;

        &::before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $c-bkg-white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }
}
