*{box-sizing:border-box;margin:0;padding:0}.attribution{font-size:11px;text-align:center;line-height:18px;position:fixed;bottom:0;left:50%;transform:translateX(-50%)}.attribution a{color:hsl(228,45%,44%)}
