/* ------------------------------------ *\
 * FORM VALIDATION
\* ------------------------------------ */

$block: "pat-form-validation";

.#{$block} {
    @include e("base") {
        background-color: get-color($c-light, cultured);
        border-radius: convert-rem(5px);
        box-shadow: 0 convert-rem(2px) convert-rem(10px) get-color($c-dark, dark-30);
    }

    @include e("container") {
        padding: ($baseline * 4) ($gutter * 3);
    }

    @include e("message") {
        @include absolute($left: 0, $bottom: 0);
        @include font($body);

        transform: translateY(50%);
        color: get-color($c-traffic-lights, danger);
        visibility: hidden;

        .error & {
            visibility: visible;
        }
    }
}
