{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true hasJS=true}}

  {{{feLibs 'library' 'components' 'typography' 'heading' 'css'}}}
  {{{feLibs 'library' 'components' 'button' 'button' 'css'}}}
 {{{feLibs 'library' 'patterns' 'tabs' 'navigation-tabs-js' 'all'}}}

  <div class="navigation-tabs-js__base" data-js-pat="NavigationTabsJs">
    <ul class="navigation-tabs-js__tab-list">
      <li class="navigation-tabs-js__tab-item">
        <button class="button__base js-tab-button active" data-id="tab1">TAB-1</button>
      </li>
      <li class="navigation-tabs-js__tab-item">
        <button class="button__base js-tab-button" data-id="tab2">TAB-2</button>
      </li>
      <li class="navigation-tabs-js__tab-item">
        <button class="button__base js-tab-button" data-id="tab3">TAB-3</button>
      </li>
    </ul>

    <ul class="navigation-tabs-js__panels">
      <li class="navigation-tabs-js__panel js-tab-panel active" data-id="tab1">
        <h2 class="heading__base heading__base--heading-200">
          <span class="heading__main">Heading Tab One</span>
        </h2>
        <p>Content of tab one</p>
      </li>
      <li class="navigation-tabs-js__panel js-tab-panel" data-id="tab2">
        <h2 class="heading__base heading__base--heading-200">
          <span class="heading__main">Heading Tab two</span>
        </h2>
        <p>Content of tab two</p>
      </li>
      <li class="navigation-tabs-js__panel js-tab-panel" data-id="tab3">
        <h2 class="heading__base heading__base--heading-200">
          <span class="heading__main">Heading Tab Three</span>
        </h2>
        <p>Content of tab three</p>
      </li>
    </ul>
  </div>

  {{/ templates/base/markup/partials/_base-demo-container}}