

{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Joke Teller' 
      attributionFromHref='https://www.udemy.com/course/javascript-web-projects-to-build-your-portfolio-resume/' 
      attributionFromLabel='JavaScript Web Projects: 20 Projects to Build Your Portfolio'
      backgroundGif='robot.gif'}}
  {{{feLibs 'library' 'modules' 'text-reader' 'joke-teller' 'all'}}}

  <div class="container">
    <button id="button">Tell Me A Joke</button>
    <audio id="audio" controls hidden></audio>
  </div>


  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base }}