{{#> templates/base/markup/partials/_base-demo-container titile='Scrollspy - Pattern'}}
  {{{feLibs 'library' 'patterns' 'scrollspy' 'scrollspy' 'all'}}}
  <div class="scrollspy__base row" data-js-pat="Scrollspy">
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
    <div class="scrollspy__box col-tablet-3 js-box">
      <h2>Content</h2>
    </div>
  </div>
  {{/ templates/base/markup/partials/_base-demo-container}}