$type: "cmp";
$block: "#{$type}-textarea";

.#{$block} {
    @include e("input") {
        padding: 16px;
        border-radius: 3px;
        margin-bottom: 16px;
        width: 100%;

        border: 1px solid get-color($c-gray, sonic-silver);
    }

    @include e("label") {
        @include font($label);
        margin-bottom: 8px;
        display: inline-block;
    }
}
