<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <style>
    /* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */
    *,
    ::after,
    ::before {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: #e5e7eb
    }

    ::after,
    ::before {
      --tw-content: ''
    }

    :host,
    html {
      line-height: 1.5;
      -webkit-text-size-adjust: 100%;
      -moz-tab-size: 4;
      tab-size: 4;
      font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-feature-settings: normal;
      font-variation-settings: normal;
      -webkit-tap-highlight-color: transparent
    }

    body {
      margin: 0;
      line-height: inherit
    }

    hr {
      height: 0;
      color: inherit;
      border-top-width: 1px
    }

    abbr:where([title]) {
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit
    }

    a {
      color: inherit;
      text-decoration: inherit
    }

    b,
    strong {
      font-weight: bolder
    }

    code,
    kbd,
    pre,
    samp {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-feature-settings: normal;
      font-variation-settings: normal;
      font-size: 1em
    }

    small {
      font-size: 80%
    }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline
    }

    sub {
      bottom: -.25em
    }

    sup {
      top: -.5em
    }

    table {
      text-indent: 0;
      border-color: inherit;
      border-collapse: collapse
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-feature-settings: inherit;
      font-variation-settings: inherit;
      font-size: 100%;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      margin: 0;
      padding: 0
    }

    button,
    select {
      text-transform: none
    }

    [type=button],
    [type=reset],
    [type=submit],
    button {
      -webkit-appearance: button;
      background-color: transparent;
      background-image: none
    }

    :-moz-focusring {
      outline: auto
    }

    :-moz-ui-invalid {
      box-shadow: none
    }

    progress {
      vertical-align: baseline
    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      height: auto
    }

    [type=search] {
      -webkit-appearance: textfield;
      outline-offset: -2px
    }

    ::-webkit-search-decoration {
      -webkit-appearance: none
    }

    ::-webkit-file-upload-button {
      -webkit-appearance: button;
      font: inherit
    }

    summary {
      display: list-item
    }

    blockquote,
    dd,
    dl,
    figure,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    pre {
      margin: 0
    }

    fieldset {
      margin: 0;
      padding: 0
    }

    legend {
      padding: 0
    }

    menu,
    ol,
    ul {
      list-style: none;
      margin: 0;
      padding: 0
    }

    dialog {
      padding: 0
    }

    textarea {
      resize: vertical
    }

    input::placeholder,
    textarea::placeholder {
      opacity: 1;
      color: #9ca3af
    }

    [role=button],
    button {
      cursor: pointer
    }

    :disabled {
      cursor: default
    }

    audio,
    canvas,
    embed,
    iframe,
    img,
    object,
    svg,
    video {
      display: block;
      vertical-align: middle
    }

    img,
    video {
      max-width: 100%;
      height: auto
    }

    [hidden] {
      display: none
    }

    *,
    ::before,
    ::after {
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x: ;
      --tw-pan-y: ;
      --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ;
      --tw-gradient-via-position: ;
      --tw-gradient-to-position: ;
      --tw-ordinal: ;
      --tw-slashed-zero: ;
      --tw-numeric-figure: ;
      --tw-numeric-spacing: ;
      --tw-numeric-fraction: ;
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      --tw-blur: ;
      --tw-brightness: ;
      --tw-contrast: ;
      --tw-grayscale: ;
      --tw-hue-rotate: ;
      --tw-invert: ;
      --tw-saturate: ;
      --tw-sepia: ;
      --tw-drop-shadow: ;
      --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ;
      --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ;
      --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ;
      --tw-backdrop-opacity: ;
      --tw-backdrop-saturate: ;
      --tw-backdrop-sepia:
    }

    ::backdrop {
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x: ;
      --tw-pan-y: ;
      --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ;
      --tw-gradient-via-position: ;
      --tw-gradient-to-position: ;
      --tw-ordinal: ;
      --tw-slashed-zero: ;
      --tw-numeric-figure: ;
      --tw-numeric-spacing: ;
      --tw-numeric-fraction: ;
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      --tw-blur: ;
      --tw-brightness: ;
      --tw-contrast: ;
      --tw-grayscale: ;
      --tw-hue-rotate: ;
      --tw-invert: ;
      --tw-saturate: ;
      --tw-sepia: ;
      --tw-drop-shadow: ;
      --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ;
      --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ;
      --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ;
      --tw-backdrop-opacity: ;
      --tw-backdrop-saturate: ;
      --tw-backdrop-sepia:
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0
    }

    .fixed {
      position: fixed
    }

    .absolute {
      position: absolute
    }

    .relative {
      position: relative
    }

    .inset-0 {
      inset: 0px
    }

    .-bottom-4 {
      bottom: -1rem
    }

    .left-3 {
      left: 0.75rem
    }

    .right-2 {
      right: 0.5rem
    }

    .top-3 {
      top: 0.75rem
    }

    .-z-10 {
      z-index: -10
    }

    .flex {
      display: flex
    }

    .hidden {
      display: none
    }

    .h-12 {
      height: 3rem
    }

    .min-h-screen {
      min-height: 100vh
    }

    .w-12 {
      width: 3rem
    }

    .w-8 {
      width: 2rem
    }

    .w-full {
      width: 100%
    }

    .max-w-xl {
      max-width: 36rem
    }

    .flex-col {
      flex-direction: column
    }

    .items-center {
      align-items: center
    }

    .justify-center {
      justify-content: center
    }

    .rounded-full {
      border-radius: 9999px
    }

    .bg-orange-500 {
      --tw-bg-opacity: 1;
      background-color: rgb(249 115 22 / var(--tw-bg-opacity))
    }

    .bg-violet-300 {
      --tw-bg-opacity: 1;
      background-color: rgb(196 181 253 / var(--tw-bg-opacity))
    }

    .bg-violet-500 {
      --tw-bg-opacity: 1;
      background-color: rgb(139 92 246 / var(--tw-bg-opacity))
    }

    .bg-violet-700 {
      --tw-bg-opacity: 1;
      background-color: rgb(109 40 217 / var(--tw-bg-opacity))
    }

    .bg-violet-900 {
      --tw-bg-opacity: 1;
      background-color: rgb(76 29 149 / var(--tw-bg-opacity))
    }

    .bg-gradient-to-tr {
      background-image: linear-gradient(to top right, var(--tw-gradient-stops))
    }

    .from-gray-300 {
      --tw-gradient-from: #d1d5db var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(209 213 219 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
    }

    .from-sky-900 {
      --tw-gradient-from: #0c4a6e var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(12 74 110 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
    }

    .to-gray-100 {
      --tw-gradient-to: #f3f4f6 var(--tw-gradient-to-position)
    }

    .to-sky-500 {
      --tw-gradient-to: #0ea5e9 var(--tw-gradient-to-position)
    }

    .p-8 {
      padding: 2rem
    }

    .py-16 {
      padding-top: 4rem;
      padding-bottom: 4rem
    }

    .font-serif {
      font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
    }

    .text-2xl {
      font-size: 1.5rem;
      line-height: 2rem
    }

    .text-3xl {
      font-size: 1.875rem;
      line-height: 2.25rem
    }

    .text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem
    }

    .text-gray-700 {
      --tw-text-opacity: 1;
      color: rgb(55 65 81 / var(--tw-text-opacity))
    }

    .text-orange-500 {
      --tw-text-opacity: 1;
      color: rgb(249 115 22 / var(--tw-text-opacity))
    }

    .text-violet-900 {
      --tw-text-opacity: 1;
      color: rgb(76 29 149 / var(--tw-text-opacity))
    }

    .text-white {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .underline {
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline
    }

    .line-through {
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through
    }

    .transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms
    }

    .duration-500 {
      transition-duration: 500ms
    }

    .ease-in-out {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    .peer:checked~.peer-checked\:text-white {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .peer:checked~.peer-checked\:opacity-0 {
      opacity: 0
    }

    @media (min-width: 640px) {
      .sm\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
      }
    }

    .\[\&\>label\>span\]\:text-lg>label>span {
      font-size: 1.125rem;
      line-height: 1.75rem
    }

    .\[\&\>label\>span\]\:text-white\/70>label>span {
      color: rgb(255 255 255 / 0.7)
    }

    .\[\&\>label\>span\]\:transition-all>label>span {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms
    }

    .\[\&\>label\>span\]\:duration-500>label>span {
      transition-duration: 500ms
    }

    .first\:\[\&\>label\>span\]\:text-sky-700>label>span:first-child {
      --tw-text-opacity: 1;
      color: rgb(3 105 161 / var(--tw-text-opacity))
    }

    .peer:checked~.peer-checked\:first\:\[\&\>label\>span\]\:text-white\/70>label>span:first-child {
      color: rgb(255 255 255 / 0.7)
    }

    .peer:checked~.peer-checked\:last\:\[\&\>label\>span\]\:text-white>label>span:last-child {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .\[\&\>label\]\:relative>label {
      position: relative
    }

    .\[\&\>label\]\:isolate>label {
      isolation: isolate
    }

    .\[\&\>label\]\:flex>label {
      display: flex
    }

    .\[\&\>label\]\:h-\[var\(--height\)\]>label {
      height: var(--height)
    }

    .\[\&\>label\]\:w-\[calc\(var\(--height\)\*2\)\]>label {
      width: calc(var(--height) * 2)
    }

    .\[\&\>label\]\:cursor-pointer>label {
      cursor: pointer
    }

    .\[\&\>label\]\:items-center>label {
      align-items: center
    }

    .\[\&\>label\]\:justify-center>label {
      justify-content: center
    }

    .\[\&\>label\]\:gap-\[calc\(var\(--height\)\/2\)\]>label {
      gap: calc(var(--height) / 2)
    }

    .\[\&\>label\]\:px-\[calc\(var\(--height\)\/4\)\]>label {
      padding-left: calc(var(--height) / 4);
      padding-right: calc(var(--height) / 4)
    }

    .before\:\[\&\>label\]\:absolute>label::before {
      content: var(--tw-content);
      position: absolute
    }

    .before\:\[\&\>label\]\:inset-0>label::before {
      content: var(--tw-content);
      inset: 0px
    }

    .before\:\[\&\>label\]\:-z-20>label::before {
      content: var(--tw-content);
      z-index: -20
    }

    .before\:\[\&\>label\]\:rounded-full>label::before {
      content: var(--tw-content);
      border-radius: 9999px
    }

    .before\:\[\&\>label\]\:bg-gradient-to-r>label::before {
      content: var(--tw-content);
      background-image: linear-gradient(to right, var(--tw-gradient-stops))
    }

    .before\:\[\&\>label\]\:from-sky-950>label::before {
      content: var(--tw-content);
      --tw-gradient-from: #082f49 var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(8 47 73 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
    }

    .before\:\[\&\>label\]\:to-sky-300>label::before {
      content: var(--tw-content);
      --tw-gradient-to: #7dd3fc var(--tw-gradient-to-position)
    }

    .before\:\[\&\>label\]\:transition-all>label::before {
      content: var(--tw-content);
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms
    }

    .before\:\[\&\>label\]\:duration-300>label::before {
      content: var(--tw-content);
      transition-duration: 300ms
    }

    .after\:\[\&\>label\]\:absolute>label::after {
      content: var(--tw-content);
      position: absolute
    }

    .after\:\[\&\>label\]\:left-\[calc\(var\(--height\)\*var\(--border\)\)\]>label::after {
      content: var(--tw-content);
      left: calc(var(--height) * var(--border))
    }

    .after\:\[\&\>label\]\:top-\[calc\(var\(--height\)\*var\(--border\)\)\]>label::after {
      content: var(--tw-content);
      top: calc(var(--height) * var(--border))
    }

    .after\:\[\&\>label\]\:-z-10>label::after {
      content: var(--tw-content);
      z-index: -10
    }

    .after\:\[\&\>label\]\:h-\[calc\(var\(--height\)\*calc\(1-var\(--border\)\*2\)\)\]>label::after {
      content: var(--tw-content);
      height: calc(var(--height) * calc(1 - var(--border) * 2))
    }

    .after\:\[\&\>label\]\:w-\[calc\(var\(--height\)\*calc\(1-var\(--border\)\*2\)\)\]>label::after {
      content: var(--tw-content);
      width: calc(var(--height) * calc(1 - var(--border) * 2))
    }

    .after\:\[\&\>label\]\:rounded-full>label::after {
      content: var(--tw-content);
      border-radius: 9999px
    }

    .after\:\[\&\>label\]\:bg-white\/80>label::after {
      content: var(--tw-content);
      background-color: rgb(255 255 255 / 0.8)
    }

    .after\:\[\&\>label\]\:transition-all>label::after {
      content: var(--tw-content);
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms
    }

    .after\:\[\&\>label\]\:duration-500>label::after {
      content: var(--tw-content);
      transition-duration: 500ms
    }

    .after\:\[\&\>label\]\:ease-in-out>label::after {
      content: var(--tw-content);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    .hover\:before\:\[\&\>label\]\:-inset-1>label:hover::before {
      content: var(--tw-content);
      inset: -0.25rem
    }

    .peer:checked~.peer-checked\:after\:\[\&\>label\]\:translate-x-\[var\(--height\)\]>label::after {
      content: var(--tw-content);
      --tw-translate-x: var(--height);
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .peer:checked~.peer-checked\:after\:\[\&\>label\]\:bg-black\/50>label::after {
      content: var(--tw-content);
      background-color: rgb(0 0 0 / 0.5)
    }

    .\[\&\>section\>h2\]\:mb-4>section>h2 {
      margin-bottom: 1rem
    }

    .\[\&\>section\>h2\]\:w-fit>section>h2 {
      width: -moz-fit-content;
      width: fit-content
    }

    .\[\&\>section\>h2\]\:rounded-sm>section>h2 {
      border-radius: 0.125rem
    }

    .\[\&\>section\>h2\]\:bg-gray-300>section>h2 {
      --tw-bg-opacity: 1;
      background-color: rgb(209 213 219 / var(--tw-bg-opacity))
    }

    .\[\&\>section\>h2\]\:px-3>section>h2 {
      padding-left: 0.75rem;
      padding-right: 0.75rem
    }

    .\[\&\>section\>h2\]\:py-1>section>h2 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem
    }

    .\[\&\>section\>h2\]\:font-semibold>section>h2 {
      font-weight: 600
    }

    .\[\&\>section\>h2\]\:uppercase>section>h2 {
      text-transform: uppercase
    }

    .\[\&\>section\>h2\]\:text-gray-700>section>h2 {
      --tw-text-opacity: 1;
      color: rgb(55 65 81 / var(--tw-text-opacity))
    }

    .\[\&\>section\>h2\]\:shadow-\[0_2px_5px_0_rgba\(0\2c 0\2c 0\2c \.4\)\]>section>h2 {
      --tw-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
      --tw-shadow-colored: 0 2px 5px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }

    .\[\&\>section\>h2\]\:transition-all>section>h2 {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms
    }

    .\[\&\>section\>h2\]\:duration-500>section>h2 {
      transition-duration: 500ms
    }

    .\[\&\>section\]\:mb-6>section {
      margin-bottom: 1.5rem
    }

    .\[\&\>section\]\:space-y-6>section> :not([hidden])~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
    }

    .\[\&\>section\]\:rounded-lg>section {
      border-radius: 0.5rem
    }

    .\[\&\>section\]\:border>section {
      border-width: 1px
    }

    .\[\&\>section\]\:border-white\/30>section {
      border-color: rgb(255 255 255 / 0.3)
    }

    .\[\&\>section\]\:bg-white\/20>section {
      background-color: rgb(255 255 255 / 0.2)
    }

    .\[\&\>section\]\:p-4>section {
      padding: 1rem
    }

    @media (min-width: 640px) {
      .sm\:\[\&\>section\]\:p-12>section {
        padding: 3rem
      }
    }

    .\[\&_button\]\:w-40 button {
      width: 10rem
    }

    .\[\&_button\]\:px-4 button {
      padding-left: 1rem;
      padding-right: 1rem
    }

    .\[\&_button\]\:py-2 button {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem
    }

    .\[\&_p\]\:mb-1 p {
      margin-bottom: 0.25rem
    }

    .peer:checked~.peer-checked\:\[\&_section\>h2\]\:bg-sky-600 section>h2 {
      --tw-bg-opacity: 1;
      background-color: rgb(2 132 199 / var(--tw-bg-opacity))
    }

    .peer:checked~.peer-checked\:\[\&_section\>h2\]\:text-white section>h2 {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }
  </style>
</head>

<body class="bg-gradient-to-tr from-sky-900 to-sky-500 text-gray-700  min-h-screen ">
  <!-- theme toggle radio -->
  <input type="checkbox" id="theme" class="sr-only peer">


  <!-- Wrapper to handle theme toggle -->
  <div class="p-8 py-16 sm:py-8 flex flex-col text-gray-700 justify-center items-center  transition-all duration-500 ease-in-out 
            peer-checked:text-white
            peer-checked:[&amp;_section>h2]:bg-sky-600
            peer-checked:[&amp;_section>h2]:text-white
        ">

    <h1 class="hidden">Basics</h1>
    <main class="w-full max-w-xl min-h-screen transition-all duration-500
                [&amp;>section]:mb-6
                [&amp;>section]:space-y-6
                [&amp;>section]:border
                [&amp;>section]:border-white/30
                [&amp;>section]:rounded-lg
                [&amp;>section]:p-4
                sm:[&amp;>section]:p-12
                [&amp;>section]:bg-white/20
                [&amp;>section>h2]:bg-gray-300
                [&amp;>section>h2]:text-gray-700
                [&amp;>section>h2]:font-semibold
                [&amp;>section>h2]:uppercase
                [&amp;>section>h2]:rounded-sm
                [&amp;>section>h2]:shadow-[0_2px_5px_0_rgba(0,0,0,.4)]
                [&amp;>section>h2]:py-1
                [&amp;>section>h2]:px-3
                [&amp;>section>h2]:w-fit
                [&amp;>section>h2]:mb-4
                [&amp;>section>h2]:transition-all
                [&amp;>section>h2]:duration-500
                [&amp;_p]:mb-1
                [&amp;_button]:py-2
                [&amp;_button]:px-4
                [&amp;_button]:w-40
            ">

      <section>
        <h2>TYPOGRAPHY</h2>
        <div>
          <p><strong>Make me bold</strong></p>
          <p><em>Make me italic</em></p>
        </div>
        <div>
          <p>I'm from the Arial font family!</p>
          <p class="font-serif">And I'm from the Times New Roman font family!</p>
        </div>
        <div>
          <p class="underline">Make this text be underlined</p>
          <p class="line-through">And put a line through this one</p>
        </div>
      </section>

      <section>
        <h2>HEADINGS</h2>
        <div>
          <h1 class="text-3xl">This is an &lt;h1&gt; tag </h1>
          <h2 class="text-2xl">This is an &lt;h2&gt; tag
          </h2>
          <h3 class="text-xl">This is an &lt;h3&gt; tag </h3>
        </div>
      </section>

      <section>
        <h2>COLORS</h2>
        <div>
          <p class="text-orange-500">Color me orange!</p>
          <div class="w-12 h-12 bg-orange-500"></div>
        </div>
        <div>
          <p class="text-violet-900">Color me purple!</p>
          <div class="w-12 h-12 bg-violet-900 rounded-full"></div>
        </div>
      </section>

      <section>
        <h2>BUTTONS</h2>
        <div>
          <p>Default</p>
          <button type="button" class="bg-violet-700 text-white">Button</button>
        </div>
        <div>
          <p>Hovered</p>
          <button type="button" class="bg-violet-500 text-white relative">
            Button
            <svg class="absolute -bottom-4 right-2 w-8" viewBox="0 0 48 48" fill="white"
              xmlns="http://www.w3.org/2000/svg">
              <g stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <path
                  d="M12.5658 26.1826C10.8553 27.3544 10 29.2936 10 32.0003C10 36.0604 14.9753 43.0003 19.4618 43.0003C23.9483 43.0003 26.5502 43.0003 30.9415 43.0003C35.3328 43.0003 38 39.1497 38 36.0604C38 31.7101 38 27.3597 38 23.0094C38 21.3526 36.6569 20.0094 35 20.0094H34.9909C33.3391 20.0094 32 21.3485 32 23.0003">
                </path>
                <path
                  d="M13.9812 28.4453V8.006C13.9812 6.35049 15.3233 5.00844 16.9788 5.00844C16.9815 5.00844 16.9843 5.00844 16.9871 5.00845C18.6485 5.01305 19.9929 6.36119 19.9929 8.02263V23.5921">
                </path>
                <path
                  d="M19.9929 23.0085V19.0156C19.9929 17.3502 21.343 16.0001 23.0084 16.0001C24.6738 16.0001 26.0239 17.3502 26.0239 19.0156V23.0085">
                </path>
                <path
                  d="M26 22.7159V20.0036C26 18.3467 27.3431 17.0036 29 17.0036C30.6569 17.0036 32 18.3467 32 20.0036V23.0036">
                </path>
              </g>
            </svg>
          </button>
        </div>
        <div>
          <p>Active</p>
          <button type="button" class="bg-violet-300 relative">
            Button
            <svg class="absolute -bottom-4 right-2 w-8" viewBox="0 0 48 48" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g transform="translate(8.000000, 5.000000)" stroke="#000000" stroke-width="4">
                <g transform="translate(7.000000, 7.000000)" stroke-linejoin="round" fill="white">
                  <path d="M0,14 L0,3 C0,1.34314575 1.34314575,0 3,0 C4.65685425,0 6,1.34314575 6,3 L6,14"></path>
                  <path
                    d="M24,13 L24,19.5 C24,25.8512746 18.8512746,31 12.5,31 L11.5,31 C5.14872538,31 0,25.8512746 0,19.5 L0,13">
                  </path>
                  <path
                    d="M6,17 L6,15.1057529 L6,12 C6,10.3431458 7.34314575,9 9,9 C10.6568542,9 12,10.3431458 12,12 L12,15.1818037 L12,17">
                  </path>
                  <path
                    d="M12,17 L12,15.1057529 L12,12 C12,10.3431458 13.3431458,9 15,9 C16.6568542,9 18,10.3431458 18,12 L18,15.1818037 L18,17">
                  </path>
                  <path
                    d="M18,17 L18,15.1057529 L18,12 C18,10.3431458 19.3431458,9 21,9 C22.6568542,9 24,10.3431458 24,12 L24,15.1818037 L24,17">
                  </path>
                </g>
                <path fill="none"
                  d="M20,10 C20,8.94888684 19.8378284,7.93565088 19.5371411,6.98394793 C19.2008409,5.91952713 18.6912709,4.93207821 18.0415268,4.05469702 C16.2197921,1.59471942 13.2961294,0 10,0 C6.70387063,0 3.78020794,1.59471942 1.95847316,4.05469702 C1.30872911,4.93207821 0.799159071,5.91952713 0.462858909,6.98394793 C0.162171574,7.93565088 0,8.94888684 0,10">
                </path>
              </g>
            </svg>
          </button>
        </div>
      </section>
    </main>
  </div>

  <!-- theme toggle switch -->
  <div style="--height:2rem; --border:.1" class="fixed top-3 left-3
            
            [&amp;>label]:w-[calc(var(--height)*2)]
            [&amp;>label]:h-[var(--height)]
            [&amp;>label]:cursor-pointer
            [&amp;>label]:relative
            [&amp;>label]:isolate
            [&amp;>label]:px-[calc(var(--height)/4)]
            [&amp;>label]:flex
            [&amp;>label]:items-center
            [&amp;>label]:justify-center
            [&amp;>label]:gap-[calc(var(--height)/2)] // this calculation is not correct
            
            [&amp;>label>span]:text-white/70
            first:[&amp;>label>span]:text-sky-700
            [&amp;>label>span]:text-lg
            [&amp;>label>span]:transition-all
            [&amp;>label>span]:duration-500
            
            before:[&amp;>label]:absolute
            before:[&amp;>label]:inset-0
            before:[&amp;>label]:rounded-full
            before:[&amp;>label]:bg-gradient-to-r
            before:[&amp;>label]:from-sky-950
            before:[&amp;>label]:to-sky-300
            before:[&amp;>label]:-z-20
            before:[&amp;>label]:transition-all
            before:[&amp;>label]:duration-300
            hover:before:[&amp;>label]:-inset-1
            peer-focs:before:[&amp;>label]:-inset-1

            after:[&amp;>label]:absolute
            after:[&amp;>label]:rounded-full
            after:[&amp;>label]:-z-10
            after:[&amp;>label]:bg-white/80
            after:[&amp;>label]:transition-all
            after:[&amp;>label]:duration-500
            after:[&amp;>label]:ease-in-out
            
            // calculate postion and size based on custom properties - no need to change these
            after:[&amp;>label]:top-[calc(var(--height)*var(--border))]
            after:[&amp;>label]:left-[calc(var(--height)*var(--border))]
            after:[&amp;>label]:h-[calc(var(--height)*calc(1-var(--border)*2))]
            after:[&amp;>label]:w-[calc(var(--height)*calc(1-var(--border)*2))]
            
            X-after:[&amp;>label]:origin-left
            X-hover:after:[&amp;>label]:scale-110
           
           
            peer-checked:after:[&amp;>label]:translate-x-[var(--height)]
            peer-checked:after:[&amp;>label]:bg-black/50
            Xpeer-checked:[&amp;>label]:!origin-right
            peer-checked:first:[&amp;>label>span]:text-white/70
            peer-checked:last:[&amp;>label>span]:text-white
            ">
    <label for="theme" class="switch">
      <span class="material-symbols-outlined">light_mode</span>
      <span class="material-symbols-outlined">dark_mode</span>
    </label>
  </div>
  <!-- bg mask -->
  <div
    class="bg-gradient-to-tr from-gray-300 to-gray-100 fixed inset-0 -z-10  transition-all duration-500 ease-in-out peer-checked:opacity-0">
  </div>

  <style>
    /* Add CSS here */
  </style>
  <script type="module">
    // Preview hack
    // NOTE - This JS is not relevant to the submission, it is just to ensure that the preview thumnail looks ok.
    if (navigator.userAgent.includes("Headless")) {
      document.querySelector("#theme").checked = true;
    }

    // toggle theme switch if user prefers "dark"
    let theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    if (theme == 'dark') {
      document.querySelector("#theme").checked = true;
    }
  </script>
</body>

</html>