<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
</head>

<!-- Change code below this line -->

<body>
  <main class="">

    <div class="main-left">
      <div class="box typography-box">
        <button class="main-btn" arial-label="Open">
          <p>TYPOGRAPHY</p>
        </button>
        <div class="inner-box">
          <div class="text-group">
            <p> <strong>Make me bold</strong></p>
            <p><i>Make me italic</i></p>
          </div>
          <div class="text-group">
            <p style="font-family: 'Arial', sans-serif;">I'm from the Arial font family</p>
            <p style="font-family: 'Times New Roman', serif;">I'm from the Times New Roman font family</p>
          </div>
          <div class="text-group">
            <p style="text-decoration: underline;">Make the text be underlined</p>
            <p style="text-decoration: line-through;">And put a line through this one</p>
          </div>
        </div>
      </div>
      <div class="box headings-box">
        <button class="main-btn" arial-label="Open">
          <p>HEADINGS</p>
        </button>
        <div class="inner-box headings-inner">
          <h1>This is a <code>&lt;h1&gt;</code> tag</h1>
          <h2>This is a <code>&lt;h2&gt;</code> tag</h2>
          <h3>This is a <code>&lt;h3&gt;</code> tag</h3>
        </div>
      </div>
      <div class="box colors-box">
        <button class="main-btn" arial-label="Open">
          <p>COLORS</p>
        </button>
        <div class="inner-box">
          <div class="shape-group shape-square">
            <p style="color: hsl(2, 88%, 43%);">Color me red!</p>
            <div class="shape" style="background-color: hsl(2, 88%, 43%);"></div>
          </div>
          <div class="shape-group shape-circle">
            <p style="color: hsl(215, 77%, 17%);">Color me blue!</p>
            <div class=" shape circle" style="background-color: hsl(215, 77%, 17%);">
            </div>
          </div>
        </div>
      </div>
      <div class="box buttons-box">
        <button class="main-btn" arial-label="Open">
          <p>BUTTONS</p>
        </button>
        <div class="inner-box buttons-inner">
          <div class="button-group">
            <p>Default</p>
            <button style="background-color: hsl(215, 77%, 17%);">
              <p>Button</p>
            </button>
          </div>
          <div class="button-group">
            <p>Hovered</p>
            <button style="background-color: hsl(215, 76%, 30%);">
              <p>Button</p>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hand-rock" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 11.5v-1a1.5 1.5 0 0 1 3 0v1.5"></path>
                <path
                  d="M17 12v-6.5a1.5 1.5 0 0 1 3 0v10.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7a69.74 69.74 0 0 1 -.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47">
                </path>
                <path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5"></path>
                <path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5"></path>
              </svg>
            </button>
          </div>
          <div class="button-group">
            <p>Active</p>
            <button style="background-color: hsl(215, 76%, 50%);">
              <p>Button</p>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hand-click" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5"></path>
                <path d="M11 11.5v-2a1.5 1.5 0 0 1 3 0v2.5"></path>
                <path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5"></path>
                <path
                  d="M17 11.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7l-.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47">
                </path>
                <path d="M5 3l-1 -1"></path>
                <path d="M4 7h-1"></path>
                <path d="M14 3l1 -1"></path>
                <path d="M15 6h1"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-right">
      <div class="main-right-left">
        <h1>Nova Flex: Court Performance 675</h1>

        <h2>The Apex of Court-Ready Excellence</h2>
        <p>Experience the pinnacle of performance with the Nova Flex model Court Performance 675. Meticulously
          engineered shoes for true basketball aficionados. Take your game to unprecedented levels.</p>
        <h3>Key Features:</h3>
        <ul>
          <li>
            <p>-AdaptiveFit Technology for personalized comfort</p>
          </li>
          <li>
            <p>-AeroGrip Traction for superior grip on any court surface</p>
          </li>
          <li>
            <p>-Lightweight and breathable design for extended wear</p>
          </li>
        </ul>
        <button class="shop-now">
          <p>Shop Now</p>
          <p class="times" style="font-family: 'Times New Roman', serif;">Order now and get 20% discount</p>
          <p class="arial" style="font-family: 'Arial', sans-serif;">Order now and get 20% discount</p>
          <svg class="cursor-active" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5"></path>
            <path d="M11 11.5v-2a1.5 1.5 0 0 1 3 0v2.5"></path>
            <path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5"></path>
            <path
              d="M17 11.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7l-.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47">
            </path>
            <path d="M5 3l-1 -1"></path>
            <path d="M4 7h-1"></path>
            <path d="M14 3l1 -1"></path>
            <path d="M15 6h1"></path>
          </svg>
          <svg class="cursor-hover" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M11 11.5v-1a1.5 1.5 0 0 1 3 0v1.5"></path>
            <path
              d="M17 12v-6.5a1.5 1.5 0 0 1 3 0v10.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7a69.74 69.74 0 0 1 -.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47">
            </path>
            <path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5"></path>
            <path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5"></path>
          </svg>
        </button>

      </div>
      <div class="main-right-right">
        <div class="shoe-image">
          <img src="https://i.imgur.com/7Vg8XSE.png" alt="">
        </div>
      </div>
    </div>

  </main>


  <style>
    /* Add CSS here */

    :root {
      --clr-primario: hsl(59, 100%, 40%);
      --clr-secundario: white;
      --clr-ternario: hsla(234, 37%, 26%, .2);
      --clr-bg: hsl(59, 100%, 40%);
      --clr-bg-card: hsl(186, 96%, 35%);
      --clr-box-shadow: hsl(0, 0%, 0%, .5);
      --clr-box-shadow-boxes: hsl(186, 94%, 25%);
      --ff-primaria: 'Poppins', sans-serif;
      --fs-primaria: 1rem;
      transition: all .250s ease-in-out;
    }

    /* Estilos Reset */
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      font-family: var(--ff-primaria);
      box-sizing: border-box;
      scroll-behavior: smooth;
      -webkit-tap-highlight-color: transparent;
    }

    img,
    svg {
      display: block;
      max-width: 100%;
    }

    body {
      line-height: 1.5;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
    }


    button,
    input {
      position: relative;
      appearance: none;
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
      z-index: 1;
    }

    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      cursor: pointer;
    }

    ::-webkit-scrollbar-track {
      background: transparent !important;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--clr-bg-card);
    }

    ::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    [hidden] {
      display: none;
    }

    /* utility classes */

    .opacity-0 {
      opacity: 0;
    }

    .visibility-0 {
      visibility: hidden;
    }

    .pointer-events-none {
      pointer-events: none;
    }

    .translate-x-100 {
      transform: translateX(100%);
    }

    .-translate-x-100 {
      transform: translateX(-100%);
    }

    .translate-x-100vw {
      transform: translateX(100vw);
    }

    .-translate-x-100vw {
      transform: translateX(-100vw);
    }

    .translate-y-100vh {
      transform: translateY(100vh);
    }

    .-translate-y-100vh {
      transform: translateY(-100vh);
    }

    .translate-y-100 {
      transform: translateY(100%);
    }

    .-translate-y-100 {
      transform: translateY(-100%);
    }

    .scale-0 {
      scale: 0;
    }

    .scale-y-0 {
      transform: scaleY(0);
    }

    .-rotate-180 {
      transform: rotate(-180deg);
    }

    .rotate-180 {
      transform: rotate(180deg);
    }

    .invert-x {
      transform: scaleX(-1);
    }

    .invert-y {
      transform: scaleY(-1);
    }

    .translate-x-vw {
      transform: translateX(100vw);
    }

    .-translate-x-vw {
      transform: translateX(-100vw);
    }

    /* Estilos principales */
    body {
      display: grid;
      place-content: center start;
      min-height: 100dvh;
      background-color: var(--clr-bg);
      color: var(--clr-primario);
      font-size: var(--fs-primaria);
      font-weight: 400;
      user-select: none;
    }


    body:after {
      position: fixed;
      content: '';
      inset: 0rem;
      background-image: url('https://i.imgur.com/ttUVSt6.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      opacity: .3;
      z-index: -1;
    }

    main {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 4rem;
      width: clamp(20rem, 100vw, 60rem);
      height: auto;
      transition: all .500s ease-in-out;
    }

    .main-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 4rem;
      height: auto;
      transition: all .500s ease-in-out;
    }

    .box {
      bottom: 1rem;
      right: 1rem;
      display: grid;
      grid-template-rows: 0rem 0rem;
      gap: 1rem;
      width: 20rem;
      will-change: visibility, grid-template-rows;
      transition: all .400s ease-in-out;
      z-index: 9999;
      cursor: pointer;
    }

    .box:hover {
      grid-template-rows: 3rem 17rem;
      pointer-events: auto;
    }

    .box:hover .inner-box>* {
      transform: translateY(2rem);
      opacity: 1;
    }

    .main-btn {
      position: relative;
      top: .5rem;
      display: flex;
      justify-content: start;
      padding-inline: .3rem;
      color: var(--clr-secundario);
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: .05rem;
      border-radius: .3rem;
      transition: all .400s ease-in-out;
    }

    .box:hover .main-btn {
      top: 2.6rem;
    }

    .main-btn p {
      text-align: left;
      transition: all .400s ease-in-out;
    }

    .box:hover .main-btn>p {
      filter: drop-shadow(0px -3px 0px var(--clr-box-shadow-boxes));
    }

    .inner-box {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-block: .95rem;
      padding-inline: 1.6rem;
      background-color: var(--clr-bg-card);
      color: white;
      border-radius: .3rem;
      box-shadow: 0px 20px 4px var(--clr-box-shadow-boxes), 0px 30px 40px var(--clr-box-shadow);
      overflow: hidden;
    }

    .inner-box>* {
      transform: translateY(200%);
      transition: all .400s .200s ease-in-out;
      opacity: 0;
    }

    /* ---------------------------------------------------------TYPOGRAPHY */

    .text-group {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    /* ---------------------------------------------------------HEADINGS */

    .headings-inner {
      gap: 0rem;
    }

    .headings-inner h1 {
      font-size: 1.38rem;
      font-weight: 550;
    }

    .main-left:has(.headings-inner > h1:hover)+.main-right .main-right-left h1 {
      color: var(--clr-secundario);
    }

    .main-left:has(.headings-inner > h2:hover)+.main-right .main-right-left h2 {
      color: var(--clr-secundario);
      opacity: 1;
    }

    .main-left:has(.headings-inner > h3:hover)+.main-right .main-right-left h3 {
      color: var(--clr-secundario);
    }

    .headings-inner h2 {
      font-size: 1.28rem;
      font-weight: 550;
    }

    .headings-inner h3 {
      font-size: 1.15rem;
      font-weight: 550;
    }

    /* ---------------------------------------------------------COLORS */

    .shape-group {
      display: flex;
      flex-direction: column;
      gap: .3rem;
    }

    .shape-group>p {
      font-size: .8rem;
      font-weight: 600;
    }

    .shape {
      width: 3.6rem;
      aspect-ratio: 1;
      border-radius: .3rem;
    }

    .circle {
      border-radius: 50%;
    }

    .main-left:has(.shape-circle:hover)+.main-right .main-right-right {
      background: var(--clr-bg-card);
      background: linear-gradient(180deg, hsl(215, 77%, 17%) 0%, transparent 100%);
    }

    .main-left:has(.shape-square:hover)+.main-right .main-right-right {
      background: var(--clr-bg-card);
      background: linear-gradient(180deg, hsl(2, 88%, 43%) 0%, transparent 100%);
      border-radius: .8rem;
      transition: all .250s ease-in-out;
    }

    /* ---------------------------------------------------------BUTTONS */


    .button-group {
      display: flex;
      flex-direction: column;
      gap: .1rem;
    }

    .button-group>p {
      font-size: .8rem;
      font-weight: 600;
    }

    .button-group button {
      position: relative;
      width: 8rem;
      padding-block: .4rem;
      color: var(--clr-secundario);
      font-size: .75rem;
      font-weight: 500;
      border-radius: .2rem;
    }

    .button-group button svg {
      width: 1.5rem;
      position: absolute;
      right: 1rem;
      bottom: -1.2rem;
      fill: var(--clr-secundario);
    }

    .main-right {
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
      width: 30rem;
      height: auto;
      padding-block: 3rem;
      padding-inline: 2rem;
      align-items: center;
      background-color: var(--clr-bg-card);
      border-radius: 1rem;
      box-shadow: 0px 20px 4px var(--clr-box-shadow-boxes), 0px 30px 40px var(--clr-box-shadow);
      transform: translateX(3rem);
      opacity: 0;
      visibility: hidden;
      transition: all .400s ease-in-out;
      overflow: hidden;

    }

    .main-left:has(.box:hover)+.main-right {
      transform: translateX(0rem);
      opacity: 1;
      visibility: visible;
    }

    .main-right>* {
      transform: translateY(101%);
      transition: all .400s .200s ease-in-out;
      opacity: 0;
    }

    .main-left:has(.box:hover)+.main-right>* {
      transform: translateY(0rem);
      opacity: 1;
      visibility: visible;
    }


    .main-right-left {
      display: flex;
      flex-direction: column;
      color: var(--clr-box-shadow)
    }

    .main-right-left h1 {
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--clr-box-shadow-boxes);
      transition: all .250s ease-in-out;
    }

    .main-right-left h2 {
      margin-block-start: -.2rem;
      font-size: 1.1rem;
      font-weight: 500;
      transition: all .250s ease-in-out;
      opacity: .6;
    }

    .main-right-left h3 {
      margin-block: 1rem;
      font-size: 1rem;
      font-weight: 500;
      transition: all .250s ease-in-out;
      color: var(--clr-box-shadow-boxes);
      opacity: 1;
    }

    .main-right-left ul {
      display: flex;
      flex-direction: column;
      gap: .2rem;
      list-style: none;
    }

    .main-right-left li {
      position: relative;
      display: flex;
      align-items: start;
      margin-inline-start: .5rem;
      font-size: .8rem;
    }

    .main-right-left li p {
      position: relative;
      --li-p-pseudo-after: 0%;
      --li-p-pseudo-before: 0%;
    }

    .main-right-left li p:after {
      position: absolute;
      content: '';
      bottom: 0rem;
      left: 0;
      width: var(--li-p-pseudo-after);
      height: .1rem;
      background-color: var(--clr-secundario);
      font-size: .8rem;
      transition: all .400s ease-in-out;
      opacity: .5;
    }

    .main-right-left li p:before {
      position: absolute;
      content: '';
      bottom: .6rem;
      left: 0;
      width: var(--li-p-pseudo-before);
      height: .1rem;
      background-color: var(--clr-secundario);
      transition: all .400s ease-in-out;
      font-size: .8rem;
      opacity: .5;
    }

    .main-left:has(.text-group:nth-child(3) p:nth-child(1):hover)+.main-right .main-right-left li p {
      --li-p-pseudo-after: 100%;
    }

    .main-left:has(.text-group:nth-child(3) p:nth-child(2):hover)+.main-right .main-right-left li p {
      --li-p-pseudo-before: 100%;
    }

    .main-right-left>p {
      margin-block-start: 1rem;
      font-size: .9rem;
      text-wrap: balance;
    }

    .main-left:has(.text-group:nth-child(1) p:nth-child(1):hover)+.main-right .main-right-left>p {
      font-weight: 700;
    }

    .main-left:has(.text-group:nth-child(1) p:nth-child(2):hover)+.main-right .main-right-left>p {
      font-style: italic;
    }


    .shop-now {
      position: relative;
      align-self: start;
      width: 8rem;
      margin-block-start: 1.5rem;
      padding-block: .5rem;
      background-color: hsl(215, 77%, 17%);
      color: var(--clr-secundario);
      font-size: .9rem;
      border-radius: .3rem;
      transition: all .400s ease-in-out;
    }

    .main-left:has(.button-group:nth-child(2):hover)+.main-right .shop-now {
      background-color: hsl(215, 76%, 30%);
    }

    .main-left:has(.button-group:nth-child(3):hover)+.main-right .shop-now {
      background-color: hsl(215, 76%, 50%);
    }

    .times,
    .arial {
      position: absolute;
      width: fit-content;
      top: .5rem;
      left: 8.5rem;
      font-size: 1rem;
      font-weight: 600;
      transition: all .400s ease-in-out;
      opacity: 0;
    }

    .main-left:has(.text-group:nth-child(2) p:nth-child(1):hover)+.main-right .main-right-left .arial {
      opacity: 1 !important;
    }

    .main-left:has(.text-group:nth-child(2) p:nth-child(2):hover)+.main-right .main-right-left .times {
      opacity: 1 !important;
    }

    .cursor-active,
    .cursor-hover {
      position: absolute;
      bottom: -.5rem;
      left: 6rem;
      fill: white;
      opacity: 0;
      transition: all .400s ease-in-out;
    }

    .main-left:has(.button-group:nth-child(2):hover)+.main-right .cursor-hover {
      opacity: 1;
    }

    .main-left:has(.button-group:nth-child(3):hover)+.main-right .cursor-active {
      opacity: 1;
    }

    .shop-now:hover {
      background-color: hsl(215, 76%, 30%);
      cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hand-rock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%232c3e50" fill="white" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M11 11.5v-1a1.5 1.5 0 0 1 3 0v1.5" /><path d="M17 12v-6.5a1.5 1.5 0 0 1 3 0v10.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7a69.74 69.74 0 0 1 -.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47" /><path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5" /><path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5" /></svg>'), auto;
    }

    .shop-now:active {
      background-color: hsl(215, 76%, 50%);
      cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hand-click" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%232c3e50" fill="white" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5" /><path d="M11 11.5v-2a1.5 1.5 0 0 1 3 0v2.5" /><path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5" /><path d="M17 11.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7l-.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47" /><path d="M5 3l-1 -1" /><path d="M4 7h-1" /><path d="M14 3l1 -1" /><path d="M15 6h1" /></svg>'), auto;
    }

    .main-right-right {
      flex-shrink: 0;
      position: relative;
      display: flex;
      width: 16rem;
      aspect-ratio: 1;
      background: var(--clr-bg-card);
      background: linear-gradient(180deg, var(--clr-bg) 0%, transparent 100%);
      border-radius: 50%;
      z-index: 10;
    }

    .shoe-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 26rem;
      height: 26rem;
    }


    @media (max-width: 50rem) {
      body {
        place-content: start;
        overflow: scroll;
      }

      main {
        position: relative;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 5rem;
        top: 1rem;
        transform: translateY(0);
      }

      .main-right {
        justify-self: center;
        width: 20rem;
        transform: translateX(0rem);
        opacity: 1;
        visibility: visible;
      }

      .main-right>* {
        transform: translateY(0rem);
        opacity: 1;
      }

      .main-btn {
        top: .4rem;
        font-size: 2.4rem;
      }

      .box:hover .main-btn {
        top: .16rem;
      }

      .inner-box {
        padding: 1.1rem;
        box-shadow: 0px 13px 2px var(--clr-box-shadow-boxes);
      }
    }
  </style>
  <script type="module">
    // Add JavaScript code here

    const links = document.querySelectorAll('a');
    const mainContainer = document.querySelector('main');

    // Prevent links default behaviour
    const overrideLinks = () => {
      links.forEach((link) => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
        });
      });
    }

    window.addEventListener('DOMContentLoaded', () => {
      overrideLinks();
      setTimeout(() => {
        mainContainer.classList.remove('translate-y-100vh');
        mainContainer.classList.remove('scale-0');
      }, 500);

    });
  </script>
</body>

</html>