{{#> templates/base/markup/partials/_base title='Button - Component'}}
  {{{feLibs 'library' 'components' 'button' 'button' 'css'}}}

  <button class='button button--primary'>Primary Button</button>

{{/ templates/base/markup/partials/_base }}