@use '~ScssAbstracts' as *;

/* ------------------------------------ *\
 * NINJA QUIZ WIDGET
\* ------------------------------------ */

$block: 'ninja-quiz';

.#{$block} {
    @include e('base') {
        display: block;
    }
}
