<div class="sound-board__base col" data-js-pat="SoundBoard">
  <audio id="applause" src="https://assets.localhost/audio/applause.mp3"></audio>
  <audio id="boo" src="https://assets.localhost/audio/boo.mp3"></audio>
  <audio id="gasp" src="https://assets.localhost/audio/gasp.mp3"></audio>
  <audio id="tada" src="https://assets.localhost/audio/tada.mp3"></audio>
  <audio id="victory" src="https://assets.localhost/audio/victory.mp3"></audio>
  <audio id="wrong" src="https://assets.localhost/audio/wrong.mp3"></audio>

  <div id="buttons"></div>
</div>