@import "~ScssAbstracts";

@import './cops-and-robbers/normalize';
@import './cops-and-robbers/basepage';
@import './cops-and-robbers/header';
@import './cops-and-robbers/main';
@import './cops-and-robbers/article';
@import './cops-and-robbers/section';
@import './cops-and-robbers/player';
@import './cops-and-robbers/scoreboard';
@import './cops-and-robbers/button';
@import './cops-and-robbers/playground';
@import './cops-and-robbers/boardElements';
@import './cops-and-robbers/gameGrid';
@import './cops-and-robbers/weapons';
@import './cops-and-robbers/modal';
@import './cops-and-robbers/switch';