@import "~ScssAbstracts";

/* ------------------------------------ *\
  * GUESS MY NUMBER
\* ------------------------------------ */

$block: "guess-my-number";

.#{$block} {
    @include e("base") {
        font-family: "Press Start 2P", sans-serif;
        color: #eee;
        background-color: #222;
    }
    @include e("header") {
        position: relative;
        height: 35vh;
        border-bottom: 7px solid #eee;
    }

    @include e("main") {
        height: 65vh;
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    @include e("left") {
        width: 52rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include e("right") {
        width: 52rem;
        font-size: 2rem;
    }

    @include e("heading") {
        font-size: 4rem;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include e("number") {
        background: #eee;
        color: #333;
        font-size: 6rem;
        width: 15rem;
        padding: 3rem 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    @include e("between") {
        font-size: 1.4rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    @include e("again") {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    @include e("guess") {
        background: none;
        border: 4px solid #eee;
        font-family: inherit;
        color: inherit;
        font-size: 5rem;
        padding: 2.5rem;
        width: 25rem;
        text-align: center;
        display: block;
        margin-bottom: 3rem;
    }

    @include e("btn") {
        border: none;
        background-color: #eee;
        color: #222;
        font-size: 2rem;
        font-family: inherit;
        padding: 2rem 3rem;
        cursor: pointer;
        &:hover {
            background-color: #ccc;
        }
    }

    @include e("message") {
        margin-bottom: 8rem;
        height: 3rem;
    }

    @include e("label-score") {
        margin-bottom: 2rem;
    }
}
