@use 'sass:math'; // column system
@use '~ScssAbstracts' as *;
$baseline: 8px;
$gutter: $baseline * 2;

// colors
$c-headline: #222;
$c-text: #444;
$c-button: #007bff;
$c-item: #f4f4f4;
$c-item-hover: rgba(179, 215, 255, 0.52);

form {
    display: flex;
    margin-bottom: $baseline * 4;
}

[type='text'],
button {
    display: inline-block;
    appearance: none;
    padding: $baseline $gutter;
    font-size: $baseline * 2;
    border: 0.2rem solid #ccc;
    border-radius: 0.4rem;
}

button {
    cursor: pointer;
    background: $c-button;
    color: white;
    border: 2px solid $c-button;
    margin: 0 math.div($gutter, 2);
}

[type='text'] {
    width: 100%;
}

[type='text']:active,
[type='text']:focus {
    outline: 0;
    border: 0.2rem solid $c-button;
}

[type='checkbox'] {
    margin-right: $gutter;
    font-size: $baseline * 4;
}

h1 {
    color: $c-headline;
}

ul {
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: $baseline * 2;
    margin-bottom: $baseline * 2;
    background: $c-item;
    border-radius: 0.4rem;
}

li span {
    display: inline-block;
    padding: 0.5rem;
    width: 250px;
    border-radius: 0.4rem;
    border: 0.2rem solid transparent;
}

li span:hover {
    background: $c-item-hover;
}

li span:focus {
    outline: 0;
    border: 0.2rem solid $c-button;
    background: $c-item-hover;
}

#root {
    max-width: 450px;
    margin: ($gutter * 2) auto;
    padding: 0 ($baseline * 2);
}
