/* ------------------------------------------------------------------------ *\
 * UTILITIES
 *
 * Helper classes with important statements
 *
 * alignments ............. Force text alignment
 * background-colors ............... Foundation colors as a background color
 * colors ................. Foundation colors as color
 * font-families .......... Foundation font-families
 * font-sizes ............. Foundation font-sizes
 * hidden ................. Force hide elements on certain breakpoints range
 * line-heights ........... Foundation line-heights
 * margins ................ Margin utilities based on foundations spaces
 * paddings ............... Padding utilities based on foundations spaces
 * radiuses ............... Foundation radiuses as border-radius
 * shadows ................ Foundation shadows
 * widths ................. Fraction widths
 *
\* ------------------------------------------------------------------------ */

/* Utility class with backslash to escape colon */
.font-size {
    &\:xs {
        font-size: var(--font-size-xs) !important;
    }

    &\:base {
        font-size: var(--font-size-base) !important;
    }

    &\:lg {
        font-size: var(--font-size-lg) !important;
    }

    &\:xl {
        font-size: var(--font-size-xl) !important;
    }

    &\:2xl {
        font-size: var(--font-size-2xl) !important;
    }
}

/* Max Inline Size */
.max-inline-size\:measure {
    max-inline-size: var(--measure);
}

.max.max-inline-size\:measure\/2 {
    max-inline-size: calc(var(--measure) / 2);
}
