<html><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

    <style>/* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}::after,::before{--tw-content:''}:host,html{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4;font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-feature-settings:normal;font-variation-settings:normal;-webkit-tap-highlight-color:transparent}body{margin:0;line-height:inherit}hr{height:0;color:inherit;border-top-width:1px}abbr:where([title]){-webkit-text-decoration:underline dotted;text-decoration:underline dotted}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-feature-settings:normal;font-variation-settings:normal;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit;border-collapse:collapse}button,input,optgroup,select,textarea{font-family:inherit;font-feature-settings:inherit;font-variation-settings:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button;background-color:transparent;background-image:none}:-moz-focusring{outline:auto}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}fieldset{margin:0;padding:0}legend{padding:0}menu,ol,ul{list-style:none;margin:0;padding:0}dialog{padding:0}textarea{resize:vertical}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}[role=button],button{cursor:pointer}:disabled{cursor:default}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[hidden]{display:none}*, ::before, ::after{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: ;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }::backdrop{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: ;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0}.fixed{position:fixed}.absolute{position:absolute}.inset-0{inset:0px}.left-3{left:0.75rem}.top-3{top:0.75rem}.isolate{isolation:isolate}.-z-10{z-index:-10}.flex{display:flex}.grid{display:grid}.min-h-screen{min-height:100vh}.w-full{width:100%}.items-center{align-items:center}.justify-center{justify-content:center}.gap-10{gap:2.5rem}.bg-gradient-to-r{background-image:linear-gradient(to right, var(--tw-gradient-stops))}.bg-gradient-to-tr{background-image:linear-gradient(to top right, var(--tw-gradient-stops))}.from-indigo-950{--tw-gradient-from:#1e1b4b var(--tw-gradient-from-position);--tw-gradient-to:rgb(30 27 75 / 0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to)}.from-rose-200{--tw-gradient-from:#fecdd3 var(--tw-gradient-from-position);--tw-gradient-to:rgb(254 205 211 / 0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to)}.to-indigo-100{--tw-gradient-to:#e0e7ff var(--tw-gradient-to-position)}.to-indigo-700{--tw-gradient-to:#4338ca var(--tw-gradient-to-position)}.px-4{padding-left:1rem;padding-right:1rem}.px-6{padding-left:1.5rem;padding-right:1.5rem}.py-14{padding-top:3.5rem;padding-bottom:3.5rem}.\!text-indigo-700{--tw-text-opacity:1 !important;color:rgb(67 56 202 / var(--tw-text-opacity)) !important}.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.duration-500{transition-duration:500ms}.ease-in-out{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)}.peer:checked ~ .peer-checked\:opacity-0{opacity:0}@media (min-width: 460px){.min-\[460px\]\:grid-cols-2{grid-template-columns:repeat(2, minmax(0, 1fr))}}@media (min-width: 640px){.sm\:max-w-2xl{max-width:42rem}.sm\:gap-16{gap:4rem}}.\[\&\>article\]\:relative>article{position:relative}.\[\&\>article\]\:rounded-xl>article{border-radius:0.75rem}.\[\&\>article\]\:bg-white>article{--tw-bg-opacity:1;background-color:rgb(255 255 255 / var(--tw-bg-opacity))}.\[\&\>article\]\:px-4>article{padding-left:1rem;padding-right:1rem}.\[\&\>article\]\:py-8>article{padding-top:2rem;padding-bottom:2rem}.\[\&\>article\]\:transition-all>article{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.\[\&\>article\]\:duration-300>article{transition-duration:300ms}.peer:checked ~ .peer-checked\:\[\&\>article\]\:bg-indigo-300>article{--tw-bg-opacity:1;background-color:rgb(165 180 252 / var(--tw-bg-opacity))}@media (min-width: 640px){.sm\:\[\&\>article\]\:px-8>article{padding-left:2rem;padding-right:2rem}.sm\:\[\&\>article\]\:py-16>article{padding-top:4rem;padding-bottom:4rem}}.\[\&\>label\>span\]\:text-lg>label>span{font-size:1.125rem;line-height:1.75rem}.\[\&\>label\>span\]\:text-white\/70>label>span{color:rgb(255 255 255 / 0.7)}.\[\&\>label\>span\]\:transition-all>label>span{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.\[\&\>label\>span\]\:duration-500>label>span{transition-duration:500ms}.first\:\[\&\>label\>span\]\:text-indigo-700>label>span:first-child{--tw-text-opacity:1;color:rgb(67 56 202 / var(--tw-text-opacity))}.peer:checked ~ .peer-checked\:first\:\[\&\>label\>span\]\:text-white\/70>label>span:first-child{color:rgb(255 255 255 / 0.7)}.peer:checked ~ .peer-checked\:last\:\[\&\>label\>span\]\:text-white>label>span:last-child{--tw-text-opacity:1;color:rgb(255 255 255 / var(--tw-text-opacity))}.\[\&\>label\]\:relative>label{position:relative}.\[\&\>label\]\:isolate>label{isolation:isolate}.\[\&\>label\]\:flex>label{display:flex}.\[\&\>label\]\:h-\[var\(--height\)\]>label{height:var(--height)}.\[\&\>label\]\:w-\[calc\(var\(--height\)\*2\)\]>label{width:calc(var(--height) * 2)}.\[\&\>label\]\:cursor-pointer>label{cursor:pointer}.\[\&\>label\]\:items-center>label{align-items:center}.\[\&\>label\]\:justify-center>label{justify-content:center}.\[\&\>label\]\:gap-\[calc\(var\(--height\)\/2\)\]>label{gap:calc(var(--height) / 2)}.\[\&\>label\]\:px-\[calc\(var\(--height\)\/4\)\]>label{padding-left:calc(var(--height) / 4);padding-right:calc(var(--height) / 4)}.before\:\[\&\>label\]\:absolute>label::before{content:var(--tw-content);position:absolute}.before\:\[\&\>label\]\:inset-0>label::before{content:var(--tw-content);inset:0px}.before\:\[\&\>label\]\:-z-20>label::before{content:var(--tw-content);z-index:-20}.before\:\[\&\>label\]\:rounded-full>label::before{content:var(--tw-content);border-radius:9999px}.before\:\[\&\>label\]\:bg-gradient-to-l>label::before{content:var(--tw-content);background-image:linear-gradient(to left, var(--tw-gradient-stops))}.before\:\[\&\>label\]\:from-indigo-950>label::before{content:var(--tw-content);--tw-gradient-from:#1e1b4b var(--tw-gradient-from-position);--tw-gradient-to:rgb(30 27 75 / 0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to)}.before\:\[\&\>label\]\:to-indigo-300>label::before{content:var(--tw-content);--tw-gradient-to:#a5b4fc var(--tw-gradient-to-position)}.before\:\[\&\>label\]\:transition-all>label::before{content:var(--tw-content);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.before\:\[\&\>label\]\:duration-300>label::before{content:var(--tw-content);transition-duration:300ms}.after\:\[\&\>label\]\:absolute>label::after{content:var(--tw-content);position:absolute}.after\:\[\&\>label\]\:left-\[calc\(var\(--height\)\*var\(--border\)\)\]>label::after{content:var(--tw-content);left:calc(var(--height) * var(--border))}.after\:\[\&\>label\]\:top-\[calc\(var\(--height\)\*var\(--border\)\)\]>label::after{content:var(--tw-content);top:calc(var(--height) * var(--border))}.after\:\[\&\>label\]\:-z-10>label::after{content:var(--tw-content);z-index:-10}.after\:\[\&\>label\]\:h-\[calc\(var\(--height\)\*calc\(1-var\(--border\)\*2\)\)\]>label::after{content:var(--tw-content);height:calc(var(--height) * calc(1 - var(--border) * 2))}.after\:\[\&\>label\]\:w-\[calc\(var\(--height\)\*calc\(1-var\(--border\)\*2\)\)\]>label::after{content:var(--tw-content);width:calc(var(--height) * calc(1 - var(--border) * 2))}.after\:\[\&\>label\]\:rounded-full>label::after{content:var(--tw-content);border-radius:9999px}.after\:\[\&\>label\]\:bg-white\/80>label::after{content:var(--tw-content);background-color:rgb(255 255 255 / 0.8)}.after\:\[\&\>label\]\:transition-all>label::after{content:var(--tw-content);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.after\:\[\&\>label\]\:duration-500>label::after{content:var(--tw-content);transition-duration:500ms}.after\:\[\&\>label\]\:ease-in-out>label::after{content:var(--tw-content);transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)}.hover\:before\:\[\&\>label\]\:-inset-1>label:hover::before{content:var(--tw-content);inset:-0.25rem}.peer:checked ~ .peer-checked\:after\:\[\&\>label\]\:translate-x-\[var\(--height\)\]>label::after{content:var(--tw-content);--tw-translate-x:var(--height);transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.peer:checked ~ .peer-checked\:after\:\[\&\>label\]\:bg-black\/50>label::after{content:var(--tw-content);background-color:rgb(0 0 0 / 0.5)}.before\:\[\&_\#price-1\]\:bg-indigo-400 #price-1::before{content:var(--tw-content);--tw-bg-opacity:1;background-color:rgb(129 140 248 / var(--tw-bg-opacity))}.after\:\[\&_\#price-1\]\:-top-1\/4 #price-1::after{content:var(--tw-content);top:-25%}.after\:\[\&_\#price-1\]\:from-indigo-300 #price-1::after{content:var(--tw-content);--tw-gradient-from:#a5b4fc var(--tw-gradient-from-position);--tw-gradient-to:rgb(165 180 252 / 0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to)}.\[\&_\#price-1_h2\]\:text-indigo-500 #price-1 h2{--tw-text-opacity:1;color:rgb(99 102 241 / var(--tw-text-opacity))}.\[\&_\#price-1_label\]\:border-indigo-500 #price-1 label{--tw-border-opacity:1;border-color:rgb(99 102 241 / var(--tw-border-opacity))}.\[\&_\#price-1_label\]\:text-indigo-500 #price-1 label{--tw-text-opacity:1;color:rgb(99 102 241 / var(--tw-text-opacity))}.before\:\[\&_\#price-1_label\]\:bg-indigo-500 #price-1 label::before{content:var(--tw-content);--tw-bg-opacity:1;background-color:rgb(99 102 241 / var(--tw-bg-opacity))}.before\:\[\&_\#price-1_li\]\:bg-indigo-200 #price-1 li::before{content:var(--tw-content);--tw-bg-opacity:1;background-color:rgb(199 210 254 / var(--tw-bg-opacity))}.before\:\[\&_\#price-2\]\:bg-rose-400 #price-2::before{content:var(--tw-content);--tw-bg-opacity:1;background-color:rgb(251 113 133 / var(--tw-bg-opacity))}.after\:\[\&_\#price-2\]\:-bottom-1\/4 #price-2::after{content:var(--tw-content);bottom:-25%}.after\:\[\&_\#price-2\]\:from-rose-300 #price-2::after{content:var(--tw-content);--tw-gradient-from:#fda4af var(--tw-gradient-from-position);--tw-gradient-to:rgb(253 164 175 / 0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to)}.\[\&_\#price-2_h2\]\:text-rose-600 #price-2 h2{--tw-text-opacity:1;color:rgb(225 29 72 / var(--tw-text-opacity))}.\[\&_\#price-2_label\]\:border-rose-600 #price-2 label{--tw-border-opacity:1;border-color:rgb(225 29 72 / var(--tw-border-opacity))}.\[\&_\#price-2_label\]\:text-rose-600 #price-2 label{--tw-text-opacity:1;color:rgb(225 29 72 / var(--tw-text-opacity))}.before\:\[\&_\#price-2_label\]\:bg-rose-600 #price-2 label::before{content:var(--tw-content);--tw-bg-opacity:1;background-color:rgb(225 29 72 / var(--tw-bg-opacity))}.before\:\[\&_\#price-2_li\]\:bg-rose-100 #price-2 li::before{content:var(--tw-content);--tw-bg-opacity:1;background-color:rgb(255 228 230 / var(--tw-bg-opacity))}.before\:\[\&_article\]\:absolute article::before{content:var(--tw-content);position:absolute}.before\:\[\&_article\]\:inset-0 article::before{content:var(--tw-content);inset:0px}.before\:\[\&_article\]\:-z-10 article::before{content:var(--tw-content);z-index:-10}.before\:\[\&_article\]\:rounded-2xl article::before{content:var(--tw-content);border-radius:1rem}.before\:\[\&_article\]\:opacity-10 article::before{content:var(--tw-content);opacity:0.1}.before\:\[\&_article\]\:transition-all article::before{content:var(--tw-content);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.before\:\[\&_article\]\:duration-300 article::before{content:var(--tw-content);transition-duration:300ms}.after\:\[\&_article\]\:left-12 article::after{content:var(--tw-content);left:3rem}.after\:\[\&_article\]\:-z-20 article::after{content:var(--tw-content);z-index:-20}.after\:\[\&_article\]\:aspect-square article::after{content:var(--tw-content);aspect-ratio:1 / 1}.after\:\[\&_article\]\:w-\[120\%\] article::after{content:var(--tw-content);width:120%}.after\:\[\&_article\]\:rounded-2xl article::after{content:var(--tw-content);border-radius:1rem}.after\:\[\&_article\]\:bg-gradient-to-r article::after{content:var(--tw-content);background-image:linear-gradient(to right, var(--tw-gradient-stops))}.after\:\[\&_article\]\:to-transparent article::after{content:var(--tw-content);--tw-gradient-to:transparent var(--tw-gradient-to-position)}.after\:\[\&_article\]\:opacity-20 article::after{content:var(--tw-content);opacity:0.2}.hover\:before\:\[\&_article\]\:-inset-4 article:hover::before{content:var(--tw-content);inset:-1rem}@media (min-width: 640px){.sm\:after\:\[\&_article\]\:absolute article::after{content:var(--tw-content);position:absolute}}.\[\&_hgroup\>h2\]\:font-serif hgroup>h2{font-family:ui-serif, Georgia, Cambria, "Times New Roman", Times, serif}.\[\&_hgroup\>h2\]\:text-lg hgroup>h2{font-size:1.125rem;line-height:1.75rem}.\[\&_hgroup\>p\]\:text-sm hgroup>p{font-size:0.875rem;line-height:1.25rem}.\[\&_hgroup\]\:mb-8 hgroup{margin-bottom:2rem}.\[\&_hgroup\]\:overflow-hidden hgroup{overflow:hidden}@media (min-width: 640px){.sm\:\[\&_hgroup\]\:mb-12 hgroup{margin-bottom:3rem}}.\[\&_label\]\:relative label{position:relative}.\[\&_label\]\:isolate label{isolation:isolate}.\[\&_label\]\:mx-auto label{margin-left:auto;margin-right:auto}.\[\&_label\]\:block label{display:block}.\[\&_label\]\:w-full label{width:100%}.\[\&_label\]\:cursor-pointer label{cursor:pointer}.\[\&_label\]\:overflow-hidden label{overflow:hidden}.\[\&_label\]\:whitespace-nowrap label{white-space:nowrap}.\[\&_label\]\:rounded-lg label{border-radius:0.5rem}.\[\&_label\]\:border label{border-width:1px}.\[\&_label\]\:px-3 label{padding-left:0.75rem;padding-right:0.75rem}.\[\&_label\]\:py-2 label{padding-top:0.5rem;padding-bottom:0.5rem}.\[\&_label\]\:text-center label{text-align:center}.\[\&_label\]\:text-sm label{font-size:0.875rem;line-height:1.25rem}.\[\&_label\]\:transition-all label{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.\[\&_label\]\:duration-300 label{transition-duration:300ms}.before\:\[\&_label\]\:absolute label::before{content:var(--tw-content);position:absolute}.before\:\[\&_label\]\:inset-\[100\%_0_100\%_0\] label::before{content:var(--tw-content);inset:100% 0 100% 0}.before\:\[\&_label\]\:-z-10 label::before{content:var(--tw-content);z-index:-10}.before\:\[\&_label\]\:rounded-lg label::before{content:var(--tw-content);border-radius:0.5rem}.before\:\[\&_label\]\:transition-all label::before{content:var(--tw-content);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms}.before\:\[\&_label\]\:duration-300 label::before{content:var(--tw-content);transition-duration:300ms}.hover\:\[\&_label\]\:\!text-white label:hover{--tw-text-opacity:1 !important;color:rgb(255 255 255 / var(--tw-text-opacity)) !important}.hover\:before\:\[\&_label\]\:inset-0 label:hover::before{content:var(--tw-content);inset:0px}.focus-visible\:\[\&_label\]\:border-none label:focus-visible{border-style:none}.focus-visible\:\[\&_label\]\:outline-none label:focus-visible{outline:2px solid transparent;outline-offset:2px}.focus-visible\:\[\&_label\]\:ring-0 label:focus-visible{--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)}.\[\&_li\]\:flex li{display:flex}.\[\&_li\]\:items-center li{align-items:center}.\[\&_li\]\:gap-2 li{gap:0.5rem}.\[\&_li\]\:text-xs li{font-size:0.75rem;line-height:1rem}.before\:\[\&_li\]\:block li::before{content:var(--tw-content);display:block}.before\:\[\&_li\]\:grid li::before{content:var(--tw-content);display:grid}.before\:\[\&_li\]\:h-7 li::before{content:var(--tw-content);height:1.75rem}.before\:\[\&_li\]\:w-7 li::before{content:var(--tw-content);width:1.75rem}.before\:\[\&_li\]\:place-content-center li::before{content:var(--tw-content);place-content:center}.before\:\[\&_li\]\:rounded-full li::before{content:var(--tw-content);border-radius:9999px}.before\:\[\&_li\]\:content-\[\'\2713\'\] li::before{--tw-content:'✓';content:var(--tw-content)}.\[\&_main\]\:overflow-hidden main{overflow:hidden}.\[\&_ul\]\:mb-12 ul{margin-bottom:3rem}.\[\&_ul\]\:space-y-2 ul > :not([hidden]) ~ :not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0.5rem * var(--tw-space-y-reverse))}.\[\&_ul\]\:space-y-4 ul > :not([hidden]) ~ :not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1rem * var(--tw-space-y-reverse))}.\[\&_ul\]\:text-sm ul{font-size:0.875rem;line-height:1.25rem}</style></head>

    <body class="bg-gradient-to-r from-indigo-950 to-indigo-700 flex justify-center items-center min-h-screen px-6 ">
   
        <!-- theme toggle radio -->
        <input type="checkbox" id="theme" class="sr-only peer">

            <h1 class="sr-only">Pricing</h1>
            
            <main class="px-4 py-14 grid isolate  min-[460px]:grid-cols-2 gap-10 sm:gap-16 w-full sm:max-w-2xl 
               peer-checked:[&amp;>article]:bg-indigo-300
                [&amp;>article]:bg-white
                [&amp;>article]:
                [&amp;>article]:py-8
                sm:[&amp;>article]:py-16
                [&amp;>article]:px-4
                sm:[&amp;>article]:px-8
                [&amp;>article]:rounded-xl
                [&amp;>article]:relative 
                [&amp;>article]:transition-all
                [&amp;>article]:duration-300
            
                before:[&amp;_article]:absolute
                before:[&amp;_article]:inset-0
                before:[&amp;_article]:transition-all
                before:[&amp;_article]:duration-300
                hover:before:[&amp;_article]:-inset-4
                before:[&amp;_article]:rounded-2xl
                before:[&amp;_article]:-z-10
                before:[&amp;_article]:opacity-10

                sm:after:[&amp;_article]:absolute
                after:[&amp;_article]:w-[120%] 
                after:[&amp;_article]:aspect-square
                after:[&amp;_article]:rounded-2xl
                after:[&amp;_article]:-z-20
                after:[&amp;_article]:opacity-20
                after:[&amp;_article]:bg-gradient-to-r 
                after:[&amp;_article]:to-transparent
                after:[&amp;_article]:left-12
            
                [&amp;_main]:overflow-hidden
                [&amp;_hgroup]:overflow-hidden
                [&amp;_hgroup]:mb-8
                sm:[&amp;_hgroup]:mb-12
                [&amp;_hgroup>h2]:font-serif
                [&amp;_hgroup>h2]:text-lg
                [&amp;_hgroup>p]:text-sm

                [&amp;_ul]:mb-12
                [&amp;_ul]:space-y-4
                [&amp;_ul]:text-sm
                [&amp;_ul]:space-y-2
                [&amp;_li]:text-xs
                [&amp;_li]:flex 
                [&amp;_li]:items-center 
                [&amp;_li]:gap-2 
                before:[&amp;_li]:block 
                before:[&amp;_li]:content-['✓']
                before:[&amp;_li]:rounded-full
                before:[&amp;_li]:w-7
                before:[&amp;_li]:h-7
                before:[&amp;_li]:grid
                before:[&amp;_li]:place-content-center
                [&amp;_label]:block
                [&amp;_label]:text-center
                [&amp;_label]:cursor-pointer
                [&amp;_label]:py-2
                [&amp;_label]:text-sm
                [&amp;_label]:px-3
                [&amp;_label]:w-full
                [&amp;_label]:mx-auto
                [&amp;_label]:rounded-lg
                [&amp;_label]:border
                [&amp;_label]:relative
                [&amp;_label]:isolate
                [&amp;_label]:overflow-hidden
                [&amp;_label]:transition-all
                [&amp;_label]:duration-300
                [&amp;_label]:whitespace-nowrap
                hover:[&amp;_label]:!text-white
                before:[&amp;_label]:rounded-lg
                before:[&amp;_label]:transition-all
                before:[&amp;_label]:duration-300 
                before:[&amp;_label]:absolute
                before:[&amp;_label]:inset-[100%_0_100%_0]
                before:[&amp;_label]:-z-10
                hover:before:[&amp;_label]:inset-0
                focus-visible:[&amp;_label]:border-none
                focus-visible:[&amp;_label]:outline-none
                focus-visible:[&amp;_label]:ring-0

                before:[&amp;_#price-1]:bg-indigo-400
                after:[&amp;_#price-1]:from-indigo-300
                after:[&amp;_#price-1]:-top-1/4
                [&amp;_#price-1_h2]:text-indigo-500
                [&amp;_#price-1_label]:border-indigo-500
                [&amp;_#price-1_label]:text-indigo-500
                before:[&amp;_#price-1_label]:bg-indigo-500
                before:[&amp;_#price-1_li]:bg-indigo-200
                
                before:[&amp;_#price-2]:bg-rose-400
                after:[&amp;_#price-2]:from-rose-300
                after:[&amp;_#price-2]:-bottom-1/4
                [&amp;_#price-2_h2]:text-rose-600
                [&amp;_#price-2_label]:border-rose-600
                [&amp;_#price-2_label]:text-rose-600
                before:[&amp;_#price-2_label]:bg-rose-600
                before:[&amp;_#price-2_li]:bg-rose-100
            ">
                <article id="price-1" class="fade-in" style="--d:0ms">
                    <hgroup>
                        <h2 class="slide-down" style="--d:600ms;">Starter</h2>
                        <p class="slide-down" style="--d:300ms;">Free</p>
                    </hgroup>
                    <main>
                        <ul role="list">
                            <li class="slide-in-left" style="--d:900ms;">Unlimited files</li>
                            <li class="slide-in-right" style="--d:1100ms;">Unlimited editions</li>
                            <li class="slide-in-left" style="--d:1300ms;">Unlimited cloud storage</li>
                        </ul>
                        <label for="option-1" class="slide-up" style="--d:1800ms;">
                            Choose Starter
                        </label>
                    </main>
                </article>

                <article id="price-2">
                    <hgroup>
                        <h2 class="slide-down" style="--d:2600ms;">Professional</h2>
                        <p class="slide-down" style="--d:2300ms;">$22 <span>per member</span></p>
                    </hgroup>

                    <main>
                        <ul>
                            <li class="slide-in-left" style="--d:2900ms;">Unlimited projects</li>
                            <li class="slide-in-right" style="--d:3100ms;">Private projects</li>
                            <li class="slide-in-left" style="--d:3300ms;">Team libraries</li>
                        </ul>
                        <label for="option-2" class="slide-up" style="--d:3800ms;">
                            Choose Professional
                        </label>
                    </main>
                
                
                </article>

                
            </main>
        

         <!-- theme toggle switch -->
        <div style="--height:2rem; --border:.1" class="absolute top-3 left-3
            
            [&amp;>label]:w-[calc(var(--height)*2)]
            [&amp;>label]:h-[var(--height)]
            [&amp;>label]:cursor-pointer
            [&amp;>label]:relative
            [&amp;>label]:isolate
            [&amp;>label]:px-[calc(var(--height)/4)]
            [&amp;>label]:flex
            [&amp;>label]:items-center
            [&amp;>label]:justify-center
            [&amp;>label]:gap-[calc(var(--height)/2)] // this calculation is not correct
            
            [&amp;>label>span]:text-white/70
            first:[&amp;>label>span]:text-indigo-700
            [&amp;>label>span]:text-lg
            [&amp;>label>span]:transition-all
            [&amp;>label>span]:duration-500
            
            before:[&amp;>label]:absolute
            before:[&amp;>label]:inset-0
            before:[&amp;>label]:rounded-full
            before:[&amp;>label]:bg-gradient-to-l
            before:[&amp;>label]:from-indigo-950
            before:[&amp;>label]:to-indigo-300
            before:[&amp;>label]:-z-20
            before:[&amp;>label]:transition-all
            before:[&amp;>label]:duration-300
            hover:before:[&amp;>label]:-inset-1
            peer-focs:before:[&amp;>label]:-inset-1

            after:[&amp;>label]:absolute
            after:[&amp;>label]:rounded-full
            after:[&amp;>label]:-z-10
            after:[&amp;>label]:bg-white/80
            after:[&amp;>label]:transition-all
            after:[&amp;>label]:duration-500
            after:[&amp;>label]:ease-in-out
            
            // calculate postion and size based on custom properties - no need to change these
            after:[&amp;>label]:top-[calc(var(--height)*var(--border))]
            after:[&amp;>label]:left-[calc(var(--height)*var(--border))]
            after:[&amp;>label]:h-[calc(var(--height)*calc(1-var(--border)*2))]
            after:[&amp;>label]:w-[calc(var(--height)*calc(1-var(--border)*2))]
            
     
           
            peer-checked:after:[&amp;>label]:translate-x-[var(--height)]
            peer-checked:after:[&amp;>label]:bg-black/50
            peer-checked:first:[&amp;>label>span]:text-white/70
            peer-checked:last:[&amp;>label>span]:text-white
            ">
            <label for="theme" class="switch">
                <span class="material-symbols-outlined !text-indigo-700">light_mode</span>
                <span class="material-symbols-outlined">dark_mode</span>
            </label>
        </div>
        <!-- bg mask -->
        <div class="bg-gradient-to-tr from-rose-200 to-indigo-100 fixed inset-0 -z-10  transition-all duration-500 ease-in-out peer-checked:opacity-0">
        </div>
 

<style>@media (prefers-reduced-motion: no-preference) {
    .slide-in-left {
        translate: -300px 0;
        animation: slide-in 500ms forwards;
        animation-delay: var(--d, 0ms);
    }
    .slide-in-right {
        translate: 300px 0;
        animation: slide-in 500ms forwards;
        animation-delay: var(--d, 0ms);
    }
    .slide-down {
        translate: 0 -300px;
        animation: slide-in 500ms forwards;
        animation-delay: var(--d, 0ms);
    }
    .slide-up {
        translate: 0 300px;
        animation: slide-in 500ms forwards;
        animation-delay: var(--d, 0ms);
    }
}

@keyframes slide-in {
    to{
        translate: 0;
    }
}

</style><script type="module">
                        // marcinmalecki preview hack
// NOTE - This JS is not relevant to the submission, it is just to ensure that the preview thumnail looks ok.
if (navigator.userAgent.includes("Headless")) {
    document.querySelector("#theme").checked = true;
}

// toggle theme switch if user prefers "dark"
let theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
if (theme == 'dark') {
    document.querySelector("#theme").checked = true;
}
                    </script></body></html>