<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Remove the line below if you don't want to use TailwindCSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    .before-shadow {
      transform-style: preserve-3d;
      perspective: 1000;
      -webkit-transform-style: preserve-3d;
      -webkit-perspective: 1000;
    }

    .before-shadow::before {
      transform: translateZ(-10px);
      background-color: #ffffff;
      opacity: 40%;
      content: "";
      width: 300px;
      height: 300px;
      border-radius: 10px;
      position: absolute;
      z-index: -100;
      left: -100px;
      top: -100px;

    }

    .before-shadow::after {
      transform: translateZ(-20px);
      background-color: #b46464;
      opacity: 20%;
      content: "";
      width: 300px;
      height: 300px;
      border-radius: 10px;
      position: absolute;
      z-index: -200;
      right: -100px;
      bottom: -100px;

    }
  </style>
  <style>
    /* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */
    *,
    ::after,
    ::before {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: #e5e7eb
    }

    ::after,
    ::before {
      --tw-content: ''
    }

    :host,
    html {
      line-height: 1.5;
      -webkit-text-size-adjust: 100%;
      -moz-tab-size: 4;
      tab-size: 4;
      font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-feature-settings: normal;
      font-variation-settings: normal;
      -webkit-tap-highlight-color: transparent
    }

    body {
      margin: 0;
      line-height: inherit
    }

    hr {
      height: 0;
      color: inherit;
      border-top-width: 1px
    }

    abbr:where([title]) {
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit
    }

    a {
      color: inherit;
      text-decoration: inherit
    }

    b,
    strong {
      font-weight: bolder
    }

    code,
    kbd,
    pre,
    samp {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-feature-settings: normal;
      font-variation-settings: normal;
      font-size: 1em
    }

    small {
      font-size: 80%
    }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline
    }

    sub {
      bottom: -.25em
    }

    sup {
      top: -.5em
    }

    table {
      text-indent: 0;
      border-color: inherit;
      border-collapse: collapse
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-feature-settings: inherit;
      font-variation-settings: inherit;
      font-size: 100%;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      margin: 0;
      padding: 0
    }

    button,
    select {
      text-transform: none
    }

    [type=button],
    [type=reset],
    [type=submit],
    button {
      -webkit-appearance: button;
      background-color: transparent;
      background-image: none
    }

    :-moz-focusring {
      outline: auto
    }

    :-moz-ui-invalid {
      box-shadow: none
    }

    progress {
      vertical-align: baseline
    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      height: auto
    }

    [type=search] {
      -webkit-appearance: textfield;
      outline-offset: -2px
    }

    ::-webkit-search-decoration {
      -webkit-appearance: none
    }

    ::-webkit-file-upload-button {
      -webkit-appearance: button;
      font: inherit
    }

    summary {
      display: list-item
    }

    blockquote,
    dd,
    dl,
    figure,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    pre {
      margin: 0
    }

    fieldset {
      margin: 0;
      padding: 0
    }

    legend {
      padding: 0
    }

    menu,
    ol,
    ul {
      list-style: none;
      margin: 0;
      padding: 0
    }

    dialog {
      padding: 0
    }

    textarea {
      resize: vertical
    }

    input::placeholder,
    textarea::placeholder {
      opacity: 1;
      color: #9ca3af
    }

    [role=button],
    button {
      cursor: pointer
    }

    :disabled {
      cursor: default
    }

    audio,
    canvas,
    embed,
    iframe,
    img,
    object,
    svg,
    video {
      display: block;
      vertical-align: middle
    }

    img,
    video {
      max-width: 100%;
      height: auto
    }

    [hidden] {
      display: none
    }

    *,
    ::before,
    ::after {
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x: ;
      --tw-pan-y: ;
      --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ;
      --tw-gradient-via-position: ;
      --tw-gradient-to-position: ;
      --tw-ordinal: ;
      --tw-slashed-zero: ;
      --tw-numeric-figure: ;
      --tw-numeric-spacing: ;
      --tw-numeric-fraction: ;
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      --tw-blur: ;
      --tw-brightness: ;
      --tw-contrast: ;
      --tw-grayscale: ;
      --tw-hue-rotate: ;
      --tw-invert: ;
      --tw-saturate: ;
      --tw-sepia: ;
      --tw-drop-shadow: ;
      --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ;
      --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ;
      --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ;
      --tw-backdrop-opacity: ;
      --tw-backdrop-saturate: ;
      --tw-backdrop-sepia:
    }

    ::backdrop {
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x: ;
      --tw-pan-y: ;
      --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ;
      --tw-gradient-via-position: ;
      --tw-gradient-to-position: ;
      --tw-ordinal: ;
      --tw-slashed-zero: ;
      --tw-numeric-figure: ;
      --tw-numeric-spacing: ;
      --tw-numeric-fraction: ;
      --tw-ring-inset: ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      --tw-blur: ;
      --tw-brightness: ;
      --tw-contrast: ;
      --tw-grayscale: ;
      --tw-hue-rotate: ;
      --tw-invert: ;
      --tw-saturate: ;
      --tw-sepia: ;
      --tw-drop-shadow: ;
      --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ;
      --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ;
      --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ;
      --tw-backdrop-opacity: ;
      --tw-backdrop-saturate: ;
      --tw-backdrop-sepia:
    }

    .absolute {
      position: absolute
    }

    .relative {
      position: relative
    }

    .sticky {
      position: sticky
    }

    .left-0 {
      left: 0px
    }

    .left-1\/2 {
      left: 50%
    }

    .top-0 {
      top: 0px
    }

    .top-1\/2 {
      top: 50%
    }

    .z-10 {
      z-index: 10
    }

    .z-20 {
      z-index: 20
    }

    .z-50 {
      z-index: 50
    }

    .mb-5 {
      margin-bottom: 1.25rem
    }

    .mt-5 {
      margin-top: 1.25rem
    }

    .flex {
      display: flex
    }

    .h-12 {
      height: 3rem
    }

    .h-4 {
      height: 1rem
    }

    .h-8 {
      height: 2rem
    }

    .h-96 {
      height: 24rem
    }

    .h-full {
      height: 100%
    }

    .h-screen {
      height: 100vh
    }

    .min-h-screen {
      min-height: 100vh
    }

    .w-1 {
      width: 0.25rem
    }

    .w-4 {
      width: 1rem
    }

    .w-64 {
      width: 16rem
    }

    .w-8 {
      width: 2rem
    }

    .w-80 {
      width: 20rem
    }

    .w-full {
      width: 100%
    }

    .min-w-\[800px\] {
      min-width: 800px
    }

    .max-w-52 {
      max-width: 13rem
    }

    .-translate-x-1\/2 {
      --tw-translate-x: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .-translate-y-1\/2 {
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .-translate-x-\[150px\] {
      --tw-translate-x: -150px;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .-translate-y-20 {
      --tw-translate-y: -5rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .translate-x-\[150px\] {
      --tw-translate-x: 150px;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .flex-col {
      flex-direction: column
    }

    .items-center {
      align-items: center
    }

    .justify-center {
      justify-content: center
    }

    .gap-10 {
      gap: 2.5rem
    }

    .overflow-hidden {
      overflow: hidden
    }

    .rounded-full {
      border-radius: 9999px
    }

    .rounded-lg {
      border-radius: 0.5rem
    }

    .rounded-xl {
      border-radius: 0.75rem
    }

    .border {
      border-width: 1px
    }

    .border-8 {
      border-width: 8px
    }

    .border-pink-500 {
      --tw-border-opacity: 1;
      border-color: rgb(236 72 153 / var(--tw-border-opacity))
    }

    .border-pink-500\/85 {
      border-color: rgb(236 72 153 / 0.85)
    }

    .border-purple-500 {
      --tw-border-opacity: 1;
      border-color: rgb(168 85 247 / var(--tw-border-opacity))
    }

    .bg-\[\#6f9c33\] {
      --tw-bg-opacity: 1;
      background-color: rgb(111 156 51 / var(--tw-bg-opacity))
    }

    .bg-green-100 {
      --tw-bg-opacity: 1;
      background-color: rgb(220 252 231 / var(--tw-bg-opacity))
    }

    .bg-pink-500 {
      --tw-bg-opacity: 1;
      background-color: rgb(236 72 153 / var(--tw-bg-opacity))
    }

    .bg-purple-500 {
      --tw-bg-opacity: 1;
      background-color: rgb(168 85 247 / var(--tw-bg-opacity))
    }

    .bg-white {
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    }

    .bg-gradient-to-t {
      background-image: linear-gradient(to top, var(--tw-gradient-stops))
    }

    .from-\[\#86bd3f\] {
      --tw-gradient-from: #86bd3f var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(134 189 63 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
    }

    .to-\[\#c6d3a1\] {
      --tw-gradient-to: #c6d3a1 var(--tw-gradient-to-position)
    }

    .fill-green-700 {
      fill: #15803d
    }

    .p-10 {
      padding: 2.5rem
    }

    .p-4 {
      padding: 1rem
    }

    .px-10 {
      padding-left: 2.5rem;
      padding-right: 2.5rem
    }

    .px-5 {
      padding-left: 1.25rem;
      padding-right: 1.25rem
    }

    .py-12 {
      padding-top: 3rem;
      padding-bottom: 3rem
    }

    .py-3 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem
    }

    .text-start {
      text-align: start
    }

    .text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem
    }

    .font-bold {
      font-weight: 700
    }

    .text-\[\#1A1831\] {
      --tw-text-opacity: 1;
      color: rgb(26 24 49 / var(--tw-text-opacity))
    }

    .text-gray-400 {
      --tw-text-opacity: 1;
      color: rgb(156 163 175 / var(--tw-text-opacity))
    }

    .text-gray-800 {
      --tw-text-opacity: 1;
      color: rgb(31 41 55 / var(--tw-text-opacity))
    }

    .text-pink-600 {
      --tw-text-opacity: 1;
      color: rgb(219 39 119 / var(--tw-text-opacity))
    }

    .text-purple-600 {
      --tw-text-opacity: 1;
      color: rgb(147 51 234 / var(--tw-text-opacity))
    }

    .text-slate-900 {
      --tw-text-opacity: 1;
      color: rgb(15 23 42 / var(--tw-text-opacity))
    }

    .shadow-\[0_0_15px_15px_rgba\(244\2c 63\2c 94\2c 0\.3\)\] {
      --tw-shadow: 0 0 15px 15px rgba(244, 63, 94, 0.3);
      --tw-shadow-colored: 0 0 15px 15px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }

    .shadow-\[0_0_60px_-15px_rgba\(0\2c 0\2c 0\2c 0\.3\)\] {
      --tw-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.3);
      --tw-shadow-colored: 0 0 60px -15px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }

    .shadow-lg {
      --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }

    .transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms
    }

    .duration-200 {
      transition-duration: 200ms
    }

    .duration-300 {
      transition-duration: 300ms
    }

    .ease-linear {
      transition-timing-function: linear
    }

    .hover\:z-\[999\]:hover {
      z-index: 999
    }

    .hover\:scale-110:hover {
      --tw-scale-x: 1.1;
      --tw-scale-y: 1.1;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .active\:translate-y-1:active {
      --tw-translate-y: 0.25rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .group:hover .group-hover\:w-full {
      width: 100%
    }

    .group:hover .group-hover\:text-white {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .\[\&\>li\]\:my-3>li {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem
    }

    .\[\&\>li\]\:flex>li {
      display: flex
    }

    .\[\&\>li\]\:items-center>li {
      align-items: center
    }

    .\[\&\>li\]\:justify-start>li {
      justify-content: flex-start
    }

    .\[\&\>li\]\:gap-3>li {
      gap: 0.75rem
    }

    .\[\&\>li\]\:font-medium>li {
      font-weight: 500
    }

    .\[\&\>li\]\:capitalize>li {
      text-transform: capitalize
    }
  </style>
</head>


<!-- Change code below this line -->

<body class="bg-gradient-to-t to-[#c6d3a1] from-[#86bd3f]">
  <div class="w-64 h-screen sticky top-0 left-1/2 -translate-x-1/2 bg-[#6f9c33]"></div>
  <main
    class="min-w-[800px] absolute  h-full left-1/2 -translate-x-1/2 top-0 flex flex-col gap-10 justify-center items-center min-h-screen text-[#1A1831] ">

    <section id="section1"
      class="hover:z-[999] hover:scale-110 shadow-[0_0_60px_-15px_rgba(0,0,0,0.3)] transition-all duration-200 ease-linear w-80 h-96 text-slate-900 p-10 rounded-lg relative bg-white -translate-x-[150px] -translate-y-20">
      <h1 class="text-xl font-bold  text-purple-600 text-start w-full">Starter</h1>
      <p class="text-md mb-5 text-start w-full"><strong>12$</strong> per month</p>
      <ul
        class="w-full [&amp;>li]:flex [&amp;>li]:capitalize [&amp;>li]:font-medium [&amp;>li]:gap-3 [&amp;>li]:my-3 [&amp;>li]:justify-start [&amp;>li]:items-center">
        <li>
          <div class="w-8 h-8 rounded-full flex justify-center items-center bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" w="12" h="12" class="w-4 h-4 fill-green-700" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
              </path>
            </svg>
          </div>
          Unlimited Projects
        </li>
        <li>
          <div class="w-8 h-8 rounded-full flex justify-center items-center bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" w="12" h="12" class="w-4 h-4 fill-green-700" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
              </path>
            </svg>
          </div>
          private Projects
        </li>
        <li>
          <div class="w-8 h-8 rounded-full flex justify-center items-center bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" w="12" h="12" class="w-4 h-4 fill-green-700" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
              </path>
            </svg>
          </div>
          Team Libraries
        </li>

      </ul>

      <button
        class="rounded-lg mt-5 border-purple-500 w-full max-w-52 h-12 border  active:translate-y-1 text-gray-400 px-10 py-3 text-md shadow-lg relative group overflow-hidden">
        <h5
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 w-full group-hover:text-white text-gray-800">
          Choose Professional</h5>
        <div class="transition-all w-1 group-hover:w-full absolute left-0 top-0 duration-200 h-full z-10 bg-purple-500">
        </div>


      </button>

    </section>
    <section
      class="shadow-[0_0_15px_15px_rgba(244,63,94,0.3)] px-5 py-12 border-8 border-pink-500/85 rounded-xl before-shadow after-shadow hover:scale-110 hover:z-[999] bg-white absolute w-80 h-96 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-50 transition-all duration-300 p-4 flex flex-col items-center justify-center translate-x-[150px]"
      id="section2">
      <h1 class="text-xl font-bold  text-pink-600 text-start w-full">Professional</h1>
      <p class="text-md mb-5 text-start w-full"><strong>12$</strong> per month</p>
      <ul
        class="w-full [&amp;>li]:flex [&amp;>li]:capitalize [&amp;>li]:font-medium [&amp;>li]:gap-3 [&amp;>li]:my-3 [&amp;>li]:justify-start [&amp;>li]:items-center">
        <li>
          <div class="w-8 h-8 rounded-full flex justify-center items-center bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" w="12" h="12" class="w-4 h-4 fill-green-700" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
              </path>
            </svg>
          </div>
          Unlimited Projects
        </li>
        <li>
          <div class="w-8 h-8 rounded-full flex justify-center items-center bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" w="12" h="12" class="w-4 h-4 fill-green-700" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
              </path>
            </svg>
          </div>
          private Projects
        </li>
        <li>
          <div class="w-8 h-8 rounded-full flex justify-center items-center bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" w="12" h="12" class="w-4 h-4 fill-green-700" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
              <path
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
              </path>
            </svg>
          </div>
          Team Libraries
        </li>

      </ul>

      <button
        class="rounded-lg mt-5 border-pink-500 w-full max-w-52 h-12 border  active:translate-y-1 text-gray-400 px-10 py-3 text-md shadow-lg relative group overflow-hidden">
        <h5
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 w-full group-hover:text-white text-gray-800">
          Choose Professional</h5>
        <div class="transition-all w-1 group-hover:w-full absolute left-0 top-0 duration-200 h-full z-10 bg-pink-500">
        </div>


      </button>

    </section>



  </main>


  <script>
    const mBar = document.getElementById('mBar');
    const section1 = document.getElementById('section1');
    const section2 = document.getElementById('section2');
    const moveTo = (i) => {
      mBar.style.transform = `translate(0,${i === 0 ? 85 : 175}px)`;
      mBar.style.opacity = '100';
    }

    const init = () => {
      section1.classList.add('-translate-x-[150px]');
      section1.classList.add('-translate-y-20');
      section2.classList.add('translate-x-[150px]');
      section2.classList.add('');

    }

    setTimeout(init, 300);

  </script>

  <style>
    /* Add CSS here */
  </style>
  <script type="module">
    // Add JavaScript code here
  </script>
</body>

</html>