{{#> templates/frontend-mentor/markup/partials/_frontend-mentor title='QR Code Card'}}

  {{{feLibs 'library' 'patterns' 'card' 'qr-code-card' 'css'}}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">

  <main class="row">
    <section class='col'>
      <article class='qr-code-card__base col col--center'>
        {{> components/image/markup/partials/_responsive-image
              aspectRatiosArr="[0,0,0,0,0]"
              widthsArr='[0,1,1,1,1]'
              imgName="image-qr-code" 
              altText="QG code image." 
              classNames="qr-code-card__image"}}

        <div class="qr-code-card__content">
          <h1 class='qr-code-card__title'>Improve your front-end skills by building projects</h1>
          <p class='qr-code-card__description'>Scan the QR code to visit Frontend Mentor and take your coding skills to
            the next level</p>
        </div>
      </article>
    </section>
  </main>

  {{/ templates/frontend-mentor/markup/partials/_frontend-mentor}}