{{#> ../../../pages/basepage/markup/basepage.page hasJS=true }}
  <div class="sound-board__base" data-js-pat="SoundBoard">
    <audio id="applause" src="/assets/audio/applause.mp3"></audio>
    <audio id="boo" src="/assets/audio/boo.mp3"></audio>
    <audio id="gasp" src="/assets/audio/gasp.mp3"></audio>
    <audio id="tada" src="/assets/audio/tada.mp3"></audio>
    <audio id="victory" src="/assets/audio/victory.mp3"></audio>
    <audio id="wrong" src="/assets/audio/wrong.mp3"></audio>

    <div id="buttons"></div>
  </div>
  {{/ ../../../pages/basepage/markup/basepage.page}}