{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}
  <link rel="stylesheet" href="../typography/style.css">
  <link rel="stylesheet" href="../button/style.css">
  <link rel="stylesheet" href="../form-atoms/style.css">
    <link rel="stylesheet" href="../form-molecules/style.css">

  <div class="form-validation__base row" data-js-pat="FormValidation">
    <form class="form-validation__container">
      <h2 class="heading__base heading__base--heading-200">Register With Us</h2>
   
      {{#> ../../../molecules/form-molecules/templates/text-field.molecule errorMessage="Error message" }}
        {{> ../../../atoms/form-atoms/templates/text-input.atom label="Username" 
            id="username" type="text" placeholder="Enter username" classNames="js-validation-username"}}
      {{/ ../../../molecules/form-molecules/templates/text-field.molecule}}
 
      {{#> ../../../molecules/form-molecules/templates/text-field.molecule errorMessage="Error message" }}
        {{> ../../../atoms/form-atoms/templates/text-input.atom label="Email" 
            id="email" type="email" placeholder="Enter email" classNames="js-validation-email"}}
      {{/ ../../../molecules/form-molecules/templates/text-field.molecule}}
   
      {{#> ../../../molecules/form-molecules/templates/text-field.molecule errorMessage="Error message" }}
        {{> ../../../atoms/form-atoms/templates/text-input.atom label="Password" 
            id="password" type="password" placeholder="Enter password" classNames="js-validation-password"}}
      {{/ ../../../molecules/form-molecules/templates/text-field.molecule}}

      {{#> ../../../molecules/form-molecules/templates/text-field.molecule errorMessage="Error message" }}
        {{> ../../../atoms/form-atoms/templates/text-input.atom label="Confirm Password" 
            id="confirmPassword" type="password" placeholder="Enter password again" classNames="js-validation-confirm-password"}}
      {{/ ../../../molecules/form-molecules/templates/text-field.molecule}}

      {{> ../../../molecules/button/templates/button.atom
            style="primary" type="submit" label="Submit" classNames="js-btn-submit"}}

    </form>
  </div>
  {{/ ../../../pages/basepage/markup/basepage.page}}