{{#> templates/base/markup/partials/_base-demo-container title='Accordion Pattern'}}
  {{{feLibs 'library' 'patterns' 'accordion' 'accordion-css' 'css'}}}
  <div class="accordion-css__base col no-gutter">
    <div class="accordion-css__item">
      <input class="accordion-css__inputToggle" type="checkbox" id="chck1" />
      <label class="accordion-css__itemLabel" for="chck1">Item 1</label>
      <div class="accordion-css__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
      </div>
    </div>
    <div class="accordion-css__item">
      <input class="accordion-css__inputToggle" type="checkbox" id="chck2" />
      <label class="accordion-css__itemLabel" for="chck2">Item 2</label>
      <div class="accordion-css__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</div>
    </div>
    <div class="accordion-css__item">
      <input class="accordion-css__inputToggle" type="checkbox" id="chck3" />
      <label class="accordion-css__itemLabel" for="chck3">Item 2</label>
      <div class="accordion-css__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</div>
    </div>
    <div class="accordion-css__item">
      <input class="accordion-css__inputToggle" type="checkbox" id="chck4" />
      <label class="accordion-css__itemLabel" for="chck4">Item 2</label>
      <div class="accordion-css__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!</div>
    </div>
  </div>

{{/ templates/base/markup/partials/_base-demo-container}}