<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<div class="media-object__base media-object--inverse js-media-object">
    <h3 class="media-object__title">Media Object Inverse</h3>
</div>