{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true }}


  {{{feLibs 'library' 'components' 'image' 'image' 'css'}}}
  {{{feLibs 'library' 'components' 'typography' 'paragraph' 'all'}}}
  {{{feLibs 'library' 'patterns' 'card-list' 'card-list-fancy-hover' 'css'}}}

  <ul class="card-list-fancy-hover__list row">

    <li class="card-list-fancy-hover__listItem col">
      {{> components/image/markup/partials/_image-v2 imgName="explore-the-world" altText="explore-the-world"}}
      <p class="paragraph">CSS Fancy</p>
    </li>

    <li class="card-list-fancy-hover__listItem col">
      {{> components/image/markup/partials/_image-v2 imgName="wild-forest" altText="wild-forest"}}
      <p class="paragraph">:hover</p>
    </li>

    <li class="card-list-fancy-hover__listItem col">
      {{> components/image/markup/partials/_image-v2 imgName="sunny-beach" altText="sunny-beach"}}
      <p class="paragraph">effect</p>
    </li>

  </ul>

  {{/ templates/base/markup/partials/_base-demo-container}}