{{#> templates/base/markup/partials/_base-demo-container hasJS=true}}

  {{{feLibs 'library' 'components' 'image' 'image' 'css'}}}
  {{{feLibs 'library' 'components' 'typography' 'heading' 'all'}}}
  {{{feLibs 'library' 'patterns' 'card-list' 'expanding-cards' 'all'}}}

    <div class="expanding-cards__base row" data-js-pat="ExpandingCards">
      <div class="expanding-cards__panel js-expanding-cards-panel active">
        {{> components/image/markup/partials/_image-v2 imgName="explore-the-world" altText="explore-the-world"}}
        <h3 class="heading__base heading__base--heading-400">Explore The World</h3>
      </div>
      <div class="expanding-cards__panel js-expanding-cards-panel">
        {{> components/image/markup/partials/_image-v2 imgName="wild-forest" altText="wild-forest"}}
        <h3 class="heading__base heading__base--heading-400">Wild Forest</h3>
      </div>
      <div class="expanding-cards__panel js-expanding-cards-panel">
        {{> components/image/markup/partials/_image-v2 imgName="sunny-beach" altText="sunny-beach"}}
        <h3 class="heading__base heading__base--heading-400">Sunny Beach</h3>
      </div>
      <div class="expanding-cards__panel js-expanding-cards-panel">
        {{> components/image/markup/partials/_image-v2 imgName="city-on-winter" altText="city-on-winter"}}
        <h3 class="heading__base heading__base--heading-400">City on Winter</h3>
      </div>
      <div class="expanding-cards__panel js-expanding-cards-panel">
        {{> components/image/markup/partials/_image-v2 imgName="mountains-clouds" altText="mountains-clouds"}}
        <h3 class="heading__base heading__base--heading-400">Mountains - Clouds</h3>
      </div>
    </div>

  {{/ templates/base/markup/partials/_base-demo-container}}