<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/commons/base/generics/generics.css">
    <link rel="stylesheet" href="/commons/base/elements/elements.css">
    <link rel="stylesheet" href="/commons/themes/base/base-auto.css">
    <link rel="stylesheet" href="/system/templates/base/base.css">
    
    <script async defer src="/system/templates/base/base.js"></script>
  </head>

  {{> @partial-block}}

</html>