<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/commons/base/reset/reset.css">

    <!-- to be used as starter for new partials or templates  -->
  </head>

  {{> @partial-block}}

</html>