@use '~ScssAbstracts' as *;
@import './partials/drawGrid.scss';

%debug {
    outline: 1px solid #f0f !important;
    outline-style: solid !important;
}

%debug2 {
    outline: 1px solid #008000 !important;
    outline-style: solid !important;
}

%debug3 {
    outline: 1px solid #0ff !important;
    outline-style: solid !important;
}

.debug4 {
    outline: 1px solid #ff6347 !important;
    outline-style: solid !important;
}

.debug5 {
    outline: 1px solid #0f0 !important;
    outline-style: solid !important;
}

.debug6 {
    outline: 1px solid #00f !important;
    outline-style: solid !important;
}

// Add a class .withDebugs to highlight the inner elements
.withDebugs {
    @extend %debug;

    div {
        @extend %debug2;
    }

    > * {
        @extend %debug3;
    }
}
