{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Expanding Navigation Bar' 
      attributionFromHref='https://www.udemy.com/course/javascript-web-projects-to-build-your-portfolio-resume/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'modules' 'navigation' 'expanding-navigation-bar' 'all'}}}

  <nav class="active" id="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Works</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <button class="icon" id="toggle">
      <div class="line line1"></div>
      <div class="line line2"></div>
    </button>
  </nav>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}