body {
	color: var(--text-color);
	background-color: var(--background-color-generic);
	position: relative;
	overflow: hidden;
}

.loading-spinner {
	backdrop-filter: blur(10px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: get-color($c-light, ivory);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	transition-delay: 0.1s;

	&.isVisible {
		opacity: 1;
		z-index: 9999;
	}
}

.spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid var(--text-color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	transition-delay: 0.1s;

	.isVisible & {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
