/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Define some minimal heading styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    @include relative();

    width: 100%;
    text-align: left;
    margin: 0;

    span {
        > * + * {
            margin-block-start: var(--responsive-spacing-0);
        }
    }
}

h1 {
    @include font($heading-100);
}

h2 {
    @include font($heading-200);

    // &.hasSeparator {
    //     padding-bottom: var(--responsive-spacing-4);
    //     margin-left: -$grid-gutter;

    //     &:after {
    //         @include absolute();

    //         background: var(--brand-color);
    //         content: "";
    //         display: inline-block;
    //         height: 4px;
    //         left: 0;
    //         max-width: convert-rem(400px);
    //         width: 75%;
    //         bottom: 0;
    //     }
    // }
}

h3 {
    @include font($heading-300);

}

h4 {
    @include font($heading-400);
}

h5 {
    @include font($heading-500);
}

h6 {
    @include font($heading-600);
}
