/* ------------------------------------ *\
 * LINKS
 *
 * Define some minimal links styles
\* ------------------------------------ */

a {
    @include font($link);
    @include on-event() {
        color: var(--text-link-color-hover);
        text-decoration: none;
        box-shadow: 0 1px 0 0 var(--text-link-color-hover);
        transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    color: var(--text-link-color);
}
