{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}
<link rel="stylesheet" href="../button/style.css">
<link rel="stylesheet" href="../pill/style.css">

  <div class="progress-steps__base row" data-js-pat="ProgressSteps">
    <div class="progress-steps__container">
      <div class="progress-steps__progress-wrapper">
        <div class="progress-steps__progress-bar js-progress-bar"></div>
          {{> ../../../atoms/pill/markup/pill.atom form="round" classNames="js-pill active" step="1"}}
          {{> ../../../atoms/pill/markup/pill.atom form="round" classNames="js-pill" step="2"}}
          {{> ../../../atoms/pill/markup/pill.atom form="round" classNames="js-pill" step="3"}}
          {{> ../../../atoms/pill/markup/pill.atom form="round" classNames="js-pill" step="4"}}
      </div>
      <div class="progress-steps__buttons-container">
        {{> ../../../atoms/button/markup/button.atom
            type="primary" label="Prev" disabled="disabled" classNames="js-btn-prev"}}
        {{> ../../../atoms/button/markup/button.atom
            type="primary" label="Next" classNames="js-btn-next"}}
      </div>
    </div>
  </div>

  {{/ ../../../pages/basepage/markup/basepage.page}}