@use "sass:color";
@use "sass:map";

@import "~ScssAbstracts";

/* ------------------------------------ *\
 * BUTTON
\* ------------------------------------ */

$block: "button";

$color-patterns: (
    "primary": (
        "background-color": get-color($c-blue, carolina-blue),
        "text-color": get-color($c-light, light),
    ),
    "secondary": (
        "background-color": get-color($c-light, light),
        "text-color": get-color($c-dark, jet),
    ),
    "success": (
        "background-color": get-color($c-traffic-lights, success),
        "text-color": get-color($c-light, light),
    ),
    "danger": (
        "background-color": get-color($c-traffic-lights, danger),
        "text-color": get-color($c-light, light),
    ),
    "warning": (
        "background-color": get-color($c-traffic-lights, warning),
        "text-color": get-color($c-dark, jet),
    ),
);

.#{$block} {
    @include element("base") {
        @include font($button);
        cursor: pointer;
        display: inline-block;
        border: none;
        padding: 16px;

        &:disabled {
            cursor: not-allowed;

            background-color: get-color($c-light, gainsboro-white);
        }

        @each $name, $color in $color-patterns {
            @include m($name) {
                background-color: #{map.get($color, "background-color")};
                color: #{map.get($color, "text-color")};
            }
        }

        @include m("isAnimated") {
            @include transition($transition-property: transform, $transition-time: 0.3s);

            &:hover:not(:disabled) {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        @include m("success") {
            &:active {
                box-shadow: 0 0 0 convert-rem(3px) rgba(get-color($c-green, green-cyan), 0.5);
            }
        }

        @include m("secondary") {
            box-shadow: get-color($c-dark, dark-15) 0 0 0 convert-rem(1px) inset;
        }

        @include m("rounded") {
            border-radius: 6px;
        }
    }
}
