@import "../../../_commons/scss/_01_abstracts/abstracts.scss";

/* ------------------------------------ *\
 * #PARAGRAPH
\* ------------------------------------ */

$block-p: "paragraph";

.#{$block-p} {
    @include e("base") {
        @include font($body);

        color: var(--text-color);
        margin-top: $baseline;

        &.blurry-loader__loading-text {
            color: get-color($c-light, light);
        }
    }
}


/* ------------------------------------ *\
 * #HEADING
\* ------------------------------------ */


$block-h: "heading";

.#{$block-h} {
    @include e("base") {
        @include m("heading-100") {
            @include font($heading-100);
        }

        @include m("heading-200") {
            @include font($heading-200);
        }

        @include m("heading-300") {
            @include font($heading-300);
        }

        @include m("heading-400") {
            @include font($heading-400);
        }

        @include m("is-center-aligned") {
            @extend %center-text;
        }

        @include m("is-right-aligned") {
            @extend %right-text;
        }
    }

    @include e("main", "subheading") {
        @extend %display-block;
    }

    @include e("subheading") {
        .heading__base--heading-100 &,
        .heading__base--heading-200 &,
        .heading__base--heading-300 & {
            font-size: calc(var(--heading-font-size) * 0.7);
            line-height: calc(var(--heading-line-height) * 0.75);
        }

        .heading__base--page-title & {
            font-size: calc(var(--page-title-font-size) * 0.7);
            line-height: calc(var(--page-title-line-height) * 0.75);
        }
    }
}

/* ------------------------------------ *\
 * #TIME-TEXT
\* ------------------------------------ */

$block-time: "time-text";

.#{$block-time} {
    @include e("base") {
        @include font($body);
        color: get-color($c-gray, battleship-grey);
    }
}