@use './abstracts/index.scss' as abstracts;


// /* ------------------------------------ *\
//   #THEMES
// \* ------------------------------------ */

:root {
    --text-color: #{abstracts.get-color(abstracts.$c-dark, eerie-black)};
    --text-selection-color: #{abstracts.get-color(abstracts.$c-light, cultured)};
    --text-selection-background-color: #{abstracts.get-color(abstracts.$c-dark, eerie-black)};

    --text-link-color: #{abstracts.get-color(abstracts.$c-gray, davys-grey)};
    --text-link-color-hover: #{abstracts.get-color(abstracts.$c-blue, dark-liver)};

    --brand-color: #{abstracts.get-color(abstracts.$c-red, ua-red)};

    --background-color-generic: #{abstracts.get-color(abstracts.$c-light, light)};

    --text-font-family-regular: #{abstracts.$font-family-openSans};
    --text-font-family-code: #{abstracts.$font-family-courierPrime};

  }

/* ------------------------------------ *\
  #BASE-AUTO-THEME
\* ------------------------------------ */

@mixin modular-harmonic-spacing-generator(
    $base: 16px,
    $ratio: 1.5,
    $minStep: -5,
    $maxStep: 5,
    $propertyName: 'static-'
) {
    $current: $base;
    @for $i from $minStep through $maxStep {
        @if $i == 0 {
            --#{$propertyName}#{$i}: #{abstracts.convert-rem($current)};
        }
        @if $i < 0 {
            --#{$propertyName}#{$i}: calc(var(--#{$propertyName}#{$i + 1}) / #{$ratio});
        }

        @if $i > 0 {
            --#{$propertyName}#{$i}: calc(var(--#{$propertyName}#{$i - 1}) * #{$ratio});
        }
    }
}

:root {
    --baseline: #{abstracts.$baseline};
    --gutter: #{abstracts.$gutter};
    --measure: 60ch;
    --font-size-xs: #{abstracts.convert-rem(14px)};
    --font-size-base: #{abstracts.convert-rem(18px)};
    --font-size-lg: #{abstracts.convert-rem(24px)};
    --font-size-xl: #{abstracts.convert-rem(32px)};
    --font-size-2xl: #{abstracts.convert-rem(36px)};

    @include modular-harmonic-spacing-generator($propertyName: 'ss');
    @include modular-harmonic-spacing-generator($propertyName: 'rs');

    @include abstracts.breakpoint(abstracts.$mobile) {
        @include modular-harmonic-spacing-generator($propertyName: 'rs', $ratio: 1.65);
    }

    @include abstracts.breakpoint(abstracts.$tablet) {
        @include modular-harmonic-spacing-generator($propertyName: 'rs', $ratio: 1.75);
    }
}

h1 {
    font-size: var(--font-size-2xl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-base);
}

h5 {
    font-size: var(--font-size-xs);
}
