// ATOMS

// MOLECULES

// ORGANISMS
@import "../../components/organisms/blank/blank.organism.scss";

// TYPES (Normal Emphasized Informative Warning Alert Error Success)
@import "../../components/organisms/blank/blank.types.scss";

// STATES (states of interactive elements)
// :default, ::placeholder, :placeholder-shown, :blank, :indeterminate, :checked, :optional,
// :required, :disabled, :enabled, :read-write, :read-only, :valid, :invalid, :in-range, :out-of-range
@import "../../components/organisms/blank/blank.states.scss";

// STATUSES
// ::selection, :hover, -webkit-tap-highlight-color, :focus, :focus-within, :active, :link, :visited
@import "../../components/organisms/blank/blank.statuses.scss";

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: #{$fontFam-mulish};
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: .5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
