{{#> templates/base/markup/partials/_base-demo-container title='Paragraph - Typography Component'}}
  {{{feLibs 'library' 'components' 'typography' 'paragraph' 'css' }}}
  <p class='paragraph__base'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus nesciunt quia ut
    delectus aliquam tenetur repudiandae, doloremque itaque inventore magni autem voluptate hic dignissimos perspiciatis
    placeat. Dolore distinctio aliquid voluptatibus.</p>
  {{/ templates/base/markup/partials/_base-demo-container}}