{{#> templates/base/markup/partials/_base title='Base Page Template'}}

  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  <body>
    <h1>Base Page Template</h1>
  </body>

{{/ templates/base/markup/partials/_base}}