{{#> ../../../../system/templates/base/markup/partials/_base-demo-container title='Search Hidden'}}

<link rel="stylesheet" href="/library/components/form-components/search-hidden.css">
<div class="search-hidden__base row" data-js-pat="SearchHidden">
  <div class="search-hidden__container js-search">
    <label class="search-hidden__label" for="search"></label>
    <input type="text" class="search-hidden__input js-search-input" placeholder="Search..." id="search" />
    <button class="search-hidden__btn js-search-btn">
      <img class="search-hidden__magnifying-icon" src="https://assets.localhost/svgs/fa-magnifying-glass.svg"/>
    </button>
  </div>
</div>

<script src="/library/components/form-components/search-hidden.js" async defer></script>

{{/ ../../../../system/templates/base/markup/partials/_base-demo-container}}