@import "../../../_01_abstracts/abstracts.scss";

/* ------------------------------------ *\
  * MATH GAME WIDGET
\* ------------------------------------ */

$block: "widget-math-game";

.#{$block} {

  @include e("container") {
    background-color: #9dd2ea;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 #009de4;
    position: relative;
  }
  @include e("score") {
    background-color: #f1ff92;
    color: #888e5f;
    padding: 11px;
    position: absolute;
    left: 500px;
    box-shadow: 0 4px 0 #9da853;
  }

  @include e("correct") {
    position: absolute;
    left: 260px;
    background-color: #42e252;
    color: #fff;
    padding: 11px;
    display: none;
  }

  @include e("wrong") {
    position: absolute;
    left: 250px;
    background-color: #de401a;
    color: #fff;
    padding: 11px;
    display: none;
  }

  @include e("question") {
    width: 450px;
    height: 150px;
    margin: 50px auto 10px;
    background-color: #9da0ea;
    box-shadow: 0 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: #000;
  }

  @include e("instruction") {
    width: 450px;
    height: 50px;
    background-color: #b481d9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0 4px #8153a8;
  }

  @include e("choices") {
    width: 450px;
    height: 100px;
    margin: 5px auto;
  }

  @include e("box", "start-reset") {
    &:active {
      background-color: #9c89f6;
      color: #fff;
      box-shadow: 0 0 #6b54d3;
      top: 4px;
    }
  }

  @include e("box") {
    width: 85px;
    height: 85px;
    background-color: #fff;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;

    &:last-child {
      margin-right: 0;
    }
  }

  @include e("start-reset") {
    width: 78px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
  }

  @include e("time-remaining") {
    width: 152px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 400px;
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 3px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    display: none;
  }

  @include e("game-over") {
    height: 200px;
    width: 500px;
    background: linear-gradient(#f3ca6b, #f3706c);
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
  }
}
