{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true title='Coin Game'}}
{{{feLibs 'library' 'modules' 'mini-games' 'coin-game' 'all'}}}
  <div class="coin-game__base" data-js-widget="CoinGame">
    <img id="player" src="https://media.tenor.com/images/0791eb3858075aca85eed5ecfe08c778/tenor.gif" alt="player" />
    <img id="coin" src="https://gifimage.net/wp-content/uploads/2017/11/gold-coin-gif-8.gif" alt="coin" />
  </div>
{{/ templates/base/markup/partials/_base-demo-container}}