.holy-grail {
    display: grid;
    grid-template: auto auto auto auto auto;

    @media (min-width: 768px) {
        grid-template: auto 1fr auto / auto 1fr auto;
    }

    &__header {
        padding: 2rem;
        grid-column: 1 / 4;
    }

    &__left-side {
        grid-column: 1 / 2;
    }

    &__main {
        grid-column: 2 / 3;
    }

    &__right-side {
        grid-column: 3 / 4;
    }

    &__footer {
        grid-column: 1 / 4;
    }
}
