{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Random Choice Picker' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'modules' 'mini-games' 'random-choice-picker' 'all'}}}

  <div class="container">
    <h3>Enter all of the choices divided by a comma (','). <br> Press enter when you're done</h3>
    <textarea placeholder="Enter choices here..." id="textarea"></textarea>

    <div id="tags"></div>
  </div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}