{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
    backgroundImage="falling-numbers-original.webp"
     title='Speak Number Guessing' attributionFromHref='https://www.udemy.com/course/web-projects-with-vanilla-javascript/' attributionFromLabel='20 Web Projects With Vanilla JavaScript'}}
  {{{feLibs 'library' 'modules' 'mini-games' 'speak-number-guessing' 'all'}}}
    <img src="{{assetsUrl 'icons' 'mic.png'}}" alt="Speak" />
    <h1>Guess a Number Between 1 - 100</h1>
    <h3>Speak the number into your microphone</h3>
    <div id="msg" class="msg"></div>
  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}