$type: "a";
$block: "#{$type}-input-field";

.#{$block} {
  &__base {
    &.t-success {
      border-color: var(--color-success);
    }

    &.t-error {
      border-color: var(--color-danger);
    }
  }
}
