@import "../../../_commons/scss/_01_abstracts/abstracts.scss";
@import "../../../_commons/scss/_02_themes/base.theme.scss";
@import "../../../_commons/scss/_03_base/base.scss";

/* ------------------------------------ *\
 * #IMAGE
\* ------------------------------------ */

$block: "image";

.#{$block} {
    @include e("base") {
        width: 100%;
        object-fit: cover;
    }

    @include e("icon") {
        height: 64px;
        width: 64px;
    }
}
