{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true}}

  {{{feLibs 'library' 'modules' 'counter' 'counter' 'all'}}}

  <div class='col-smartphone-4 col-tablet-8 offset-tablet-2'>
    <section class="counter__base" data-js-component="Counter" id="counter">
      <h2 class="counter__title-heading">Counter</h2>
      <div class="counter__container" id="body">
        <output class="counter__output">0</output>
        <button class="counter__button" type="button">Bump Count!</button>
      </div>
    </section>
  </div>

{{/ templates/base/markup/partials/_base-demo-container}}