@import '~ScssAbstracts';

/* ------------------------------------ *\
 * POPUP
\* ------------------------------------ */

$block: 'popup';

.#{$block} {
    &__wrapper {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
    }
    &__modal {
        text-align: center;
        width: 100%;
        max-width: 300px;
        margin: 10% auto;
        padding: 20px;
        background: #fff;
        position: relative;
    }

    &__close {
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
    }
}
