/* ------------------------------------ *\
  * NAVIGATION-TABS-CSS
\* ------------------------------------ */

@import "../../../_01_abstracts/abstracts.scss";

@import "../../_01_components/typography/paragraph/paragraph.scss";
@import "../../_01_components/typography/heading/heading.scss";
@import "../../_01_components/image/image.scss";
@import "../../_01_components/typography/link/link.scss";
@import "../../_01_components/typography/list-unordered/list-unordered.scss";

@import "../link-list/link-list.pat.scss";
@import "./navigation-rotating.scss";
