{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true title='Image Component'}}
      {{{feLibs 'library' 'components' 'image' 'image' 'css'}}}

   <div class='col-smartphone-4 col-tablet-8 offset-tablet-2'>
      {{> ./partials/_image-v2 
            imgName="worker" 
            altText="worker image"
            classNames=""}}
   </div>

{{/ templates/base/markup/partials/_base-demo-container}}