@import '~ScssAbstracts';

/* ------------------------------------ *\
 * #PARAGRAPH
\* ------------------------------------ */

$block-p: 'paragraph';

.#{$block-p} {
    @include e('base') {
        @include font($body);

        color: var(--text-color);
        margin-top: $baseline;

        &.blurry-loader__loading-text {
            color: get-color($c-light, light);
        }
    }
}
