{{#> templates/base/markup/partials/_base-demo-container title='Blurry Loader - Pattern'}}


  {{{feLibs 'library' 'components' 'typography' 'paragraph' 'css'}}}
    {{{feLibs 'library' 'components' 'image' 'image' 'css'}}}
 {{{feLibs 'library' 'patterns' 'loader' 'blurry-loader' 'all'}}}

  <div class="blurry-loader__base row" data-js-cmp="BlurryLoader">
    {{> components/image/markup/partials/_image-v2 imgName="worker" 
        altText="worker" 
        classNames="blurry-loader__background-image js-blurry-loader-background"}}
    <p class="paragraph__base blurry-loader__loading-text js-blurry-loader-loading-text">0%</p>
  </div>

{{/ templates/base/markup/partials/_base-demo-container}}