@import "~ScssAbstracts";

/* ------------------------------------ *\
 * BLURRY-LOADER
\* ------------------------------------ */

$block: "blurry-loader";

.#{$block} {
    @include e("base") {
        @include relative();
    }

    @include e("background-image") {
        filter: blur(0);
    }

    @include e("loading-text") {
        @include absolute($top: 50%, $left: 50%);

        color: get-color($c-light, light);
    }
}
