@import '~ScssAbstracts';

/* ------------------------------------ *\
 * #IMAGE
\* ------------------------------------ */

$block: 'responsive-image';

.#{$block} {
    &__base {
        object-fit: cover;
        width: 100%;
    }
}
