.dropzone-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px #000;
    background: #fff;
}

.fill {
    background-image: url('https://imageipsum.com/160x160');
    background-size: cover;
    background-position: center;
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: #fff;
    border-style: dashed;
}

@media (max-width: 800px) {
    .dropzone-row {
        flex-direction: column;
    }
}
