{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Movie App' 
      attributionFromHref='https://www.udemy.com/course/javascript-web-projects-to-build-your-portfolio-resume/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'modules' 'gallery' 'movie-app' 'all'}}}

      <header>
      <form id="form">
        <input type="text" id="search" class="search" placeholder="Search">
      </form>
    </header>

    <main id="main"></main>


{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}