

{{#> templates/base/markup/partials/_base-demo-container}}

  {{{feLibs 'library' 'components' 'typography' 'paragraph' 'css'}}}
  {{{feLibs 'library' 'components' 'typography' 'heading' 'css'}}}
  {{{feLibs 'library' 'patterns' 'tabs' 'navigation-tabs-css' 'all'}}}


<div class="navigation-tabs-css__base">
  <input class="navigation-tabs-css__radio navigation-tabs-css__radio--one" id="one" name="group" type="radio" checked />
  <input class="navigation-tabs-css__radio navigation-tabs-css__radio--two" id="two" name="group" type="radio" />
  <input class="navigation-tabs-css__radio navigation-tabs-css__radio--three" id="three" name="group" type="radio" />
  <ul class="navigation-tabs-css__tabs-list">
    <li><label class="navigation-tabs-css__tab navigation-tabs-css__tab--one" id="one-tab" for="one">CSS</label></li>
    <li><label class="navigation-tabs-css__tab navigation-tabs-css__tab--two" id="two-tab" for="two">Skills</label></li>
    <li><label class="navigation-tabs-css__tab navigation-tabs-css__tab--three" id="three-tab" for="three">Prerequisites</label></li>
  </ul>
  <div class="navigation-tabs-css__panels-list">
    <div class="navigation-tabs-css__panel navigation-tabs-css__panel--one" >
      <h3 class="heading__base heading__base--heading-300">Why Learn CSS?</h3>
      <p class="paragraph__base">
        Without CSS, every web page would be drab plain text and images that flowed straight down the page. With
        CSS, you can add color and background images and change the layout of your page — your web pages can feel
        like works of art!
      </p>
    </div>
    <div class="navigation-tabs-css__panel navigation-tabs-css__panel--two">
      <h3 class="heading__base heading__base--heading-300">Take-Away Skills</h3>
      <p class="paragraph__base">
        You will learn many aspects of styling web pages! You’ll be able to set up the correct file structure,
        edit text and colors, and create attractive layouts. With these skills, you’ll be able to customize the
        appearance of your web pages to suit your every need!
      </p>
    </div>
    <div class="navigation-tabs-css__panel navigation-tabs-css__panel--three">
      <h3 class="heading__base heading__base--heading-300">Note on Prerequisites</h3>
      <p class="paragraph__base">We recommend that you complete Learn HTML before learning CSS.</p>
    </div>
  </div>
</div>

{{/ templates/base/markup/partials/_base-demo-container}}