@use '~ScssAbstracts' as *;

$block: 'input';

.#{$block} {
    @include e('input') {
        padding: 16px;
        border-radius: 3px;
        margin-bottom: 16px;
        width: 100%;

        border: 1px solid get-color($c-gray, sonic-silver);

        &:focus {
            border-color: get-color($c-blue, rhythm);
            outline: 0;
            box-shadow: 0 convert-rem(2px) convert-rem(10px) get-color($c-dark, dark-30);
        }

        &.success {
            border-color: get-color($c-traffic-lights, success);
        }

        &.error {
            border-color: get-color($c-traffic-lights, danger);
        }
    }

    @include e('label') {
        @include font($label);
        margin-bottom: 8px;
        display: inline-block;
    }
}
