/* ------------------------------------ *\
  #FONT-DEFINITIONS
\* ------------------------------------ */

$body: (
  default: (
    font-size: convert-rem(17px),
    line-height: convert-rem(23px),
    font-weight: font-weight(regular),
    letter-spacing: convert-rem(0.5px),
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: convert-rem(27px),
  )
);

$code: (
  default: (
    font-size: convert-rem(15px),
    line-height: convert-rem(20px),
    font-weight: font-weight(thin),
    letter-spacing: convert-rem(0.5px),
  ),
  $desktop: (
    font-size: convert-rem(17px),
    line-height: convert-rem(24px),
  )
);

$button: (
  default: (
    font-size: convert-rem(17px),
    line-height: convert-rem(18px),
    font-weight: font-weight(regular),
    letter-spacing: convert-rem(1.25px),
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: convert-rem(19px),
  )
);

$page-title: (
  default: (
    font-size: convert-rem(40px),
    line-height: convert-rem(48px),
    font-weight: font-weight(thin),
    letter-spacing: convert-rem(-1.5px),
  ),
  $desktop: (
    font-size: convert-rem(72px),
    line-height: convert-rem(72px),
  )
);

$subheading: (
  default: (
    font-size: convert-rem(20px),
    line-height: convert-rem(29px),
    font-weight: font-weight(thin),
    letter-spacing: convert-rem(0.15px),
  ),
  $desktop: (
    font-size: convert-rem(24px),
    line-height: convert-rem(33px),
  ),
);

$heading-100: (
  default: (
    font-size: convert-rem(48px),
    line-height: convert-rem(58px),
    font-weight: font-weight(heavy),
    letter-spacing: convert-rem(-1.5px),
  ),
  $desktop: (
    font-size: convert-rem(72px),
    line-height: convert-rem(72px),
  )
);

$heading-200: (
  default: (
    font-size: convert-rem(39px),
    line-height: convert-rem(42px),
    font-weight: font-weight(heavy),
    letter-spacing: convert-rem(-0.5px),
  ),
  $desktop: (
    font-size: convert-rem(46px),
    line-height: convert-rem(50px),
  )
);

$heading-300: (
  default: (
    font-size: convert-rem(33px),
    line-height: convert-rem(38px),
    font-weight: font-weight(heavy),
    letter-spacing: 0,
  ),
  $desktop: (
    font-size: convert-rem(38px),
    line-height: convert-rem(41px),
    letter-spacing: convert-rem(0.75px),
  )
);

$heading-400: (
  default: (
    font-size: convert-rem(24px),
    line-height: convert-rem(27px),
    font-weight: font-weight(heavy),
  ),
  $desktop: (
    font-size: convert-rem(30px),
    line-height: convert-rem(33px),
    letter-spacing: convert-rem(0.5px),
  )
);

$heading-500: (
  default: (
    font-size: convert-rem(24px),
    line-height: convert-rem(27px),
    font-weight: font-weight(heavy),
  ),
  $desktop: (
    font-size: convert-rem(30px),
    line-height: convert-rem(33px),
    letter-spacing: convert-rem(0.5px),
  )
);

$heading-600: (
  default: (
    font-size: convert-rem(20px),
    line-height: convert-rem(26px),
    font-weight: font-weight(heavy),
  ),
  $desktop: (
    font-size: convert-rem(24px),
    line-height: convert-rem(27px),
    letter-spacing: convert-rem(0.5px),
  )
);

$body-bold: (
  default: (
    font-size: convert-rem(17px),
    line-height: convert-rem(23px),
    font-weight: 700,
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: convert-rem(27px),
  )
);

$body-small: (
  default: (
    font-size: convert-rem(14px),
    font-weight: 400,
    line-height: convert-rem(22px),
    letter-spacing: 0.005em,
  ),
  $desktop: (
    font-size: convert-rem(16px),
    line-height: convert-rem(22px),
    letter-spacing: 0.008em,
  )
);

$body-large: (
  default: (
    font-size: convert-rem(19px),
    font-weight: 400,
    line-height: convert-rem(27px),
    letter-spacing: 0.005em,
  ),
  $desktop: (
    font-size: convert-rem(23px),
    line-height: convert-rem(30px),
    letter-spacing: 0.008em,
  )
);

$button-large: (
  default: (
    font-size: convert-rem(20px),
    line-height: convert-rem(21px),
    font-weight: var(--font-weight--button),
    letter-spacing: convert-rem(1.25px),
  ),
  $desktop: (
    font-size: convert-rem(22px),
    line-height: convert-rem(23px),
  )
);

$button-small: (
  default: (
    font-size: convert-rem(9px),
    line-height: convert-rem(10px),
    font-weight: var(--font-weight--button),
    letter-spacing: convert-rem(1.25px),
  ),
  $desktop: (
    font-size: convert-rem(10px),
    line-height: convert-rem(12px),
  )
);

$link: (
  default: (
    font-size: convert-rem(16px),
    line-height: convert-rem(18px),
    font-weight: normal,
    letter-spacing: convert-rem(0.5px),
    text-decoration: none,
  ),
  $desktop: (
    font-size: convert-rem(17px),
    line-height: 22px,
  )
);

$link-small: (
  default: (
    font-size: convert-rem(14px),
    font-weight: 400,
    line-height: convert-rem(22px),
    letter-spacing: 0.005em,
  ),
  $desktop: (
    font-size: convert-rem(16px),
    line-height: convert-rem(22px),
    letter-spacing: 0.008em,
  )
);

$label: (
  default: (
    font-size: convert-rem(15px),
    line-height: convert-rem(20px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
  $desktop: (
    font-size: convert-rem(17px),
    line-height: convert-rem(22px),
  ),
);

$label-bold: (
  default: (
    font-size: convert-rem(15px),
    font-weight: 700,
    line-height: convert-rem(20px),
  ),
  $desktop: (
    font-size: convert-rem(17px),
    line-height: convert-rem(22px),
  ),
);

$input: (
  default: (
    font-size: convert-rem(16px),
    line-height: convert-rem(18px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
);

$input-message: (
  default: (
    font-size: convert-rem(14px),
    line-height: convert-rem(16px),
    font-weight: 300,
    letter-spacing: convert-rem(0.5px),
  ),
);

$select: (
  default: (
    font-size: convert-rem(14px),
    line-height: convert-rem(16px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
);

$blockquote: (
  default: (
    font-size: convert-rem(27px),
    font-weight: 400,
    line-height: convert-rem(40px)
  ),
  $desktop: (
    font-size: convert-rem(38px),
    line-height: convert-rem(58px),
    letter-spacing: 0.01em,
  )
);

$overline: (
  default: (
    font-size: convert-rem(8px),
    line-height: convert-rem(10px),
    font-weight: 700,
    letter-spacing: convert-rem(1.5px),
    text-transform: uppercase
  ),
  $desktop: (
    font-size: convert-rem(10px),
    line-height: convert-rem(14px),
    letter-spacing: 0.01em,
  )
);
