$type: "o";
$block: "#{$type}-booking";

.#{$block} {
  @include e("seat") {
    &:not(.#{$block}__seat--occupied):hover {
      cursor: pointer;
      transform: scale(1.2);

      .#{$block}__showcase-list & {
        cursor: default;
        transform: scale(1);
      }
    }
  }
}