$type: "o";
$block: "#{$type}-booking";

.#{$block} {
  @include e("base") {
    @include flex($direction: column);

    min-width: convert-rem(400px);
    max-width: ($max-width / 2);
    border-radius: convert-rem(5px);
    box-shadow: var( --shadow-container);
    padding: ($baseline * 2) 0;
    background-color: var(--color-container-background);
  }

  @include e("movie-picker") {
    margin: 0 0 convert-rem(20px) 0;
  }

  @include e("select") {
    @include font($select);

    padding: convert-rem(5px) convert-rem(15px);
    margin-left: convert-rem(10px);
    background-color: var(--color-select-background);
    border: convert-rem(2px);
    border-radius: convert-rem(5px);
    appearance: none;
  }

  @include e("container") {
    margin-bottom: convert-rem(30px);
    perspective: convert-rem(1000px);
  }

  @include e("seat") {
    width: convert-rem(15px);
    height: convert-rem(12px);
    margin: convert-rem(3px);
    background-color: var(--color-empty-seat);
    border-top-left-radius: convert-rem(10px);
    border-top-right-radius: convert-rem(10px);

    @include m("selected") {
      background-color: var(--color-seat-selected);
    }

    @include m("occupied") {
      background-color: var(--color-seat-occupied);
    }
  }

  @include e("showcase-list") {
    @include flex($main: space-between);

    padding: $baseline $gutter;
    background: var(--color-showcase-item);
    border-radius: convert-rem(5px);
  }

  @include e("showcase-item") {
    @include flex();
    margin: 0 $gutter;
  }

  @include e("caption") {
    @include font($showcase);

    margin-left: convert-rem(2px);
  }

  @include e("row") {
    @include flex();
  }

  @include e("screen") {
    width: 100%;
    height: convert-rem(70px);
    margin: ($baseline * 2) 0;
    background-color: var(--color-screen);
    box-shadow: var(--screen-shadow);
    transform: rotateX(-45deg);
  }

  @include e("text") {
    margin: convert-rem(5px) 0;
  }

  @include e("count", "total") {
    color: var(--color-counter-text);
  }
}
