{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}
  <link rel="stylesheet" href="../typography/style.css">

  <div class="digital-clock__base js-digital-clock" data-js-pat="DigitalClock">
    <time class="time-text__base js-digital-clock__time" datetime="">-</time>
  </div>
  {{/ ../../../pages/basepage/markup/basepage.page}}