@import "~ScssAbstracts";

/* ------------------------------------ *\
  * FORM WAVE
\* ------------------------------------ */

@import "~ScssAbstracts";

// @import "../../_01_components/typography/link/link.scss";

$block: "form-wave";

.#{$block} {
    @include e("base") {
        @include font($body);
        width: auto;

        &:nth-of-type(2) {
            margin-right: $gutter;
        }

        &:nth-last-of-type(2) {
            margin-left: $gutter;
        }

        &:disabled {
            color: #f00;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        background-color: rgba(139, 139, 139, 0.4);
        padding: 20px 40px;
        border-radius: 5px;
    }

    &__form-control {
        position: relative;
        margin: 20px 0 40px;
        width: 300px;
    }

    &__input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px #fff solid;
        display: block;
        width: 100%;
        padding: 15px 0;
        font-size: 18px;
        color: #fff;

        &:focus,
        &:valid {
            outline: 0;
            border-bottom-color: #000;
        }

        &:focus + label span,
        &:valid + label span,
        &.hasValue + label span {
            color: #000;
            transform: translateY(-30px);
        }
    }

    &__label {
        position: absolute;
        top: 15px;
        left: 0;
        pointer-events: none;

        span {
            display: inline-block;
            font-size: 18px;
            min-width: 5px;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}
