@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "component-list";

/* ------------------------------------ *\
 * COMPONENT LIST
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
      height: 100%;
      overflow-x: scroll ;
    }
}
