{{#> ../../../pages/basepage/markup/basepage}}
  <p class='paragraph__base'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus nesciunt quia ut
    delectus aliquam tenetur repudiandae, doloremque itaque inventore magni autem voluptate hic dignissimos perspiciatis
    placeat. Dolore distinctio aliquid voluptatibus.</p>
  {{/ ../../../pages/basepage/markup/basepage}}