@mixin avatarImage {
    width: 100px;
    border-radius: 50%;
    background-color: $c-bkg-item;
    align-self: center;

    // @media (min-width: $tablet) {
    //     width: 60%;

    // }

    // @media (min-width: $desktop) {
    //     width: 70%;
    // }
}

@mixin inputField {
    height: $baseline * 5;
    font-size: $baseline * 2.5;
    background-color: $c-bkg-item;
    width: 75%;
    align-self: center;
    text-align: center;
    padding: 5px;
}

@mixin bkgImage($name) {
    background-image: var(--#{$name});
    background-position: center;
    background-size: contain;
    background-color: $c-bkg-item;
    background-repeat: no-repeat;
}
