@import "../../../_01_abstracts/abstracts.scss";

/* ------------------------------------ *\
  * STOPWATCH WIDGET
\* ------------------------------------ */

$block: "widget-stopwatch";

.#{$block} {
    &__base {
        background-color: #d3d3d3;
        height: 100vh;
    }

    &__lap,
    &__lap-time {
        @include flex();
        justify-content: space-between;
        width: 100%;
    }

    &__lap {
        text-align: right;
        font-size: 4vw;
        height: 50px;
        border-bottom: 1px solid #fff;
        margin: 15px;
        width: 100%;
        justify-content: center;
    }

    &__time {
        text-align: center;
        font-size: 10vw;
    }

    &__controlsContainer {
        margin-bottom: 100px;
    }

    &__control {
        @include flex();

        color: #fff;
        background-color: #d7a04e;
        border-radius: 100%;
        text-align: center;
        font-size: 2.5vw;
        cursor: pointer;
        width: 100px;
        height: 100px;

        &:active {
            background-color: #fff;
            color: #d7a04e;
        }
    }

    &__laps {
        max-height: 270px;
        overflow-y: scroll;
        @include flex($direction: column);
    }

    &__laptimetitle {
        font-size: 1.5em;
        float: left;
    }

    &__laptime {
        font-size: 2em;
        float: right;
    }

    &__control-row {
        @include flex($direction: row);
        gap: 20px;
        margin-bottom: 20px;
    }
}
