$type: "mod";
$block: "#{$type}-article";

.#{$block} {
    @include e("base") {
        margin-bottom: 64px;

        &:not(:last-of-type) {
             @include border($bottom: 1px solid get-color($c-gray, sonic-silver));
        }
    }

    @include e("content") {
        align-items: stretch;
    }
}
