$type: "a";
$block: "#{$type}-input-field";

.#{$block} {
  &__base {
    @include font($input);

    display: block;
    width: 100%;
    padding: ($baseline * 2) $gutter;
    border: 2px solid $c-battleship-grey;
    border-radius: 4px;

    &:focus {
      border-color: $c-rhythm;
      outline: 0;
      box-shadow: $container-shadow;
    }

    &.success {
      border-color: var(--color-success);
    }
    &.error {
      border-color: var(--color-danger);
    }
  }
}
