$type: "a";
$block: "#{$type}-validation-message";

.#{$block} {
  &__base {
    @include absolute($left: 0, $bottom: 0);
    @include font($input-message);

    color: var(--color-danger);
    visibility: hidden;

    .error & {
      visibility: visible;
    }
  }
}
