<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

      <h2><a href="/">Dashboard</a></h2>
      <ul>
        <li>
          <h2>Library</h2>
          <ul>
            <li>
              <a href="./library/boilerplate/blank/index.html">Boilerplate - Blank</a>
            </li>
            <li>
              <a href="./library/hero/splitScreenHero/index.html">Hero - Split Screen Hero</a>
            </li>
            <li>
              <a href="./library/navigation/rotating-navigation/index.html">Navigation - Rotating Navigation</a>
            </li>
            <li>
              <a href="./library/search/hiddenSearch/index.html">Search - Hidden Search</a>
            </li>
            <li>
              <a href="./library/loader/blurryLoader/index.html">Loader - Blurry Loader</a>
            </li>
            <li>
              <a href="./library/cards/expanding-cards/index.html">Cards - Expanding Cards</a>
            </li>
            <li>
              <a href="./library/steps/progress-steps/index.html">Steps - Progress Steps</a>
            </li>
            <li>
              <a href="./library/scrollspy/basic-scroll-animation/index.html">Scrollspy - Basic Scroll Animation</a>
            </li>
            <li>
              <h3>Forms</h3>
              <ul>
                <li>
                  <a href="./library/form/waveForm/index.html">Form - Wave Animation</a>
                </li>
                <li>
                  <a href="./library/form/basicFormValidator/index.html">Form - Basic Form Validator</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./library/web-app/movie-seat-booking-app/index.html">Web-App - Movie Seat Booking App</a>
            </li>
            <li>
              <a href="./library/video/basic-custom-player/index.html">Video - Basic Custom Player</a>
            </li>
          </ul>
        </li>
        <li>
          <h2>Tools</h2>
          <ul>
            <li>
              <a href="./specificity-graph.html">Specificity Graph</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="area"></div>
      <nav class="main-menu">
        <ul>
          <li>
            <a href="http://justinfarrow.com">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                Dashboard
              </span>
            </a>
    
          </li>
          <li class="has-subnav">
            <a href="#">
              <i class="fa fa-laptop fa-2x"></i>
              <span class="nav-text">
                Stars Components
              </span>
            </a>
    
          </li>
          <li class="has-subnav">
            <a href="#">
              <i class="fa fa-list fa-2x"></i>
              <span class="nav-text">
                Forms
              </span>
            </a>
    
          </li>
          <li class="has-subnav">
            <a href="#">
              <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                Pages
              </span>
            </a>
    
          </li>
          <li>
            <a href="#">
              <i class="fa fa-bar-chart-o fa-2x"></i>
              <span class="nav-text">
                Graphs and Statistics
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-font fa-2x"></i>
              <span class="nav-text">
                Quotes
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-table fa-2x"></i>
              <span class="nav-text">
                Tables
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-map-marker fa-2x"></i>
              <span class="nav-text">
                Maps
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-info fa-2x"></i>
              <span class="nav-text">
                Documentation
              </span>
            </a>
          </li>
        </ul>
    
        <ul class="logout">
          <li>
            <a href="#">
              <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                Logout
              </span>
            </a>
          </li>
        </ul>
      </nav>

  </body>
</html>
