@import 'variables';

.button {
    &__base {
        display: block;
        margin: $baseline*2 auto;
        padding: $baseline*2;
        border: 2px solid $c-darkgrey;
        border-radius: $baseline*2;
        background-color: $c-button-white;
        font-size: $baseline*2;
        width: fit-content;
        min-width: 100px;

        @media (min-width: $desktop) {
            font-size: $baseline*3;
        }

        &:focus {
            outline: none;
        }
    }
}