<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="{{assetsUrl 'icons' 'fe-mentor-favicon-32x32.png'}}">

  {{!-- <title>Frontend Mentor | QR code component</title> --}}
  <title>{{title}}</title>
  {{{feLibs 'system' 'templates' 'frontend-mentor' 'frontend-mentor' 'css'}}}
  {{{feLibs 'commons' 'layouts' 'grid' '12-col-flexbox-grid' 'css'}}}


</head>

<body class='grid'>
  {{> @partial-block}}

  <p class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Paul Serban</a>.
  </p>

</body>

</html>