{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Random Image Feed' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'modules' 'gallery' 'random-image-feed' 'all'}}}

    <h1>Random Image Feed</h1>
    <div class="container"></div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}