@use 'sass:color';
@use 'sass:map';

@import '~ScssAbstracts';

/* ------------------------------------ *\
 * BUTTON
\* ------------------------------------ */

$block: 'button';

$color-patterns: (
    'primary': (
        'background-color': get-color($c-blue, carolina-blue),
        'text-color': get-color($c-light, light),
    ),
    'secondary': (
        'background-color': get-color($c-light, light),
        'text-color': get-color($c-dark, jet),
    ),
    'success': (
        'background-color': get-color($c-traffic-lights, success),
        'text-color': get-color($c-light, light),
    ),
    'danger': (
        'background-color': get-color($c-traffic-lights, danger),
        'text-color': get-color($c-light, light),
    ),
    'warning': (
        'background-color': get-color($c-traffic-lights, warning),
        'text-color': get-color($c-dark, jet),
    ),
);

.#{$block} {
    @include font($button);
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 16px;

    &:disabled {
        cursor: not-allowed;

        background-color: get-color($c-light, gainsboro-white);
    }

    @each $name, $color in $color-patterns {
        &--#{$name} {
            background-color: #{map.get($color, 'background-color')};
            color: #{map.get($color, 'text-color')};
        }
    }
}
