{{#> templates/i-code-this/markup/partials/_i-code-this title='Full Page Select'}}

  {{{feLibs 'system' 'products' 'full-page-select' 'full-page-select-2' 'all'}}}


  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css2?family=Montserrat:wght@300..700&display=swap" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>

  <body class="flex justify-center items-center min-h-screen">
    <div class="container">
      <div class="modal" id="addCategoryModal" style="display: none;">
        <div class="modal-content">
          <span class="close" id="closeModal">×</span>
          <h2>Add Category</h2>
          <label for="categoryName">Category Name:</label>
          <input type="text" id="categoryName" placeholder="Enter category name">
          <label for="categoryType">Category Type:</label>
          <select id="categoryType">
            <option value="home">Home</option>
            <option value="fashion">Fashion</option>
            <option value="hobbies">Hobbies</option>
            <option value="job">Job</option>
          </select>
          <label for="categoryImage">Category Image URL:</label>
          <input type="text" id="categoryImage" placeholder="Enter image URL">
          <button class="btn" id="addCategoryBtnModal">Add Category</button>
        </div>
      </div>
      <div class="content">
        <div class="hero">
          <div class="hero-left">
            <h2>select category</h2>
            <p>Select the category where you want to add these records</p>
            <div class="counter">
              <h1 class="count" style="display: block;">2/4</h1>
            </div>
          </div>

          <section class="add-container">
            <button class="btn-plus" id="addCategoryBtn"><svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </button>
          </section>
        </div>
        <div class="body">
          <section class="cards-container">
            <div class="card" data-index="1">
              <div class="img-container">
                <img src="https://source.unsplash.com/200x150/?plants" alt="plants image">
              </div>
              <h3>Plants</h3>
              <button class="btn btn-select">Select</button>
            </div>
            <div class="card" data-index="2">
              <div class="img-container">
                <img src="https://source.unsplash.com/200x150/?desserts" alt="Desserts image">
              </div>
              <h3>Desserts</h3>
              <button class="btn btn-select">Select</button>
            </div>
            <div class="card" data-index="3">
              <div class="img-container">
                <img src="https://source.unsplash.com/200x150/?fashion-accessories" alt="Accessories image">
              </div>
              <h3>Accessories</h3>
              <button class="btn btn-select">Select</button>
            </div>
          </section>
          <section class="footer">
            <div class="btn-container">
              <button class="btn btn-continue btn-ready">Continue</button>
              <button class="btn btn-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l14 0"></path>
                  <path d="M13 18l6 -6"></path>
                  <path d="M13 6l6 6"></path>
                </svg>
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>


    <style>
      @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Exo+2:wght@300;400;700;800&family=Kalnia:wght@300;400;500;600&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;500&family=Roboto:wght@100;300;400;500;700&display=swap');

      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;

      }

      svg,
      i {
        max-width: 100%;
        height: auto;
        display: inline-block;
      }

      body {
        font-size: 16px;
        min-height: 100vh;
        overflow-x: hidden;
        z-index: 1;
        position: relative;
        font-family: 'Exo 2', sans-serif;

      }

      .container {
        min-width: 100vw;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 1rem;

      }

      body::after {
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        right: 0;
        top: 63%;
        background: rgb(255, 132, 151);
        background: linear-gradient(0deg, rgba(255, 132, 151, 1) 0%, rgba(253, 149, 122, 1) 100%);
      }

      .content {
        width: clamp(80%, 90%, 96%);
        max-width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;


      }

      .hero {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        position: relative;
        animation: fall 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

      }




      @keyframes fall {
        from {
          transform: translateY(-20%);
          opacity: 0;
        }

        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .hero-left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        padding-block-end: 1rem;
        height: 100%;
        flex: 1;

      }

      .add-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        width: 80px;
        height: 100%;
        z-index: 2;

      }

      .btn-plus {
        background-color: transparent;
        border-radius: 4px;
        padding-block: .4rem;
        padding-inline: .5rem;
        border: 2px solid transparent;
        transition: .2s all ease-in;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      .btn-plus svg {
        color: #cb4141;
        cursor: pointer;

      }

      .btn-plus:hover {
        box-shadow: none;
        border-color: #cb4141;
      }

      .btn-plus:hover svg {
        transform: scale(1.05);
      }

      .counter {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .counter h1 {
        font-weight: 100;
        font-size: 8rem;
        opacity: .5;
        color: #afb0b1;

      }

      .hero h2 {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #0e0e0e;
      }

      .hero p {
        text-align: left;
        color: #6a6a6b;
        width: 55%;
        font-size: .8rem;
      }

      .body {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: .5rem;

      }

      .cards-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .2rem;
        justify-content: space-between;
      }

      .card {
        width: 220px;
        height: 230px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        ascent-override: hiddden;
        gap: 1rem;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        background-color: #fefefe;
        transition: .2s all ease-in;
        z-index: 2;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        animation: scaleup 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

      @keyframes scaleup {
        from {
          transform: scale(0);
          opacity: 0;
        }

        to {
          transform: scale(1);
          opacity: 1;
        }
      }

      .card:hover {
        box-shadow: rgba(252, 137, 130, .8) 0px 2px 8px 0px;
      }

      .img-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cacaca;


      }

      .card h3 {
        font-size: 1rem;
        font-weight: 800;
        text-transform: capitalize;
      }

      .img-container img {
        width: 85%;
        height: 85%;
        border-radius: 50%;

        object-fit: cover;
        object-position: center;
        transition: .2s all ease-in;
      }

      .card:hover img {
        width: 100%;
        height: 100%;
      }

      .card .btn {
        margin-block-start: 1rem;
        padding-block: .3rem;
        padding-inline: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        text-transform: capitalize;
        font-size: .9rem;
        border-radius: 2px;
        color: #afb0b1;
        transition: .2s all ease-in;
        width: 70%;
      }

      .card .btn:hover {
        box-shadow: none;
        background-color: #7D99FD;
        color: #fefefe;
      }

      .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }



      .btn-container {
        margin-block-start: 1.5rem;
        width: 160px;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        color: #edeaea;

        border-radius: 2px;
        z-index: 2;

      }

      .btn-container .btn {
        transition: .2s all ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        height: 100%;
        transition: .2s all ease-in;
      }

      .btn-continue {
        width: 70%;
        height: 100%;
        padding-block: .5rem;
        padding-inline: .5rem;
        border: 1px solid #cacaca;
        border-radius: 2px 0 0 2px;
      }

      .btn-continue:hover {
        background-color: #cb4141;
        color: #fefefe;
      }

      .btn-container:hover .btn-arrow {
        color: #FFFFFF;
      }

      .btn-arrow {
        height: 100%;
        border: 1px solid #cacaca;
        padding-block: .5rem;
        padding-inline: .5rem;
        width: 30%;
        border-radius: 0 2px 2px 0;
      }

      .btn-ready {
        background-color: #cb4141;
        color: #fefefe;
      }

      .count {
        font-size: 7rem;
        font-weight: 500;
      }

      /* modal*/
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        overflow: hidden;
      }

      .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding-block: 2rem;
        padding-inline: 2rem;
        width: 40%;
      }

      .modal-content h2 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #0e0e0e;
      }

      .close {
        color: #aaa;
        float: right;
        margin-block-end: 1rem;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
      }

      label {
        display: block;
        font-size: 1rem;
        margin-bottom: .4rem;
      }

      input,
      select {
        width: 100%;
        padding: .5rem;
        margin-bottom: .8rem;
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid #FF8594;
        border-radius: 4px;
        transition: .2s all ease-in;
      }

      input:hover,
      select:hover,
      input:focus,
      select:focus {
        outline: none;
        border-color: #cb4141;
      }

      .modal-content .btn {
        background-color: #FF8594;
        color: white;
        padding-block: .5rem;
        padding-inline: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .modal-content .btn:hover {
        background-color: #FD957A;
      }

      @media only screen and (max-width: 736px) {
        .cards-container {
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
        }

        .card {
          width: 80%;
        }


        .hero-left p {
          width: 90%;
        }

        .card .btn {
          padding-block: .6rem;
        }

        .modal-content {

          width: 80%;
        }
      }

      @media only screen and (max-width: 450px) {

        .hero,
        .content {
          padding-inline: .5rem;
        }

        .hero-left {
          padding-block-end: 0;
        }

        .hero {
          margin-block-end: 1rem;
        }

        .card {
          width: 90%;
          height: 260px;
          gap: .5rem;
        }

        .card .btn {
          padding-block: .6rem;
          font-size: 1rem;

        }

        .img-container {
          width: 110px;
          height: 110px;
        }

        .footer {
          padding-inline-end: 1rem;
        }
      }
    </style>
    <script type="module">

      document.addEventListener('DOMContentLoaded', function () {
        const addCategoryBtn = document.getElementById('addCategoryBtn');
        const addCategoryModal = document.getElementById('addCategoryModal');
        const closeModal = document.getElementById('closeModal');
        const addCategoryBtnModal = document.getElementById('addCategoryBtnModal');
        const cardsContainer = document.querySelector('.cards-container');
        const countElement = document.querySelector('.count');
        const countContainer = document.querySelector(".counter h1");
        const btnContinue = document.querySelector(".btn-continue");

        addCategoryBtn.addEventListener('click', function () {
          addCategoryModal.style.display = 'block';
        });

        closeModal.addEventListener('click', function () {
          addCategoryModal.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
          if (event.target === addCategoryModal) {
            addCategoryModal.style.display = 'none';
          }
        });

        addCategoryBtnModal.addEventListener('click', function () {
          const categoryName = document.getElementById('categoryName').value;
          const categoryType = document.getElementById('categoryType').value;
          const categoryImage = document.getElementById('categoryImage').value;

          const newCard = document.createElement('div');
          newCard.classList.add('card');

          newCard.setAttribute('data-index', cardsContainer.children.length + 1);

          const imgContainer = document.createElement('div');
          imgContainer.classList.add('img-container');
          const img = document.createElement('img');
          /*  img.src = categoryImage || 'https://via.placeholder.com/200x150'; */
          const unsplashUrl = 'https://source.unsplash.com/200x150/?random';
          img.src = categoryImage || unsplashUrl;
          img.alt = categoryName;
          imgContainer.appendChild(img);

          const h3 = document.createElement('h3');
          h3.textContent = categoryName || "Category Name";

          const btnSelect = document.createElement('button');
          btnSelect.classList.add('btn', 'btn-select');
          btnSelect.textContent = 'Select';

          newCard.appendChild(imgContainer);
          newCard.appendChild(h3);
          newCard.appendChild(btnSelect);


          cardsContainer.appendChild(newCard);

          const totalCount = cardsContainer.children.length;
          countContainer.style.display = "block";
          btnContinue.classList.add("btn-ready");
          countElement.textContent = `${totalCount}/${totalCount}`;

          console.log('Added Category:', { categoryName, categoryType, categoryImage });


          addCategoryModal.style.display = 'none';
        });
        cardsContainer.addEventListener('click', function (event) {
          const clickedCard = event.target.closest('.card');
          if (clickedCard) {

            const cardData = clickedCard.getAttribute('data-index');
            countElement.textContent = `${cardData}/${cardsContainer.children.length}`;
          }
        });
      });

    </script>
  </body>

  {{/ templates/i-code-this/markup/partials/_i-code-this}}