/* ------------------------------------ *\
 * #EXPANDING CARDS
\* ------------------------------------ */
$block-expanding: "expanding-cards";

.#{$block-expanding} {
    @include e("base") {
        @extend %size-fill-horizontal;

        @include flex();
    }

    @include e("panel") {
        @include flex($direction: column);
        height: 45vh;
        border-radius: 50px;
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        transition: all 700ms ease-in;
        overflow: hidden;

        @include breakpoint-down($mobile) {
            &:nth-of-type(4),
            &:nth-of-type(5) {
                display: none;
            }
        }

        &.active {
            flex: 5;

            .heading__base {
                width: auto;
                opacity: 1;
                transition: all 0.3s ease-in 0.4s;
            }
        }

        .heading__base {
            color: get-color($c-light, cultured);
            opacity: 0;
            width: 0;
            position: absolute;
            bottom: 0;
        }
    }
}