@import "../../../_commons/scss/_01_abstracts/abstracts.scss";

/* ------------------------------------ *\
 * #CARD-LIST
\* ------------------------------------ */

$block-fancy: "card-list-fancy-hover";
.#{$block-fancy} {
    &__list {
        @include flex();
        column-gap: $gutter;
        padding-top: $baseline * 3;
    }

    &__listItem {
        padding: 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
        transition: all 0.3s ease;
        cursor: pointer;
        overflow: hidden;

        .#{$block-fancy}__list:hover & {
            transform: scale(0.9);
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.5);
            }
        }

        &:first-child {
            background: #55efc4;
        }

        &:nth-child(2) {
            background: #81ecec;
        }

        &:nth-child(3) {
            background: #74b9ff;
        }
    }
}

/* ------------------------------------ *\
 * #EXPANDING CARDS
\* ------------------------------------ */
$block-expanding: "expanding-cards";

.#{$block-expanding} {
    @include e("base") {
        @extend %size-fill-horizontal;

        @include flex();
    }

    @include e("panel") {
        @include flex($direction: column);
        height: 45vh;
        border-radius: 50px;
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        transition: all 700ms ease-in;
        overflow: hidden;

        @include breakpoint-down($mobile) {
            &:nth-of-type(4),
            &:nth-of-type(5) {
                display: none;
            }
        }

        &.active {
            flex: 5;

            .heading__base {
                width: auto;
                opacity: 1;
                transition: all 0.3s ease-in 0.4s;
            }
        }

        .heading__base {
            color: get-color($c-light, cultured);
            opacity: 0;
            width: 0;
            position: absolute;
            bottom: 0;
        }
    }
}