@use '~ScssAbstracts' as *;

/* ------------------------------------ *\
 * #PARAGRAPH
\* ------------------------------------ */

$block-p: 'paragraph';

.#{$block-p} {
    @include font($body);

    color: var(--text-color);
    margin-top: $baseline;

    @include e('base') {
        &.blurry-loader__loading-text {
            color: get-color($c-light, light);
        }
    }
}
