$type: "widget";
$block: "#{$type}-movie-seat-booking";

.#{$block} {
  // --color-page-background: #{get-color($c-light, light)};
  // --color-button-label: #{get-color($c-light, light)};
  // --color-container-background: #{get-color($c-light, cultured)};
  // --color-link: #{get-color($c-blue, indigo-blue)};
  // --color-success: #{get-color($c-green, emerald)};
  // --color-danger: #{get-color($c-red, cinnabar)};
  // --color-button-primary: #{get-color($c-blue, carolina-blue)};
  // --text-regular: #{$font-family-lato}; /* regular font family */
  // --text-code: #{$font-family-courierPrime}; /* code family */

  @include e("base") {
    @include flex($direction: column);

    min-width: convert-rem(400px);
    border-radius: convert-rem(5px);
    box-shadow: #{$shadow-container};
    padding: ($baseline * 2) 0;
    background-color: get-color($c-light, cultured);
  }

  @include e("movie-picker") {
    margin: 0 0 convert-rem(20px) 0;
  }

  @include e("select") {
    @include font($select);

    padding: convert-rem(5px) convert-rem(15px);
    margin-left: convert-rem(10px);
    background-color: get-color($c-light, light);
    border: convert-rem(2px);
    border-radius: convert-rem(5px);
    appearance: none;
  }

  @include e("container") {
    margin-bottom: convert-rem(30px);
    perspective: convert-rem(1000px);
  }

  @include e("seat") {
    width: convert-rem(15px);
    height: convert-rem(12px);
    margin: convert-rem(3px);
    background-color: get-color($c-blue, dark-liver);
    border-top-left-radius: convert-rem(10px);
    border-top-right-radius: convert-rem(10px);

    &:not(.#{$block}__seat--occupied):hover {
      cursor: pointer;
      transform: scale(1.2);

      .#{$block}__showcase-list & {
        cursor: default;
        transform: scale(1);
      }
    }

    &:nth-of-type(2) {
      margin-right: $gutter;
    }

    &:nth-last-of-type(2) {
      margin-left: $gutter;
    }

    @include m("selected") {
      background-color: get-color($c-blue, french-sky-blue);
    }

    @include m("occupied") {
      background-color: get-color($c-light, cultured);
    }
  }

  @include e("showcase-list") {
    @include flex($main: space-between);

    padding: $baseline $gutter;
    background: get-color($c-dark, dark-10);
    border-radius: convert-rem(5px);
  }

  @include e("showcase-item") {
    @include flex();
    margin: 0 $gutter;
  }

  @include e("caption") {
    @include font($showcase);

    margin-left: convert-rem(2px);
  }

  @include e("row") {
    @include flex();
    background: get-color($c-dark, dark-10);
  }

  @include e("screen") {
    width: 100%;
    height: convert-rem(70px);
    margin: ($baseline * 2) 0;
    background-color: get-color($c-light, light);
    box-shadow: #{$shadow-screen};
    transform: rotateX(-45deg);
  }

  @include e("text") {
    margin: convert-rem(5px) 0;
  }

  @include e("count", "total") {
    color: get-color($c-blue, carolina-blue);
  }
}
