{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base title='Richest People' attributionFromHref='https://www.udemy.com/course/web-projects-with-vanilla-javascript/' attributionFromLabel='20 Web Projects With Vanilla JavaScript'}}
  {{{feLibs 'library' 'modules' 'quiz' 'richest-people' 'all'}}}

      <script
      src="https://kit.fontawesome.com/3da1a747b2.js"
      crossorigin="anonymous"
    ></script>

    <h1>10 Richest People</h1>
    <p>Drag and drop the items into their corresponding spots</p>
    <ul class="draggable-list" id="draggable-list"></ul>
    <button class="check-btn" id="check">
      Check Order
      <i class="fas fa-paper-plane"></i>
    </button>
{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}