// ATOMS

// MOLECULES

// ORGANISMS
@import "../../components/organisms/waveForm/waveForm.organism.scss";

// TYPES (Normal Emphasized Informative Warning Alert Error Success)
@import "../../components/organisms/waveForm/waveForm.types.scss";

// STATES (states of interactive elements)
// :default, ::placeholder, :placeholder-shown, :blank, :indeterminate, :checked, :optional,
// :required, :disabled, :enabled, :read-write, :read-only, :valid, :invalid, :in-range, :out-of-range
@import "../../components/organisms/waveForm/waveForm.states.scss";

// STATUSES
// ::selection, :hover, -webkit-tap-highlight-color, :focus, :focus-within, :active, :link, :visited
@import "../../components/organisms/waveForm/waveForm.statuses.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: #4682b4;
  color: #fff;
  font-family: #{$fontFam-mulish};
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* stylelint-disable */
.container {
  background-color: rgba(0, 0, 0, 40%);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: #add8e6;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #add8e6;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #add8e6;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: .3s cubic-bezier(.68, -.55, .265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control input.hasValue + label span {
  color: #add8e6;
  transform: translateY(-30px);
}

/* stylelint-enable */