// backgrounds
$c-bkg-white: rgb(226, 226, 226);
$c-bkg-item: rgb(236, 236, 236);
$c-bkg-header: rgb(26, 25, 44);
$c-bkg-slider-defed: rgb(135, 211, 129);
$c-bkg-slider-attack: #ce5959;

//text
$c-text-header: rgb(211, 209, 228);

// buttons
$c-button-white: rgb(232, 246, 219);

// extras
$c-darkgrey: rgb(59, 59, 59);
$c-grey: rgb(114, 114, 114);
$c-lightgrey: rgb(173, 173, 173);