@import "variables.scss";

$avatars: ("police", "thug");

.player {
    &__policeAvatar {
        @include bkgImage("police-avatar");
    }

    &__thugAvatar {
        @include bkgImage("thug-avatar");
    }

    &__base {
        display: flex;
        justify-content: space-between;
    }

    &__avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__image {
        @include avatarImage();
        margin: 3px;
        align-self: center;
    }

    &__stats {
        width: 200px;
        border: 1px solid $c-darkgrey;
        margin: 0 5px;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-text {
            font-size: 24px;
            margin-bottom: 8px;
        }

        &-container {
            display: flex;
            align-items: center;

            &--left {
                flex-direction: column-reverse;
            }

            &--right {
                flex-direction: column;
            }

            @media (min-width: $tablet) {
                flex-direction: row;
            }
        }
    }

    &__name {
        &-input--one,
        &-input--two {
            @include inputField();
        }
    }

    &__select {
        &-base,
        &-info,
        &-police,
        &-thug {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-text {
            text-align: center;
            font-size: $baseline * 3;
        }

        &-button {
            justify-self: center;
        }

        &-image {
            @include avatarImage();
        }
    }
}
