@import "../../../_commons/scss/_01_abstracts/abstracts.scss";

/* Dependencies */
@import "../../../atoms/image/scss/main.entry.scss";
@import "../../../atoms/paragraph/scss/main.entry.scss";

/* ------------------------------------ *\
 * BLURRY-LOADER
\* ------------------------------------ */

$block: "blurry-loader";

.#{$block} {
    @include e("base") {
        @include relative();
        color: #ff1;
    }

    @include e("background-image") {
        filter: blur(0);
    }

    @include e("loading-text") {
        @include absolute($top: 50%, $left: 50%);
        color: get-color($c-light, light);
    }
}
