/* ------------------------------------ *\
  * GENERIC TEMPLATE LAYER
\* ------------------------------------ */

@import "../../_01_abstracts/abstracts.scss";

@import "../../_04_layouts/grid/minimalist/minimalist.scss";

@import "../../_05_library/_01_components/typography/heading.scss";
@import "../../_05_library/_01_components/typography/link.scss";

@import "../../_05_library/_02_patterns/link-list.scss";
@import "../../_05_library/_01_components/typography/list-unordered.scss";

@import "../../_05_library/_03_modules/main.scss";
