/* ------------------------------------ *\
  * NAVIGATION-TABS-JS
\* ------------------------------------ */

@import "../../_01_abstracts/abstracts.scss";

@import "../../_04_layouts/grid/minimalist/minimalist.scss";

@import "../../_05_library/_01_components/typography/paragraph.scss";
@import "../../_05_library/_01_components/typography/heading.scss";
@import "../../_05_library/_01_components/button.scss";

@import "../../_05_library/_02_patterns/navigation-tabs-js.scss";

@import "../../_05_library/_03_modules/header.scss";
@import "../../_05_library/_03_modules/main.scss";
