{{#if isBody}}

  <body class='grid'>
      <link rel="stylesheet" href="/layouts/grid/12-col-flexbox-grid.css">
    {{> @partial-block}}
  </body>
{{/if}}


{{#if isDiv}}
  <link rel="stylesheet" href="/layouts/grid/12-col-flexbox-grid.css">
  <div class='grid'>
    {{> @partial-block}}
  </div>
{{/if}}