/* ------------------------------------ *\
 * ICON
\* ------------------------------------ */

$type: "cmp";
$block: "#{$type}-icon";

.#{$block} {
  @include e("base") {
    @extend %display-inline-block;

    width: convert-rem(96px);
    height: convert-rem(96px);
    stroke-width: 0;
    stroke: currentcolor;
    fill: currentcolor;
  }
}
