@import "../../../_commons/scss/_01_abstracts/abstracts.scss";

/* ------------------------------------ *\
 * #PARAGRAPH
\* ------------------------------------ */

$block: "paragraph";

.#{$block} {
    @include e("base") {
        @include font($body);

        color: var(--text-color);
        margin-bottom: $baseline * 2;
    }
}
