/* -------------------------------------------------------------------------
 * DOCUMENT
 *
 * Based on inuitcss reference
 * Adapted to haiticss scoped mode
 *
 * Simple page-level setup
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward `jumps` when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 *
 */

html {
    font-family: var(--text-font-family-regular);
    color: var(--text-color);
    background-color: var(--background-color-generic);
    overflow-y: scroll;
    min-height: 100%;
    line-height: 1.15;
    font-size: convert-rem(16px);
    position: relative;

    > * {
        width: 100%;
    }
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
    display: block;
}
