/* ==========================================================================
 * Form
 * ========================================================================== */

input,
textarea,
select,
option,
button,
fieldset,
datalist,
output,
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    vertical-align: baseline;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-shadow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    word-spacing: inherit;
    word-break: inherit;
    word-wrap: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
