/* ------------------------------------ *\
 * LINKS
 *
 * Define some minimal links styles
\* ------------------------------------ */

a {
    color: var(--text-link-color);
    text-decoration: none;

    @include on-event() {
        color: var(--text-link-color-hover);
        text-decoration: underline;
    }
}
