{{#> templates/base/markup/partials/_base-demo-container}}

    {{{feLibs 'library' 'patterns' 'digital-clock' 'digital-clock-v2' 'all'}}}

  <div class="digital-clock__base js-digital-clock-v2 row"></div>
{{/ templates/base/markup/partials/_base-demo-container}}