{{#> templates/base/markup/partials/_base-demo-container title='Digital Clock - Pattern'}}

  {{{feLibs 'library' 'components' 'typography' 'time-text' 'css'}}}
  {{{feLibs 'library' 'patterns' 'digital-clock' 'digital-clock' 'all'}}}

  <div class="digital-clock__base js-digital-clock" data-js-pat="DigitalClock">
    <time class="time-text__base js-digital-clock__time" datetime="">-</time>
  </div>
{{/ templates/base/markup/partials/_base-demo-container}}