$type: "cmp";
$block: "#{$type}-checkbox";

.#{$block} {
    @include e("label") {
        @include font($label);

        margin-bottom: 8px;
        display: inline-block;
    }

    @include e("input") {
        margin-right: 8px;
        display: inline-block;
    }
}
