
{{#> templates/base/markup/partials/_base-demo-container}}

    {{{feLibs 'library' 'modules' 'counter' 'counter' 'all'}}}

<div data-js-page="Counter">
  <section data-js-component="Counter" id="counter">
    <section class="counter__base" >
      <h2 class="counter__title-heading">Counter</h2>
      <div class="counter__container" id="body">
        <output class="counter__output">0</output>
        <button class="counter__button" type="button">Bump Count!</button>
      </div>
    </section>
  </section>
</div>

{{/ templates/base/markup/partials/_base-demo-container}}