@use '@wbk-frontend-forge/_shared__styles/src/abstracts/index.scss' as *;

.toast-demo__surface {
    position: relative;
    min-height: 240px;
    padding: 2rem;
    border-radius: 16px;
    background: rebeccapurple;
}

.btn {
    background-color: #fff;
    color: rebeccapurple;
    font-weight: 700;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.toast-demo__toasts {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.toast.info { color: rebeccapurple; }
.toast.success { color: green; }
.toast.error { color: red; }
