{{#> ../../../pages/basepage/markup/basepage.page hasJS=true}}
  <div class="scrollspy_base" data-js-pat="Scrollspy">
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
    <div class="box">
      <h2>Content</h2>
    </div>
  </div>
{{/ ../../../pages/basepage/markup/basepage.page}}
