{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Auto Toggle' 
      attributionFromHref='https://www.udemy.com/course/50-projects-50-days/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}

  {{{feLibs 'library' 'patterns' 'toggle-group' 'auto-toggle' 'all'}}}

  <h2>How do you want your project to be?</h2>
  <div class="toggle-container">
    <input type="checkbox" id="good" class="toggle">
    <label for="good" class="label">
      <div class="ball"></div>
    </label>
    <span>Good</span>
  </div>

  <div class="toggle-container">
    <input type="checkbox" id="cheap" class="toggle">
    <label for="cheap" class="label">
      <div class="ball"></div>
    </label>
    <span>Cheap</span>
  </div>

  <div class="toggle-container">
    <input type="checkbox" id="fast" class="toggle">
    <label for="fast" class="label">
      <div class="ball"></div>
    </label>
    <span>Fast</span>
  </div>

  {{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}