$type: "o";
$block: "#{$type}-waveForm";

.#{$block} {
  @include e("base") {
    &:nth-of-type(2) {
      margin-right: $gutter;
    }

    &:nth-last-of-type(2) {
      margin-left: $gutter;
    }
  }
}
