{{#> ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base 
      title='Ripple Button' 
      attributionFromHref='https://www.udemy.com/course/javascript-web-projects-to-build-your-portfolio-resume/' 
      attributionFromLabel='50 Projects In 50 Days - HTML, CSS & JavaScript'}}
  {{{feLibs 'library' 'components' 'button' 'ripple-button' 'all'}}}
  <button class="ripple">Click Me</button>
{{/ ./templates/dev-days-matrix/markup/partials/_dev-days-matrix-base}}