<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

  <!-- PT SANS -->
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=pt-sans:400,700" rel="stylesheet">



</head>

<!-- Change code below this line -->

<body>
  <div class="card">
    <header class="header row ai-cen jc-sb gap-2">
      <button>
        <i class="fa-regular fa-chevron-left"></i>
      </button>
      <h2>Bergen-Budapest</h2>
      <button>
        <i class="fa-regular fa-ellipsis"></i>
      </button>
    </header>

    <main class="main">
      <ul class="options">
        <li class="row gap-half option">
          <div class="checkbox-wrapper">
            <label class="checkbox">
              <input name="checkbox" class="checkbox__trigger sr-only" type="checkbox" checked="">
              <span class="checkbox__symbol">
                <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 14l8 7L24 7"></path>
                </svg>
              </span>
            </label>
          </div>
          <ul class="details">
            <h3>Flight booked</h3>
            <p class="small">Confirmation Code</p>
            <h2>678900</h2>
            <button class="btn">Show booking summary</button>
          </ul>

        </li>

        <li class="row gap-half option">
          <div class="checkbox-wrapper">
            <label class="checkbox">
              <input name="checkbox" class="checkbox__trigger sr-only" type="checkbox" checked="">
              <span class="checkbox__symbol">
                <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 14l8 7L24 7"></path>
                </svg>
              </span>
            </label>
          </div>
          <ul class="details">
            <h3>Preparation</h3>
            <p class="tag small">Priority</p>
            <button class="btn">Add services</button>
          </ul>
        </li>

        <li class="row gap-half option">
          <div class="checkbox-wrapper">
            <label class="checkbox">
              <input name="checkbox" class="checkbox__trigger sr-only" type="checkbox" checked="">
              <span class="checkbox__symbol">
                <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 14l8 7L24 7"></path>
                </svg>
              </span>
            </label>
          </div>
          <ul class="details">
            <h3>Check-In</h3>
            <p>All passengers checked in</p>
            <span class="row ai-cen gap-half">
              <p class="tag small">AG</p>
              <p class="tag small">II</p>
            </span>
          </ul>
        </li>

        <li class="row gap-half option">
          <div class="checkbox-wrapper">
            <label class="checkbox">
              <input name="checkbox" class="checkbox__trigger sr-only" type="checkbox">
              <span class="checkbox__symbol">
                <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 14l8 7L24 7"></path>
                </svg>
              </span>
            </label>
          </div>
          <ul class="details">
            <h3>Packing</h3>
            <p class="mw-p">You may upgrade your baggage up to three hours before departure</p>
            <button class="btn">Add baggage</button>
          </ul>
        </li>

      </ul>
    </main>
  </div>



  <style>
    /* SETUP and RESET */

    :root {
      font-size: 62.5%;

      --fs-h1-clamp: clamp(2.25rem, 1.0184rem + 2.683vw, 3rem);
      --fs-h2-clamp: clamp(1.75rem, 0.8818rem + 2.0723vw, 2.25rem);
      --fs-h3-clamp: clamp(1.5rem, 0.7607rem + 1.75vw, 2rem);
      --fs-body-clamp: clamp(1.5rem, 0.6548rem + 1.2259vw, 1.8rem);
      --fs-small-clamp: clamp(1.2rem, 0.4821rem + 0.7143vw, 1.5rem);


      --ff-primary: 'PT Sans';
      --ff-secondary: 'Font Awesome 6 Pro';

      --fs-h1: var(--fs-h1-clamp);
      --fs-h2: var(--fs-h2-clamp);
      --fs-h3: var(--fs-h3-clamp);
      --fs-body: var(--fs-body-clamp);
      --fs-small: var(--fs-small-clamp);

      --clr-primary: hwb(0 52% 47%);
      --clr-secondary: hwb(194.39121840988625 35% 95%);
      --clr-neutral-100: #FFF;
      --clr-neutral-900: #000;
      --clr-desat: hwb(0 83% 20%);

      --clr-bg-body: linear-gradient(to right,
          oklab(76% -0.17 -0.35) 0%, oklab(76% -0.28 -0.29) 100%);
      ;
      --clr-bg-card: var(--clr-neutral-100);
      --clr-accent-primary: oklab(76% -0.17 -0.35);
      --clr-accent-secondary: oklab(76% -0.28 -0.29);
      --clr-checked: rgb(89, 255, 47);

      --min-width: 30rem;
      --width-min: min(100%, var(--min-width));
    }


    @media (prefers-reduced-motion: no-preference) {

      *,
      *:before,
      *:after {
        scroll-behavior: smooth;
      }

      ;
    }

    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
    }


    img,
    svg {
      display: block;
      max-width: 100%;
    }

    a {
      color: inherit;
      font: inherit;
      text-decoration: none;
      display: inline-block;
    }

    li {
      list-style: none;
    }

    input,
    textarea {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      background-color: transparent;
      border: 1px solid rgba(0 0 0 / .7);
      width: 100%;
    }

    /* REMOVE DEFAULT SPINNERS FROM NUMBER INPUTS */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    button {
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
    }

    ::-webkit-scrollbar {
      height: 4px;
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--clr-accent);
    }

    ::placeholder {
      color: inherit;
      opacity: .7;
    }

    ::selection {
      background-color: var(--clr-primary);
    }

    .sr-only {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }


    /* CLIP PROPERTIES  */
    /* background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */


    /* **********UTILITY CLASSES********** */

    .asp-rat-1 {
      aspect-ratio: 1;
    }

    .transition-250 {
      transition: all 250ms ease-in-out;
    }

    .transition-300 {
      transition: all 300ms ease-in-out;
    }

    /* GRID AND FLEX UTILITY CLASSES */
    .row {
      display: flex;

    }

    .col {
      display: flex;
      flex-direction: column;
    }

    .grid {
      display: grid;
    }

    .pc-cen {
      place-content: center;
    }

    .pi-cen {
      place-items: center;
    }

    .ac-st {
      align-content: start;
    }

    .ac-cen {
      align-content: center;
    }

    .ac-end {
      align-content: end;
    }

    .ac-sb {
      align-content: space-between;
    }

    .ac-sa {
      align-content: space-around;
    }

    .ai-st {
      align-items: start;
    }

    .ai-cen {
      align-items: center;
    }

    .ai-end {
      align-items: end;
    }

    .jc-st {
      justify-content: start;
    }

    .jc-cen {
      justify-content: center;
    }

    .jc-end {
      justify-content: end;
    }

    .jc-sb {
      justify-content: space-between;
    }

    .jc-sa {
      justify-content: space-around;
    }

    .jc-se {
      justify-content: space-evenly;
    }

    .as-st {
      align-self: start;
    }

    .as-cen {
      align-self: center;
    }

    .as-end {
      align-self: end;
    }

    .js-st {
      justify-self: start;
    }

    .js-cen {
      justify-self: center;
    }

    .js-end {
      justify-self: end;
    }

    .fg-1 {
      flex-grow: 1;
    }

    .fs-0 {
      flex-shrink: 0;
    }

    .fw-wrap {
      flex-wrap: wrap;
    }

    .fb-100 {
      flex-basis: 100%;
    }

    .gap-2 {
      gap: 2em;
    }

    .gap-1 {
      gap: 1em;
    }

    .gap-half {
      gap: .5em;
    }

    .gap-quarter {
      gap: .25em;
    }

    /* ELEMENT SELECTORS */

    body {
      font-family: var(--ff-primary);
      font-size: var(--fs-body);
      font-weight: 400;
      line-height: 1.4;
      color: var(--clr-primary);
      text-wrap: pretty;
      margin: 0;
      background: var(--clr-bg-body);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    h1 {
      font-size: var(--fs-h1);
      text-wrap: balance;
      line-height: 1;
      font-weight: 600;
    }

    h2 {
      font-size: var(--fs-h2);
      line-height: 1;
      font-weight: 600;
    }

    h3 {
      font-size: var(--fs-h3);
      line-height: 1;
      font-weight: 600;
    }

    .small {
      font-size: var(--fs-small);
    }

    .desat {
      opacity: 0.8;
    }

    .bold {
      font-weight: 600;
    }

    /* LAYOUT */

    .card {
      background-color: var(--clr-bg-card);
      border-radius: 0.5em;
      overflow: hidden;
      animation: entrance 1000ms ease-out;
    }

    /* PROJECT SPECIFIC STYLES */
    .card header {
      padding: 0.8em 1.5em;
      background-color: var(--clr-desat);
    }

    .card h2 {
      color: var(--clr-secondary);
    }

    .card h3 {
      color: var(--clr-accent-primary);
    }

    .main {
      padding: 1.5em;
    }

    .main .options {
      background-image: linear-gradient(to right, transparent 0% 3%, var(--clr-desat) 0 4%, transparent 0 100%);
    }

    .main .option {
      margin-block-end: 1.2em;
    }

    .option .mw-p {
      max-width: 30ch;
    }

    .option .tag {
      background-color: var(--clr-desat);
      width: fit-content;
      padding: 0.4em 0.8em;
      border-radius: 0.8em;
      margin-block-end: 1.2em;
    }

    .main .details p.small {
      margin-block-start: 1em;
    }


    .btn {
      background-color: var(--clr-accent-primary);
      color: var(--clr-neutral-100);
      padding: 0.4em 1em;
      border-radius: 0.4em;
      text-transform: uppercase;
      font-size: var(--fs-small);
      margin-block-start: 1em;
      transition: background-color 300ms;

      &:is(:hover, :focus-visible) {
        background-color: var(--clr-accent-secondary);
      }
    }


    /* CHECKBOX */

    .checkbox-wrapper {
      /* spacing */
      --s-xsmall: 0.625em;
      --s-small: 1.2em;

      /* sizing */
      --circle-width: 1.5em;
      --border-width: 2px;
      --border-radius: 50%;

      /* colors */
      --bg-clr-default: var(--clr-desat);
      --border-clr-default: var(--bg-clr-default);
      --bg-clr-checked: var(--clr-checked);
      --border-clr-checked: var(--bg-clr-checked);
      --c-primary: var(--clr-primary);
      --c-primary-20-percent-opacity: rgba(0, 128, 0, 0.2);
      --c-primary-10-percent-opacity: rgba(0, 128, 0, 0.1);

      /* transition */
      --t-base: 0.4s;
      --t-fast: calc(var(--t-base) / 2);
      --e-in: ease-in;
      --e-out: cubic-bezier(.11, .29, .18, .98);
    }

    /* hide input element */
    .checkbox-wrapper .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    /* UNCHECKED/DEFAULT STATES */

    /* direct child of wrapper/ label that wraps the elements */
    .checkbox-wrapper .checkbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    /* span that wraps the svg (the circle) */
    .checkbox-wrapper .checkbox__symbol {
      display: flex;
      margin-right: calc(var(--s-xsmall) * 0.7);
      border: var(--border-width) solid var(--border-clr-default);
      position: relative;
      border-radius: var(--border-radius);
      width: var(--circle-width);
      aspect-ratio: 1;
      transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base), border var(--t-base);
      box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity), 0 0 0 0 var(--c-primary-20-percent-opacity);
      background-color: var(--bg-clr-default);
    }

    /* the "poof" */
    .checkbox-wrapper .checkbox__symbol:after {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0.5em;
      width: 0.25em;
      height: 0.25em;
      background-color: greenyellow;
      opacity: 0;
      border-radius: 3em;
      transform: scale(1);
      transform-origin: 50% 50%;
    }

    /* svg */
    .checkbox-wrapper .checkbox .icon-checkbox {
      width: 1em;
      height: 1em;
      margin: auto;
      fill: none;
      stroke-width: 5;
      stroke: var(--clr-neutral-100);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      color: black;
      display: inline-block;
    }

    /* svg path */
    .checkbox-wrapper .checkbox .icon-checkbox path {
      transition: stroke-dashoffset var(--t-fast) var(--e-in);
      stroke-dasharray: 30px, 31px;
      stroke-dashoffset: 31px;
    }

    /* WHEN CHECKED */
    .checkbox-wrapper:has(input:checked) .checkbox__symbol {
      background-color: var(--bg-clr-checked);
      border-color: var(--border-clr-checked);
    }


    .checkbox-wrapper:has(input:checked) .checkbox__symbol:after {
      -webkit-animation: ripple-33 1.5s var(--e-out);
      animation: ripple-33 1.5s var(--e-out);
    }

    .checkbox-wrapper:has(input:checked) .icon-checkbox path {
      transition: stroke-dashoffset var(--t-base) var(--e-out);
      stroke-dashoffset: 0px;
    }

    .checkbox-wrapper:has(:focus-within).checkbox__symbol {
      outline: 1px solid var(--c-primary);
      outline-offset: 1px;
    }

    @-webkit-keyframes ripple-33 {
      from {
        transform: scale(0);
        opacity: 1;
      }

      to {
        opacity: 0;
        transform: scale(20);
      }
    }

    @keyframes ripple-33 {
      from {
        transform: scale(0);
        opacity: 1;
      }

      to {
        opacity: 0;
        transform: scale(20);
      }
    }

    @keyframes entrance {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      20% {
        opacity: 1;
        transform: scale(1.2);
      }

      100% {
        opacity: 1;
        scale: 1;
      }
    }
  </style>
  <script type="module">
    // Add JavaScript code here
  </script>
</body><!-- Change code above this line -->

</html>