@import "~ScssAbstracts";
/* ------------------------------------ *\
 * NAVIGATION-TABS-JS
\* ------------------------------------ */

$block: "navigation-tabs-js";

.#{$block} {
    @include e("base") {
        @include flex($direction: column);
    }

    @include e("tab-list") {
        @include flex();
        margin-bottom: 16px;

        column-gap: $gutter;
    }

    @include e("panel") {
        display: none;
    }
}

/* stylelint-disable */
.tab-menu ul li a.active-a {
    background-color: #588d7d;
    color: #ffffff;
}

.tab h2 {
    color: rgba(0, 0, 0, 0.7);
}
.tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}
.active {
    display: block;
}
/* stylelint-enable */
